[2020-10-19 16:02] ToddKopriva commented on #1482
@ianmaddox , can you answer this question?

[2020-10-19 18:30] vinodgupta-tivo opened #1484 "Issue with tutorial"
Hi Google,

Tutorial Page https://cloud.google.com/community/tutorials/horizontally-scale-mysql-database-backend-with-google-cloud-sql-and-proxysql is having below given section which is having wrong comments. I am marking it in Bold Text and correct ones I am marking as Italic Text.

------
Declare rules with the following SQL queries:

        INSERT INTO mysql_rules (rule_id, active, match_dige

[2020-10-19 21:32] haydenlingle opened #1485 "Request for Tutorial on Hosting PERN app on Google Cloud Run"
I'm interested in using Google Cloud Run to host a React front-end application that speaks to an express backend, then using a Google PostgreSQL database too.  I would like to containerize the react app and express API and host them on Google Cloud Run. I think GCR could become the standard for hosting React apps in an approachable, scalable way, but there's not much documentation on the subject.

[2020-10-19 22:08] ToddKopriva commented on #1485
Thanks for the request.

If you have an urgent need for such information, I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2020-10-20 22:42] ToddKopriva commented on #57
closing outdated tutorial requests

[2020-10-20 22:42] #57 closed

[2020-10-20 22:43] ToddKopriva commented on #58
closing outdated tutorial requests

[2020-10-20 22:43] #58 closed

[2020-10-20 22:43] ToddKopriva commented on #60
closing outdated tutorial requests

[2020-10-20 22:43] #60 closed

[2020-10-20 22:46] ToddKopriva commented on #131
closing outdated tutorial requests

[2020-10-20 22:46] #131 closed

[2020-10-20 22:47] ToddKopriva commented on #197
closing outdated tutorial requests

[2020-10-20 22:47] #197 closed

[2020-10-21 21:27] ftntming opened #1486 "Issue with tutorials/setting-up-lamp/index.md"
Not working any more

[2020-10-21 21:29] ToddKopriva commented on #1486
@ftntming , can you give details of exactly what went wrong at what point in the document?

[2020-10-21 22:18] ftntming commented on #1486
I just tried and found the following about the tutorial

1. Does not cover Debian 10
2. Ubuntu 18.04 has problem installing Mysql 8 by apt (need to refer to another article to install it)
3. Ubuntu 20.04 had problem in "sudo mysql_secure_installation", in this particular step, even if I disabled the password security check plugin, and set a simple password 111111, it seems worked but actually it's

[2020-10-21 22:38] ToddKopriva commented on #1486
Thanks for the feedback. I'll have a look.

[2020-10-29 18:49] pietrodn commented on #762
I confirm this issue as of today. The documentation [here](https://cloud.google.com/community/tutorials/docker-gcplogs-driver) needs to be updated.

[2020-10-29 19:34] ToddKopriva commented on #762
Thanks for that confirmation, @pietrodn .

[2020-11-03 17:57] tenebreux opened #1502 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
tutorial stops working from "Create or update a WordPress project for App Engine"

[2020-11-03 18:10] tenebreux opened #1503 "Tutorial Request"
Dear lovely people,

Is it possible to get someone to create a tutorial that would be executed from an OSX terminal window that would work for a tutorial like this one: "Run WordPress on App Engine standard environment" ::: https://cloud.google.com/community/tutorials/run-wordpress-on-appengine-standard

I get stuck on the line where the tutorial runs composer. composer isn't available on a mac. e

[2020-11-03 18:10] tenebreux opened #1504 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
Dear lovely people,

Is it possible to get someone to create a tutorial that would be executed from an OSX terminal window that would work for a tutorial like this one: "Run WordPress on App Engine standard environment" ::: https://cloud.google.com/community/tutorials/run-wordpress-on-appengine-standard

I get stuck on the line where the tutorial runs composer. composer isn't available on a mac. e

[2020-11-04 00:52] ToddKopriva opened #1506 "Issue with tutorials/cloud-run-local-dev-docker-compose/index.md"
The instructions in the tutorial use an older version of the Cloud SQL proxy (1.14 -> 1.17). It needs to be updated and add instructions for specifying the nonroot user.

See this report:
https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/430

[2020-11-09 06:14] pjThinker opened #1507 "Issue with tutorials/compute-quickstart.md"
Issue Description
Think the todomvc mongo DB app is well deprecated, and currently am unable to make this work.
needs a newer version of node, and seems to have quite a few broken dependencies now.

[2020-11-09 12:47] MonksterFX commented on #1455
Same Issue over here with Version 1.27.4

[2020-11-09 16:44] ToddKopriva commented on #1507
Thanks for the report, @pjThinker .

[2020-11-16 01:29] pmaksymiak opened #1509 "Issue with tutorials/cbt-import-csv.md"
Hello! This is nice tutorial but I am getting errors:
[main] WARN org.apache.beam.sdk.util.RetryHttpRequestInitializer - Request failed with code 409, performed 0 retries due to IOExceptions, performed 0 retries due to unsuccessful status codes, HTTP framework says request can be retried, (caller responsible for retrying):
=projectPrivate&predefinedDefaultObjectAcl=projectPrivate&project=playgroun

[2020-11-17 22:06] ToddKopriva commented on #1509
@billyjacobson , could you take a look at this issue with a tutorial that you contributed?

[2020-11-25 23:27] ToddKopriva commented on #1486
fixed by this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1513

[2020-11-25 23:27] #1486 closed

[2020-11-25 23:28] ToddKopriva commented on #1201
fixed by this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1513

[2020-11-25 23:28] #1201 closed

[2020-11-25 23:28] ToddKopriva commented on #1053
fixed by this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1513

[2020-11-25 23:28] #1053 closed

[2020-11-27 00:55] iballina opened #1515 "Issue with tutorials/data-science-extraction/index.md"
Issue Description:

Regarding tutorial at:
https://cloud.google.com/community/tutorials/data-science-extraction

Could not proceed with tutorial because sample audio files do not exist anymore. The links to them redirect to empty buckets.

[2020-11-27 00:59] iballina opened #1516 "Issue with tutorials/data-science-preprocessing/index.md"
Issue Description:

Regarding tutorial at:
https://cloud.google.com/community/tutorials/data-science-preprocessing

There is a bug in the tutorial code. Line 138 raises:
`AttributeError: module 'apache_beam' has no attribute 'Read'`

[2020-11-27 12:51] mattia-molinario opened #1517 "tutorials/create-a-self-deleting-virtual-machine.md - Windows how-to request"
How can i achieve a similar result with a Windows VM?
I'd like to auto-delete the Windows VM after a fixed time from first user login.

[2020-11-27 18:11] ToddKopriva commented on #1515
Thanks for the report. I'll look into it.

[2020-11-28 12:28] PRenouf opened #1518 "Issue with tutorials/embedded-c-getting-started/index.md"
No resources for running the sample (unclear after cloning the MQTT sample)

[2020-11-30 21:05] engelke commented on #1517
I'm not an experienced Windows Server administrator, but the steps should be nearly identical. Instead of creating a bash script, you'll need to create a .cmd, .bat, or .ps1 script. You'll set the custom metadata using one of the Windows script names instead of startup-script (see https://cloud.google.com/compute/docs/startupscript#providing_a_startup_script_for_windows_instances). The gcloud and

[2020-11-30 21:05] #1517 closed

[2020-11-30 21:39] ToddKopriva commented on #1517
Thanks for the answer, @engelke .

[2020-12-01 00:13] ToddKopriva commented on #1067
fixed by this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1519

[2020-12-01 00:13] #1067 closed

[2020-12-02 21:29] ToddKopriva commented on #1432
addressed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1520

[2020-12-02 21:29] #1432 closed

[2020-12-02 22:31] xiangshen-dk commented on #1402
Looks like the firewall setup screenshot is from the **VPC network -> Firewall** page. Please check the instance firewall configuration. For example, make sure **Allow HTTP traffic** is checked for your instance under **Firewalls** at the **VM instance details** page.

[2020-12-06 14:31] Rsf00stg opened #1525 "Issue with tutorials/ar-subs/index.md"
Issue Description

[2020-12-07 16:55] ToddKopriva commented on #1525
The description is blank for this issue. Please give some details about the issue.

[2020-12-07 22:18] Nogbit commented on #1083
It's been some time and others are still using this, can anyone else make the change?

[2020-12-07 22:45] jschneider11 commented on #1083
+Landon Jarzynski <jarzynskil@google.com>

On Mon, Dec 7, 2020 at 2:19 PM Marcellus Miles <notifications@github.com>
wrote:

[2020-12-08 12:39] u12206050 opened #1528 "Issue with tutorials/run-laravel-on-appengine-standard/index.md"
Following these instructions on an existing Laravel project simply leads to 500 error and in the console log I only get this error: `Class view not found`

I believe it might have something to do with how Laravel is being bootstrapped, but not sure.

[2020-12-08 17:07] ToddKopriva commented on #1528
@bshaffer , could you have a look at this report of an issue with a document that you contributed?

[2020-12-08 19:01] ToddKopriva commented on #1083
@jarzynskila , could you take a look at this?

[2020-12-08 22:12] MoHayat opened #1529 "Issue with tutorials/appengine-ruby-rails-activejob-sidekiq.md"
trying to use option B listed in [this article](https://cloud.google.com/community/tutorials/appengine-ruby-rails-activejob-sidekiq) to run sidekiq in a service and running into two issues:

1. deployment script states that health check line in `worker.yaml` has been deprecated.
2. service has been timing out and not deploying, this is the message I receive every time I try to deploy:
```ERROR: (g

[2020-12-08 22:25] ToddKopriva commented on #1529
@chingor13 , could you have a look at this issue regarding a document that you contributed?

[2020-12-09 04:11] MoHayat commented on #1529
in case anyone might come across this article and issue -- I was able to figure out a solution by merging option A and B. I decided to test out option A by deploying a version where both web and worker are in a single app (using foreman) while serving none of the traffic, and I noticed that the jobs were run when endpoints were hit in a version that was serving all the traffic, but did not have th

[2020-12-09 14:59] #1525 closed

[2020-12-11 12:37] VGerris opened #1532 "Issue with tutorials/nginx-ingress-gke/index.md"
Issue Description

The tutorial uses Helm 2 and tiller while the latest version of ingress-nginx only uses helm 3 (no tiller):
https://kubernetes.github.io/ingress-nginx/deploy/

The tutorial can be modified to include that.

[2020-12-11 16:56] ToddKopriva commented on #1532
Thanks for the report, @VGerris .

@ameer00 , could you have a look at this request for an update to a document that you contributed?

[2020-12-11 17:42] grayside commented on #1506
I've begun looking into this, and so far identified a few changes to make:

1. Switch from Cloud SQL Proxy 1.14 to 1.19.1. Unfortunately I don't see a `1.19` tag to follow so the tutorial will not automatically incorporate patch releases.

2. Mount the service account key file inside the `/tmp` directory instead of a user home directory.

3. Override the Cloud SQL Proxy to run as root. This tutori

[2020-12-11 18:17] ToddKopriva commented on #1506
Thanks, @grayside .

[2020-12-11 18:51] #1506 closed

[2020-12-11 18:52] grayside commented on #1506
Brief follow-up on that error: I was trying to use a Postgres library to query a MySQL database.

[2020-12-11 18:54] ToddKopriva commented on #1506
Thanks for the clarification.

[2020-12-12 19:23] ToddKopriva commented on #769
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1534

[2020-12-12 19:23] #769 closed

[2020-12-14 20:26] ToddKopriva commented on #1529
If you want to submit a pull request with your suggested fix, that would be great. Thanks.

[2020-12-14 20:58] #1484 closed

[2020-12-14 20:59] ToddKopriva commented on #1484
I fixed the error in the source document. The published page will be updated when I rebuild it later this week with a batch publishing operation.

[2020-12-14 21:03] ToddKopriva commented on #1482
@will-hill , this page answers your question:
https://cloud.google.com/kms/docs/resource-hierarchy#algorithm

"Regardless of the algorithm, Cloud KMS uses probabilistic encryption, so that the same plaintext encrypted with the same key version twice does not encrypt to the same ciphertext."

[2020-12-14 21:03] #1482 closed

[2020-12-14 21:08] ToddKopriva commented on #1471
I'll fix the typo in the command.

Of course, that still leaves the larger problem of the repository not being available.

@anguillanneuf , can you look into what happened with the GitHub repository that this document refers to?
https://github.com/GoogleCloudPlatform/pubsub-spring-dedup-messages

[2020-12-14 21:56] #1355 closed

[2020-12-14 23:37] #1471 closed

[2020-12-15 09:49] MoHayat commented on #1529
of course, I'll get to work on that soon, thanks.

[2020-12-16 18:25] ToddKopriva commented on #1529
Thanks for the fix, @MoHayat .

[2020-12-16 18:25] #1529 closed

[2020-12-16 19:34] tomsykes opened #1545 "Issue with tutorials/run-symfony-on-appengine-standard/index.md"
This guide doesn't cover building assets with webpack/encore. It seems that the build server for composer based projects doesn't have either yarn or npm installed.

[2020-12-16 21:08] ToddKopriva commented on #1545
Thanks for the report. We'll have a look and see what improvements are needed here.

[2020-12-16 21:10] ToddKopriva commented on #1545
@bshaffer , could you give your thoughts on this request regarding a tutorial that you authored?
https://cloud.google.com/community/tutorials/run-symfony-on-appengine-standard

[2020-12-17 11:36] marcellheureux opened #1548 "lheureux536@gmail.com"

[2020-12-17 11:39] #1548 closed

[2020-12-19 14:14] palkerecsenyi opened #1549 "Issue with tutorials/nginx-ingress-gke/index.md"
Issue Description

This tutorial is quite outdated: Helm v3 no longer supports `helm init` and no longer uses Tiller. Please update.

[2020-12-20 21:23] TheBuzzer67 commented on #499
I Agree! No example working for now!

[2020-12-21 17:12] ToddKopriva commented on #1549
@ameer00 , could you take a look at this request regarding a tutorial that you contributed?

https://cloud.google.com/community/tutorials/nginx-ingress-gke

[2020-12-21 19:13] ameer00 commented on #1549
@ToddKopriva PR submitted with fix. Please review and merge.
https://github.com/GoogleCloudPlatform/community/pull/1551

[2020-12-21 19:21] ToddKopriva commented on #1549
Thanks, @ameer00 .

[2020-12-21 19:22] ameer00 commented on #1532
#1551 fixes this

[2020-12-21 19:22] #1532 closed

[2020-12-21 19:23] ameer00 commented on #1346
Updated tutorial for Helm v3. Tested end to end. This should work now (once #1551 is merged).

[2020-12-21 19:23] #1346 closed

[2020-12-21 19:27] ameer00 commented on #1307
Updated for Helm v3 which fixes this issue (after #1551 is merged)

[2020-12-21 19:27] #1307 closed

[2020-12-21 19:28] ameer00 commented on #1227
#1551 fixes this.

[2020-12-21 19:28] #1227 closed

[2020-12-21 20:22] ToddKopriva commented on #1549
fixed with PR #1551

[2020-12-21 20:22] #1549 closed

[2020-12-21 21:39] palkerecsenyi commented on #1549
That was quick! Thanks so much

[2020-12-22 20:42] anantdamle commented on #364
@visakha Can you explain what do you mean by non-blocking all the way for point-a?

[2020-12-22 21:22] anantdamle commented on #1148
@duttley @CarreauClement are you referring to [Count words with Dataflow and Python](https://cloud.google.com/community/tutorials/python-dataflow-quickstart) tutorial located [here](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/python-dataflow-quickstart.md)?

[2020-12-22 21:23] anantdamle commented on #1148
@duttley @CarreauClement can you point me to the related tutorial for me to take a look?

[2020-12-22 22:03] #1515 closed

[2020-12-22 22:34] anantdamle commented on #1516
@ToddKopriva this is thoroughly outdated. I will spend some time early 2021 to rewrite major portions of this tutorial.

[2020-12-22 22:48] ToddKopriva commented on #1516
Thanks a lot, @anantdamle .

[2020-12-22 22:59] anantdamle commented on #1504
@tenebreux Composer [documentation](https://getcomposer.org/doc/00-intro.md#installation-linux-unix-macos) describes a method to install on macOS. Is there some issue after following these steps?

[2020-12-23 02:32] raerevvo opened #1556 "Issues with tutorials/automl-tables-model-export"
Hi!

Thank you for creating the tutorial  "Export a custom AutoML Tables model and serve it with Cloud Run", it has been super helpful!  However I am receiving this error when attempting to retrieve predictions from Cloud Run: `{"error": "failed to connect to all addresses"}`.

Steps taken (followed the tutorial from the beginning, up to the Docker upload):
1. Built the docker image
2. Verified th

[2020-12-23 17:17] ToddKopriva commented on #1556
@amygdala , could you have a look at this report about a document that you submitted?

[2020-12-23 17:40] visakha commented on #364
We know that Java Servlet is blocking and that the number of active
sessions (or concurrent users) are limited by number of the threads that
are on the host machine.
With coming of Netty and other reactive spec, we can by pass the servlet
technologoes and use the reactive and non blocking paradigms.

for the App Engine Standard I was able to stand up a KTOR based web app, my
question is
is that KT

[2020-12-23 22:07] amygdala commented on #1556
Yes, will do (there may be a few days’ delay due to the holidays).  I wonder if something has changed about the Cloud Run auth config.
@raerevvo , did you happen to test whether you get this same issue with any other Cloud Run deployments?

[2020-12-24 17:35] 6010110254 opened #1557 "For community/tutorials/cloud-iot-gateways-rpi"
I tried to follow https://cloud.google.com/community/tutorials/cloud-iot-gateways-rpi
To the stage, Sending configuration updates from the IoT Core console toggles the LED device through the gateway device.
I will ask if I can write an app to configure it on android studio. Is there an example code? Thank you.

For example, I want to set ON on the app instead of on the console.

[2020-12-24 17:51] ToddKopriva commented on #1557
@hongalex , could you help with this question about a document that you contributed?

[2020-12-24 18:09] hongalex commented on #1557
Unfortunately, we don't have documentation on this specific combination. Our client libraries also currently does not support Android, so you will have to try another path.

You would likely need to set up a server that can handle requests from your android device, and have the server be authenticated to call the IoT Core API. If you need help with this, I would recommend posting on StackOverflow

[2020-12-24 18:09] #1557 closed

[2020-12-28 16:41] ToddKopriva commented on #1557
Thanks, @hongalex .

@6010110254 , as Alex suggests, I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2020-12-29 04:27] Axel-Jacobsen opened #1561 "Issue with SecretManager Python3 Tutorial"
(tutorial is `tutorials/secrets-manager-python/index.md`)

The issue occurs when attempting to retrieve the secret key, with the code snippet from the tutorial:

[code]

The error that I get is
[code]

It seems like AccessSecretVersionRequest is being passed my path, I am guessing in the `mapping` variable should be a `dict` instead of my path which is a `str`? I don't have time to dig into the co

[2020-12-29 15:58] ToddKopriva commented on #1561
@TheJaySmith , could you take a look at this issue reported about a tutorial that you contributed?

[2020-12-29 15:59] ToddKopriva commented on #1561
Thanks for the report, @Axel-Jacobsen .

[2020-12-29 17:42] TheJaySmith commented on #1561
https://github.com/GoogleCloudPlatform/community/pull/1562

[2020-12-29 19:27] #1561 closed

[2020-12-29 20:57] ToddKopriva opened #1563 "Issue with tutorials/using-ha-vpn-with-aws/index.md"
We received a bug through a different reporting system about this document, so I'm recording the issue here so that it can be seen by all who maintain the documents in this repository.

https://cloud.google.com/community/tutorials/using-ha-vpn-with-aws

[2020-12-29 23:22] Axel-Jacobsen commented on #1561
Cheers folks! :)

[2020-12-30 22:51] raerevvo commented on #1556
Apologies for the delay with the holidays. Yes @amygdala I have tested a `hello world` Cloud Run deployment, outlined in [this guide](https://cloud.google.com/run/docs/quickstarts/build-and-deploy). I was able to deploy this and execute a `curl GET` request with the correct response received. Thanks!

[2020-12-31 03:39] ToddKopriva commented on #1503
closing as a duplicate of this:
https://github.com/GoogleCloudPlatform/community/issues/1504

[2020-12-31 03:39] #1503 closed

[2020-12-31 03:48] #213 closed

[2020-12-31 03:58] ToddKopriva commented on #227
@dgonzalez , is this still on your radar?

[2020-12-31 03:58] #235 closed

[2020-12-31 04:01] ToddKopriva commented on #242
Start here:
https://cloud.google.com/python/django

[2020-12-31 04:01] #242 closed

[2020-12-31 04:07] #254 closed

[2020-12-31 04:10] ToddKopriva commented on #274
Here's a document about setting up a Minecraft server on Google Cloud:
https://cloud.google.com/solutions/gaming/minecraft-server

[2020-12-31 04:10] #274 closed

[2020-12-31 04:17] #325 closed

[2020-12-31 04:19] #326 closed

[2020-12-31 04:20] #1016 closed

[2020-12-31 04:27] #361 closed

[2020-12-31 04:28] #341 closed

[2020-12-31 04:36] #606 closed

[2020-12-31 05:16] ToddKopriva commented on #719
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1513

[2020-12-31 05:16] #719 closed

[2020-12-31 05:29] #1087 closed

[2020-12-31 18:59] ToddKopriva commented on #595
The correct UI and process are here:
https://cloud.google.com/appengine/docs/flexible/nodejs/migrating-traffic#migrating_traffic_to_a_new_version

Because this tutorial is out of date, I'll archive it.

[2020-12-31 19:05] ToddKopriva commented on #595
https://github.com/GoogleCloudPlatform/community/pull/1565

[2020-12-31 19:05] #595 closed

[2020-12-31 20:25] ToddKopriva commented on #746
The new Ghost installation instructions are here:
https://ghost.org/docs/install/local/

I'll update the document with that link.

[2020-12-31 20:37] ToddKopriva commented on #746
updated with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1566

[2020-12-31 20:37] #746 closed

[2021-01-01 00:13] ToddKopriva commented on #1273
There's a good answer from one of my coworkers here:
https://stackoverflow.com/questions/43456630/access-google-drive-api-from-a-google-cloud-function

[2021-01-01 00:13] #1273 closed

[2021-01-01 00:21] #1373 closed

[2021-01-01 00:27] #1389 closed

[2021-01-01 00:31] ToddKopriva commented on #1406
@FelipeLujan , could you take a look at this report about a tutorial that you submitted?

[2021-01-01 00:41] ToddKopriva commented on #1413
@bshaffer , can you have a look at this issue about a tutorial that you submitted?

[2021-01-04 18:33] ToddKopriva commented on #1367
It seems that the answer from @cgageat has resolved this issue.

[2021-01-04 18:33] #1367 closed

[2021-01-05 23:22] amygdala commented on #1556
@raerevvo -- To keep you posted: the `gcr.io/cloud-automl-tables-public/model_server` image has changed since I wrote that tutorial, and the issues are related in some way to how the new image works.

More specifically: With a **local** run of the new container image, I see log messages like this, that did not occur with the older `model_server` image:
[code]
then a bit later:
`INFO:root:connectiv

[2021-01-05 23:25] amygdala commented on #1556
Btw -- in the process I noticed that there is a typo in the "Build a container to use for Cloud Run" section -- for the Dockerfile,
`ADD model-export/tbl/[YOUR_RENAMED_DIRECTORY]/models/default/0000001`
should be
`ADD model-export/tbl/[YOUR_RENAMED_DIRECTORY] /models/default/0000001`

It sounds like you figured that out though. I'll put in a PR to fix.

[2021-01-05 23:34] ToddKopriva commented on #1556
Thanks, @amygdala .

[2021-01-07 14:15] dinigo commented on #1556
I've been having this issue for the last half a year. It looks like it stabilizes (this transient error loop) and starts serving the model. But the response is as mentioned by @raerevvo .

Thanks for bringing this up

[2021-01-07 19:34] amygdala commented on #1556
Thanks for the additional repro.  Interesting, you are right -- after about 10 mins the loop does stabilize!  I guess in my tests I hadn't given it enough time.
We have an internal bug filed to look into this.  (It won't work to use the older base image for current models as there have been some changes).

cc @helinwang as FYI

[2021-01-07 21:17] amygdala commented on #1556
Interestingly, when I deployed a cloud run version set to always have 1 instance running,  then let this deployment sit for 30 mins, then tried it, prediction seems to work reliably (so far).
The min instance config can be accomplished via a gcloud sdk beta feature, e.g.:
`gcloud beta run deploy --min-instances 1 ... `

So a temp workaround may be a combination of 1) let the deployment sit for 'a

[2021-01-09 12:46] elemwr opened #1578 "Issue with tutorials/deploy-react-nginx-cloud-run/index.md"
gcloud builds submit --tag gcr.io/[YOUR_PROJECT_ID]/cra-cloud-run
.
.
.
Step 4/12 : RUN yarn
 ---> Running in cb4d3203ea59
yarn install v1.21.1
info No lockfile found.
[1/4] Resolving packages...
[91mwarning react-scripts > eslint-loader@3.0.2: This loader has been deprecated. Please use eslint-webpack-plugin
[0m[91mwarning react-scripts > fsevents@2.0.7: "Please update to latest v2.3 or v2.2"

[2021-01-09 19:20] dinigo commented on #1556
I was actually using this beta feature too.  But it failed to serve results. In my case it returns this "failed to connect to all addresses" JSON error response.

I will try again in case they have updated something in the image. But the image itself is kind of obscure. They don't provide a changelog nor an explanation of "why can't I load this model as I normally would with any other TF model"

[2021-01-14 08:10] abbasogaji opened #1584 "Tutorial Request: How to Setup Global Static IP address for an nginx controller on GKE"

[2021-01-14 08:20] abbasogaji opened #1585 "Tutorial Request: configuring domain name and static IP address for nginx controller"

[2021-01-15 19:02] ToddKopriva opened #1586 "Issue with tutorials/dlp-hybrid-inspect/index.md"
https://cloud.google.com/community/tutorials/dlp-hybrid-inspect

"hybrid inspection method" link is broken.

[2021-01-15 19:07] abbasogaji commented on #1585
its pretty straightforward, but it would be nice to clear and concise documentation on this

[2021-01-15 23:30] MontejoJorge opened #1587 "Issue with tutorials/run-laravel-on-appengine-standard/index.md ERR_TOO_MANY_REDIRECTS"
When I run the project locally with php artisan server it works perfectly, but when I upload it to gcloud I get the error: ERR_TOO_MANY_REDIRECTS. I tried to use private browsing and delete the cookies.

https://summoner-298715.ew.r.appspot.com/

[2021-01-18 19:05] ToddKopriva commented on #1587
@bshaffer , can you have a look at this issue regarding a document that you contributed?

[2021-01-19 01:03] anantdamle commented on #1586
@ToddKopriva #1579 fixes this issue, you can mark this resolved once the changes go live.

[2021-01-19 01:12] anantdamle commented on #1516
@iballina circling back, do you expect only updating this code to work or a rewrite of the article?

[2021-01-19 01:16] ToddKopriva commented on #1586
Thanks, @anantdamle .

[2021-01-19 01:16] #1586 closed

[2021-01-19 03:47] edbergavera commented on #1587
@MontejoJorge can you please post here your `app.yaml`  just leave out sensitive information. Also what version of Laravel you are using.

[2021-01-19 16:32] MontejoJorge commented on #1587
I tried a newly created project and could access it without any problem, I will check my code to find out what the problem was.
Thanks for your concern!

[2021-01-19 16:32] #1587 closed

[2021-01-19 16:44] ToddKopriva commented on #1587
Thanks for letting us know, @MontejoJorge .

[2021-01-20 16:51] ToddKopriva opened #1589 "outdated table name"
https://cloud.google.com/community/tutorials/horizontally-scale-mysql-database-backend-with-google-cloud-sql-and-proxysql

The database table name 'mysql_rules' has been changed to 'mysql_query_rules'. Queries using the old table name return 'ERROR 1045 (#2800): no such table: mysql_rules.'

Reference: https://proxysql.com/documentation/getting-started/

[2021-01-25 02:53] Ryuyxx opened #1596 "Unclear role name on permissions"
#### When adding a role in the IAM & Admin [GUI screen](https://console.cloud.google.com/iam-admin/iam?), it is confusing if there is an exact same name.
In fact, I wanted to add a Cloud Run Service Agent, but the name and description are the same and I don't understand the difference.
I would like to see some kind of difference clearly stated.
<div align="center">
<img width="500" alt="CloudRun_S

[2021-01-29 05:43] finallyRaunak opened #1603 "post-install-cmd not working in Google App Engine Flexible Environment"
Hi,

I am trying to update a file permission via composer's `post-install-cmd` but seems to me it is not working correctly though in the log it says the command executed correctly but when I log in to the VM it still show the incorrect permission.

This is what I have in `/composer.json`

[code]

Here is the screenshot of Cloud Build

<img width="859" alt="gcp file permission issue" src="https://u

[2021-01-29 09:19] amsyvah opened #1604 "Issue with tutorials/setting-up-lamp/index.md"
Initial test fails to get GCloud external IP after installing apache2 and php,

user@cloudshell:~ (cloudlearn-30xxx)$ echo '<!doctype html><html><body><h1>Hello World!</h1></body></html>' | sudo tee /var/www/h
tml/index.html
<!doctype html><html><body><h1>Hello World!</h1></body></html>
user@cloudshell:~ (cloudlearn-30xxx)$ http://34.89.xx.xxx
-bash: http://34.89.xx.xxx: No such file or directory

[2021-01-29 16:23] ToddKopriva commented on #1603
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2021-01-29 16:23] #1603 closed

[2021-01-29 17:22] finallyRaunak commented on #1603
Hi @ToddKopriva ,

Thanks for the response, I might have asked it as a question but it feels like there is an issue with App Engine which is not updating the correct permission after deploying.

Anyways I will ask in the support form as well.

Thanks.

[2021-01-30 23:31] amsyvah commented on #1604
Resolved.  I have http working, lamp running.  If ToddKopriva wishes to understand the bug that was, the log files can be set up for access.  Thank you

[2021-01-30 23:32] amsyvah commented on #1604
and the history of ssh commands as well.

[2021-01-31 00:52] ToddKopriva commented on #1604
Thanks for reporting back that the issue is resolved.

If you have information to share that you think would bee helpful to others, please do share it.

[2021-02-01 08:44] amsyvah commented on #1604
Sharing history:   After following instructions from [https://cloud.google.com/community/tutorials/setting-up-lamp#setting-up-dns](url) lamp tutorial's hello world appears on http://external ip , phpinfo.php page is seen without any errors, but phpmyadmin does not display. The history is copied below.  Thank you

  1  ls
    2  ls/
    3  ls /
    4  sudo apt update && sudo apt -y install apache2

[2021-02-01 14:54] thanh90 commented on #1281
what is the status of this bug ? i got the same problem when uploading a recorded wav file from ios

[2021-02-01 16:26] ToddKopriva opened #1605 "Update openjdk-8-jdk dependency"
moving a request from our internal bug database to this repository's issues:

-------------------

https://cloud.google.com/community/tutorials/bigtable-oc

Remove openjdk-8-jdk dependency or update with the instructions to install openjdk-8-jdk on GCE instance.

echo "deb http://ftp.us.debian.org/debian sid main" | sudo tee -a /etc/apt/sources.list \
&& sudo apt-get update \
&& sudo apt-get insta

[2021-02-04 02:05] sripathivenky opened #1610 "Issue with tutorials/nginx-ingress-gke/index.md"
The nginix ingress rule given as:
Create a simple Ingress Resource YAML file that uses the NGINX Ingress Controller and has one path rule defined:

cat <<EOF > ingress-resource.yaml
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-resource
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - ho

[2021-02-04 10:53] palanibsm opened #1611 "Issue with tutorials/ghost-on-app-engine-part-1-deploying.md"
Issue Description: The Step "cp node_modules/ghost/core/server/config/env/config.development.json config.development.json" throws me an error that "No such file or directory". Because there is No such 'node_modules' directory. I have installed ghost and it works. But not sure where node_modules dir. Anyway I decided to create "config.development.json" manually and copied the content manually. Afte

[2021-02-05 09:15] Imsokray opened #1614 "Issue with tutorials/Real-time translation overlays"
After typing in the command:
python3 ar-subs.py --dev 1 --lang de-DE --maxchars 85 --fontsize 46 --position bottom
The pygame component begins and says "Press any key to start". Nothing happens when I press keys other than Return, which returns the following error:

Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running o

[2021-02-08 00:38] victorabarros opened #1615 "Missing how write gradlew on kotlin tutorial"
Hello folks!

I was reading the [Run a Kotlin Ktor app on App Engine standard environment](https://cloud.google.com/community/tutorials/kotlin-ktor-app-engine-java8) tutorial, same at [this file](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/kotlin-ktor-app-engine-java8/index.md), and at the step "[./gradlew appengineDeploy](https://github.com/GoogleCloudPlatform/community

[2021-02-08 04:12] Mohitp98 opened #1616 "Issue with tutorials/kubernetes-auth-openid-rbac.md"
While [Creating a Google API Console project and Client ID](https://cloud.google.com/community/tutorials/kubernetes-auth-openid-rbac#creating_a_google_api_console_project_and_client_id:~:text=permissions-,Creating%20a%20Google%20API%20Console%20project%20and%20client%20ID,Download%20the%20client%20secret%20JSON%20file%20of%20the%20credentials.,-Setting%20up%20a%20Kubernetes%20cluster)

Mentioned O

[2021-02-09 20:50] ljalvrdz opened #1619 "Issue with tutorials/metrics-export-with-mql"
Hello I just deployed the metrics export with MQL and it just worked once, I only see two records and the Cron has been running for hours. I see this error within Cloud Function logging:
[code]
Am I missing something? Any advice will be appreciated.

Regards

[2021-02-12 00:49] ljalvrdz commented on #1619
Making some more testing I found something interesting, I got this error while printing the result of the request:
[code]
My testing results match with this as the metric worked for about 30 minutes, that is also the time the token is good for. After some more testing I notice that the variable `token` never changes, it got assigned the first requested token and then it keeps it, it's never renewe

[2021-02-14 08:38] #1604 closed

[2021-02-17 15:50] wsjk opened #1622 "tutorials/dlp-to-datacatalog-tags script does not work for tables that require filter on partition field"
When executing final script in tutorial, I get errors trying to use a DLP template to tag a table with a partition field filter requirement.

Example error message:

[code]

[2021-02-17 16:19] ToddKopriva commented on #1622
@imadethis and @mesmacosta , can you have a look at this issue regarding a document that you contributed?

[2021-02-17 16:26] mesmacosta commented on #1622
I will take a look at this.

[2021-02-17 23:41] #1589 closed

[2021-02-18 22:39] multikengineer opened #1627 "Issue with tutorials/singularity-containers-with-cloud-build/index.md"
gcloud compute instances create ken-singularity-test --machine-type=n1-standard-1 --scopes=https://www.googleapis.com/auth/cloud-platform --metadata-from-file startup-script=startup.sh

 ERROR: (gcloud.compute.instances.create) Unable to read file [startup.sh]: [Errno 2] No such file or directory: 'startup.sh'

[2021-02-19 10:55] Dibdab001 opened #1629 "How do I create a Valheim server on GoogleCloud?"
I was following a guide to create an Arma 3 server and had got my server to log into steam when the guide tells me the install code for Arma, but I need the valheim one. Can anyone help?

[2021-02-19 14:51] ToddKopriva commented on #1629
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2021-02-19 14:51] #1629 closed

[2021-02-21 16:47] ben700 opened #1631 "Google Cloud IoT Core + Nearby Messaging API End-to-End Example for MCU (ESP8266) /Microcontroller (Rpi)"
I want a tutorial:-

Use Case:- B2B2C: C has new device and going to take from box, using Nearby Messaging API, Network Connectivity API, Firebase Remote Config API, also Over The Air API

So process of customer connecting a new device to the B2B solution. My solution 100% Google API and now I find needing to install local web server to configure device WiFi connection.   I saw hind to claim proce

[2021-02-22 16:42] asharashrestha opened #1632 "Issue with tutorials/tensorflow-automl-classification-python/index.md"
## Issue Description:
Under the section **"Formatting the results obtained with TensorFlow"**, **"To know which one is which, go to the Dataset page in the Cloud Console and from there go to the Images tab."** I followed this documentation and found out that my model performance was bad. Later I realized that instead of following the order as shown in the image if I followed the order in the confu

[2021-02-22 16:44] ToddKopriva commented on #1632
Thanks for the detailed feedback. We'll have a look.

[2021-02-23 14:11] ToddKopriva opened #1633 "Fix not reflected here: https://cloud.google.com/community/tutorials/secrets-manager-python#review_the_app_code"
Fix not reflected here: https://cloud.google.com/community/tutorials/secrets-manager-python#review_the_app_code

_Originally posted by @steve-kidreads-app in https://github.com/GoogleCloudPlatform/community/issues/1562#issuecomment-783856550_

[2021-02-24 06:26] malcolmredheron commented on #1455
As far as I can tell so far, I fixed this by adding `-it` to the alias, yielding the following. Notably, this works with `docker-compose up`, so that the first control-c stops the processes gently and the second one more forcefully, as usual.

[code]

[2021-02-24 16:38] ToddKopriva commented on #1455
Thanks for that additional information, @malcolmredheron .

[2021-02-26 00:38] sangorrin opened #1646 "Issue with tutorials/speech2srt/index.md"
Hi,

I had to do the following to make the tutorial at https://cloud.google.com/community/tutorials/speech2srt work. Obviously, this patch is not great but I needed to get the job done.

I know that the solution is described here https://googleapis.dev/python/translation/latest/UPGRADING.html
and that you are working on snippets here https://github.com/googleapis/python-translate/tree/master/sampl

[2021-02-26 00:40] sangorrin commented on #1646
By the way, installing the python requirements for this tutorial also failed (Ubuntu 18) and I had to do this:
[code]

[2021-02-26 00:48] sangorrin commented on #1646
Another problem with the tutorial is that the translate API is translating each subtitle entry individually. For that reason, if your sentence is split into multiple lines, each line will be translated without the whole sentence's context which results in poor translation results.

[2021-02-26 15:49] ToddKopriva commented on #1646
@lepistom , could you take a look at this report about a document that you contributed?

[2021-03-01 08:14] omer-niv commented on #1619
same problem, stops working after 30min and I get this:
export_metric_data save_to_bq(token) File "/workspace/main.py", line 226, in save_to_bq if result["timeSeriesDescriptor"]: KeyError: 'timeSeriesDescriptor'

[2021-03-02 21:00] ljalvrdz commented on #1619
Hi @omer-niv,

If you are still having this problem take a look to my workaround in [comment #2](https://github.com/GoogleCloudPlatform/community/issues/1619#issuecomment-777894584) it works and you should be able to make it work.

Let me know if you have problems.

[2021-03-02 21:19] omer-niv commented on #1619
Hi @ljalvrdz , I'm afraid it didn't help. It's something with the result trying to write back to BQ.

[2021-03-02 21:23] ToddKopriva commented on #1619
@xiangshen-dk , can you take a look at this issue about a document that you contributed?

[2021-03-03 05:52] ljalvrdz commented on #1619
Print _result_ form the save_to_bq function and take a look in the logging, you will get a detailed error. The error you're currently seeing is just the _if_ condition failing to find _timeSeriesDescriptor_.

Let me know what you find.

[2021-03-04 18:16] frenetic-be opened #1654 "Missing scan in gcp-cos-clamav"
This is related to https://github.com/GoogleCloudPlatform/community/tree/master/tutorials/gcp-cos-clamav. I haven't looked too deeply but it seems to me like `start.py` is missing the cron scheduling of `scan.sh`.

[2021-03-04 18:40] ToddKopriva commented on #1654
@ianmaddox , can you have a look at this?

[2021-03-05 00:39] ToddKopriva commented on #1619
fixed by #1655

[2021-03-05 00:39] #1619 closed

[2021-03-05 01:19] ianmaddox commented on #1654
Cron has recently been removed from this code. Instead, it relies on the `clamd` daemon and its internal scheduling, which you can configure in [clamd.conf](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/gcp-cos-clamav/conf/clamd.conf)

The documentation changes removing references to cron are in the works.

[2021-03-05 19:21] mesmacosta commented on #1622
Hi @wsjk thanks for reporting the issue.

The tutorial did not support BigQuery tables with required partition filters, I've updated the tutorial code with a fix to handle such scenario.

Could you verify if the fix solves your issue, by executing the tutorial at:
https://github.com/mesmacosta/community/blob/fix/handle-required-partition-filter/tutorials/dlp-to-datacatalog-tags ?

If so, I will su

[2021-03-05 19:26] ToddKopriva commented on #1622
Thanks, @mesmacosta .

[2021-03-11 15:04] wsjk commented on #1622
Hi @mesmacosta ,

I'm still getting an error when I run following command

[code]

Full traceback
[code]

[2021-03-11 16:10] mesmacosta commented on #1622
Hi @wsjk,

The fix is not merged yet to this repo, did you test at https://github.com/mesmacosta/community/blob/fix/handle-required-partition-filter/tutorials/dlp-to-datacatalog-tags?

[2021-03-11 16:20] wsjk commented on #1622
@mesmacosta ah my bad. Initially cloned your fork but didn't use correct branch

So just to double check:
`origin	git@github.com:mesmacosta/community.git (fetch)`
`* fix/handle-required-partition-filter bb49be4 FIX add method to handle required partition filters`

![image](https://user-images.githubusercontent.com/16106458/110818849-e2407d00-824a-11eb-98a6-ea9737543d97.png)

Running same cmd I men

[2021-03-11 16:32] mesmacosta commented on #1622
Just to make sure,

did you clean the project again, before running `target/dlp-to-datacatalog-tags-0.1-jar-with-dependencies.jar` ?

[2021-03-11 17:13] wsjk commented on #1622
@mesmacosta ah yes cleared everything out and restarted from scratch **and it worked!**

Thank you!

output:
[code]

[2021-03-11 17:20] mesmacosta commented on #1622
Nice! I will submit the PR to this repo, thanks for helping testing it out!

[2021-03-11 17:59] #1622 closed

[2021-03-12 03:27] sammyjo219 opened #1672 "Issue with tutorials/write.md"
Home PC that has been sitting due to  no internet and brand new empty HD was plugged in yesterday and it shows fully loaded apps desktop everything. I have not tried logging into MS due to being a little freaked. I would like to know if this is possible or is someone pulling a prank? Nothing was connected not even a monitor and I don't have internet or cable from 10/2020---03/3020. I was gonna tur

[2021-03-12 03:38] #1672 closed

[2021-03-12 12:53] tugceozgur opened #1676 "Issue with tutorials/data-science-extraction/index.md"
Whatever mp3 I tried, this code cannot read mp3.
community/tutorials/data-science-extraction/convert_audio.py

Converting fables_01_02_aesop_64kb.mp3
EXCEPTION 'utf-8' codec can't decode byte 0xff in position 129: invalid start byte

[2021-03-12 14:32] tugceozgur commented on #1676
It may not be permanent solution but ignoring errors solved it.
with open(dest, 'r', errors='ignore') as f:

[2021-03-12 22:41] ToddKopriva commented on #1676
closing issue because document is being archived

[2021-03-12 22:41] #1676 closed

[2021-03-12 22:41] ToddKopriva commented on #280
closing issue because document is being archived

[2021-03-12 22:41] #280 closed

[2021-03-12 23:11] ToddKopriva commented on #1516
closing issue for now, since document is being archived

[2021-03-12 23:11] #1516 closed

[2021-03-12 23:12] ToddKopriva commented on #818
closing issue for now, since document is being archived

[2021-03-12 23:12] #818 closed

[2021-03-13 05:03] ToddKopriva commented on #1654
from @ianmaddox :

"Cron has recently been removed from this code. Instead, it relies on the clamd daemon and its internal scheduling, which you can configure in clamd.conf

The documentation changes removing references to cron are in the works."

[2021-03-13 05:11] #1633 closed

[2021-03-13 14:24] mario-rozario opened #1695 "Issue with tutorials/setting-up-postgres.md"
This does not work !!

Connecting from pgAdmin4 to the postgress instance does not work !!

Did all the firewall settings and whatever was mentioned. Cannot see to connect at all from the Postgress Client
![DT-Postgress](https://user-images.githubusercontent.com/15810557/111033160-dbc22900-8435-11eb-8339-b71e588a0596.JPG)

[2021-03-14 18:52] marcogaruthix opened #1703 "Issue with tutorials/secrets-manager-python/index.md"
### Wrong documentation.

Change from:
```ALPHA_VANTAGE_KEY = secrets.access_secret_version("projects/"+PROJECT_ID+"/secrets/alpha-vantage-key/versions/1").payload.data.decode("utf-8")```

Change to:
[code]

Full documentation link:
_https://cloud.google.com/community/tutorials/secrets-manager-python_

[2021-03-14 18:58] ToddKopriva commented on #1703
This was recently fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1694

The document will be republished with the fix soon (probably tomorrow).

[2021-03-14 18:58] #1703 closed

[2021-03-14 19:09] ToddKopriva commented on #1695
@xiangshen-dk , you recently updated this document. Could you have a look at this issue report and see if you can provide any insight?

[2021-03-16 19:28] bluethundr opened #1704 "GCP Windows SQL Server with Terraform Replacement"
Can we have a tutorial on how to replace a windows SQL Server 2019 instance safely and preserving all data using Terraform?

[2021-03-17 00:40] xiangshen-dk commented on #1695
I have verified on my side and I didn't have the issue. I would like to suggest double-checking the following:

1. The Postgres service is running on the Linux server.
2. The config files /etc/postgresql/12/main/pg_hba.conf and /etc/postgresql/12/main/postgresql.conf both have the correct setup.
2. The correct source IP is used in the config files and also in the firewall setup.
3. The /32 suffix

[2021-03-17 20:48] JetsonDavis opened #1707 "Issue with tutorials/docker-compose-on-container-optimized-os.md"
This tutorial doesn't seem to work anymore!

[2021-03-17 20:59] ToddKopriva commented on #1707
@tswast , can you have a look at this?

@JetsonDavis , can you give more details about exactly what issues you encountered?

[2021-03-17 21:50] JetsonDavis commented on #1707
Yes!

I’m really struggling to find current docs about how to set up docker & docker-compose on a Compute.

I follow the instructions up to the ‘docker run…’ command.  I get this on my ssh session:

Starting dockercloud-hello-world_helloworld_1 … done

I click on the IP listed on the dashboard and get ‘unable to connect’

Thanks

[2021-03-17 21:54] JetsonDavis commented on #1707
What would really be great if there was a doc that can take me from setting up a VM to being able to run docker-compose with a project I have on both DockerHub and (I think) on your one, I think it's called Container Registry.

[2021-03-22 06:27] the-provost opened #1710 "Issue with tutorials/run-laravel-on-appengine-standard/index.md"
Cannot deploy Laravel 8 apps to app engine with PHP74 because of absence of ext-sodium (libsodium)

Please support libsodium for PHP74 app Engine Standard

[2021-03-24 00:58] #315 closed

[2021-03-24 01:22] ToddKopriva commented on #611
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1624

[2021-03-24 01:22] #611 closed

[2021-03-24 01:26] ToddKopriva commented on #1695
I'm going to close this issue, since the document seems to be working for others.

@mario-rozario , feel free to re-open this issue and answer all of the questions from @xiangshen-dk if you're still having trouble.

[2021-03-24 01:26] #1695 closed

[2021-03-25 00:51] #1041 closed

[2021-03-25 01:05] ToddKopriva commented on #1147
This is fixed in the sample code that the tutorial points to.

[2021-03-25 01:05] #1147 closed

[2021-03-25 01:15] ToddKopriva commented on #1160
fixed with PR #1714

[2021-03-25 01:15] #1160 closed

[2021-03-25 01:33] ToddKopriva commented on #1192
@sdelamo , do you have any insight into the issue reported here about a document that you contributed?

[2021-03-25 01:37] #1197 closed

[2021-03-25 03:31] ToddKopriva commented on #1245
This page has what you need:
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance

[2021-03-25 03:31] #1245 closed

[2021-03-26 04:38] arun-jolly opened #1715 "Issue with tutorials/sigfox-gw/index.md"
Callback functions not working due to a missing entry in the environment variable file.

Hi,
 I am working on integrating Sigfox backend and Google Cloud for my project. While trying to send data from the Sigfox device to the Cloud , I was getting an error " Error reading environment variables". When I looked into the main.py file in the cloned GitHub repository folder community/tutorials/sigfox-g

[2021-03-26 17:03] ToddKopriva commented on #1715
@arun-jolly , thanks for letting us know about the issue and what worked for you. We'll take a look.

If you would like to submit a pull request to make the necessary change, I will review and merge that.

[2021-03-26 20:23] mario-rozario commented on #1695
Hello this worked finally. Thanks for the help.
It was an issue with the Postgres account itself that wasn't setting the password correctly.
Thanks for the help.

[2021-03-28 03:15] arun-jolly commented on #1715
@ToddKopriva I'm sorry. I'm new to github and coding. I'm not sure how to do a pull request.
1. Edit the .env.yaml file in the community tutorial folder - community/tutorials/sigfox-gw/cf
In compliance with the main.py file in the same folder.
2. Mention to add the project Id as an environment variable in the tutorial as well.

These are my two requests.

[2021-03-28 03:22] arun-jolly opened #1716 "Issue with tutorials/sigfox-sensit/index.md"
Environment variable missing
Hi,
I've raised this issue for a similar tutorial. The .env.yaml file in the tutorial folder
Community/tutorials/sigfox-sensit/cf
does not have an environment variable named
'GCP_PROJECT' which is coded in the main.py file in the same folder. It is also not mentioned in the tutorial under the section "deploy the pub_sub bigquery cloud function"- step 2.
This variable w

[2021-03-29 05:50] supershowwei opened #1717 "Can not install Cloud Monitoring agent on CentOS 7.9.2009"
I followed the document - Install Cloud Monitoring agent on a single VM (https://cloud.google.com/monitoring/agent/installation) to install Cloud Monitoring agent on CentOS 7.9.2009 and it failed.

I got a error meesage '
https://packages.cloud.google.com/yum/repos/google-cloud-monitoring-el7-x86_64/repodata/repomd.xml: [Errno -1] repomd.xml signature could not be verified for google-cloud-monitor

[2021-03-29 14:32] xiangshen-dk commented on #1717
I just tried on a new VM with the image from GCP [CentOS Linux release 7.9.2009 (Core)] and it worked fine.

You can double check this yum config file: `/etc/yum.repos.d/google-cloud-monitoring.repo`. Make sure it has the following:

[code]

You can delete the file and try the install script again. You can also workaround it by disabling repo check: `repo_gpgcheck=0`

[2021-03-29 15:17] #1717 closed

[2021-03-29 15:41] ToddKopriva commented on #1695
Glad to hear it. Thanks for letting us know what the issue was.

[2021-03-29 15:42] ToddKopriva commented on #1715
Thanks, @arun-jolly . We'll take it from here.

[2021-03-29 15:43] ToddKopriva commented on #1716
For others looking at this, the other issue that @arun-jolly referenced is this:
https://github.com/GoogleCloudPlatform/community/issues/1715

[2021-03-29 15:44] ToddKopriva commented on #1717
Thanks for the help, @xiangshen-dk .

[2021-03-31 13:10] jeff-romine opened #1720 "Issue with tutorials/cloud-functions-rate-limiting/index.md"
The clean up step here has a problem.

`gcloud beta compute networks vpc-access connectors create functions-connector --quiet`

should be:

`gcloud beta compute networks vpc-access connectors delete functions-connector --quiet --region $REGION`

[2021-03-31 14:10] ToddKopriva commented on #1720
Thanks. I'll have a look.

Feel free to make a pull request to make fixes like this yourself, and we can review and merge them.

[2021-03-31 15:07] JakeLewisFSC opened #1721 "Issue with tutorials/embedded-c-getting-started/index.md"
One of the steps is to find `mqtt-example.c`

But this file doesn't exist in the downloaded Github file.

in this document
https://cloud.google.com/community/tutorials/embedded-c-getting-started

However, it seems the code it wants you to look at is now at a file name `smart_outlet_example.c`

Could be frustrating for some users to be told to look for a file that doesn't exist

[2021-03-31 15:44] ToddKopriva commented on #1721
Thanks for the report. I'll look into it.

[2021-03-31 16:36] ToddKopriva commented on #1720
@jeff-romine fixed this issue with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1722

[2021-03-31 16:36] #1720 closed

[2021-03-31 22:54] ToddKopriva commented on #1721
@galz10 , can you take a look at this suggestion regarding a document that you contributed?

[2021-04-01 16:21] gregarios opened #1723 "Google Repository Signature Issue"
When trying to run 'yum update' I get the following error:

`Determining fastest mirrors
epel/x86_64/metalink                                                                                                                                                             |  12 kB  00:00:00
 * base: mirror.fileplanet.com
 * epel: d2lzkl7pfhq30w.cloudfront.net
 * extras: mirror.sfo12.us.leaseweb.net
 * up

[2021-04-01 16:25] ToddKopriva commented on #1723
Is this issue report about a document in this repository? If so, which one?

[2021-04-01 16:30] gregarios commented on #1723
I may have reported this in the wrong section. I'm trying to report an issue with a Google Cloud Compute yum repository failure...

[2021-04-01 16:32] valarauca commented on #1723
Not necessarily, it seems that the repository is serving bad data causing `yum` & `dnf` to fail. It seems to be a repository failure.

---

I am also experiencing this issue. We cannot pull the cloud sdk from `packages.cloud.google.com`. We are following the steps outlined on [this page (sdk install docs)](https://cloud.google.com/sdk/docs/install#rpm). It is scripted in ansible and was working th

[2021-04-01 16:43] ToddKopriva commented on #1723
OK. Then please report the bug using the **Send feedback** button on that affected page:
https://cloud.google.com/sdk/docs/install

The issues section of this repository is for a different set of documents: just the tutorials that have their source in this repository. These documents and the software that you're having an issue with are handled by different teams.

[2021-04-01 16:43] #1723 closed

[2021-04-05 20:37] ToddKopriva commented on #1721
@gguuss or @hongalex , could you take a look at this sgguestion about an update needed for Gal's document?

[2021-04-05 20:39] ToddKopriva commented on #1716
@lepistom , could you take a look at this issue reported about a document that you contributed?

https://cloud.google.com/community/tutorials/sigfox-sensit

[2021-04-05 20:40] ToddKopriva commented on #1715
@lepistom , could you look into this issue regarding a document that you contributed?

https://cloud.google.com/community/tutorials/sigfox-gw

[2021-04-05 22:26] gguuss commented on #1721
Gal should be coming back soon, but I can take a quick look. The sample is based on the Smart Outlet example but the provided sample sources are in [getting-started.c](https://github.com/GoogleCloudPlatform/community/tree/master/tutorials/embedded-c-getting-started/examples/main). I'll take a look at the article sources for an update.

[2021-04-05 22:31] ToddKopriva commented on #1610
@ameer00 , can you take a look at this issue about a document that you contributed?

[2021-04-05 22:37] ToddKopriva commented on #1596
The Issues section of this GitHub repository is for reporting issues with the community tutorials in this repository.

I recommend using the **Send feedback** command in the Cloud Console to give feedback about the Cloud Console itself:
https://cloud.google.com/support/docs/issue-trackers

[2021-04-05 22:37] #1596 closed

[2021-04-05 22:41] #1578 closed

[2021-04-05 22:42] #1563 closed

[2021-04-06 20:56] ammppp opened #1735 "Issue with tutorials/bigquery-ibis/index.md"
Received the following error when running the "print(expression.execute())" step in this example:
 https://cloud.google.com/community/tutorials/bigquery-ibis

[code]

[2021-04-06 23:20] ammppp commented on #1735
I think it may be due to this:  https://github.com/ibis-project/ibis/issues/2717

[2021-04-07 00:27] ToddKopriva commented on #1735
Ah, thanks for that additional information, @ammppp .

[2021-04-07 05:55] malcolmredheron commented on #1455
The problem with adding `-it` is that it seems to prevent interaction with the job I run. For example, I can pipe something to stdin without `-it` but not with it.

Also worth noting: setting this up as an alias means that you can't (or can't easily?) call it from a script. I made docker-compose a script in my path instead.

I get that there are probably GCE tools that I should be using instead of

[2021-04-07 14:58] tswast commented on #1735
That said, I know I need to update this tutorial to use the ibis package rather than install-from-source, as there have been several releases now with BigQuery support.

[2021-04-07 15:43] ToddKopriva commented on #1735
Thanks, @tswast .

[2021-04-09 01:00] nxquang1994 opened #1738 "Python cloud function with Firestore"
Hi, I wanna a demo with Python cloud function connecting firestore. I only see the nodejs demo.
Currently, I write code python cloud function connect to Firestore same as code Python running my dedicate server, not run in FIrebase like Cloud function.

[2021-04-13 03:31] ameer00 commented on #1610
Submitted fix in PR https://github.com/GoogleCloudPlatform/community/pull/1740

[2021-04-13 17:11] #1610 closed

[2021-04-13 20:18] #1735 closed

[2021-04-14 12:18] alkajha87 opened #1742 "Getting GCP metric data in Grafana Directly"
Is that possible to connect on premise grafana to GCP, and get cloud metrics to plot dashboards

[2021-04-14 23:34] xiangshen-dk commented on #1742
For old versions, you can try the stackdriver plugin. For new versions, it has built-in support: https://grafana.com/docs/grafana/latest/datasources/google-cloud-monitoring/

[2021-04-19 19:51] tiny-tinker opened #1773 "Issue with tutorials/vm-migration-with-stratozone/index.md"
Several of the links on this page lead to a broken page on the StratoZone web site. For example, the "SSH or WMI access" link in Discovery 1 redirects to this page:
https://portal.stratozone.com/Error.aspx?aspxerrorpath=/Documentation/StratoProbe_Guide.html#4

Same with the "Troubleshooting" at the bottom of the page. It points to this link:
https://portal.stratozone.com/Documentation/StratoProbe_

[2021-04-19 19:53] ToddKopriva commented on #1773
Thanks. I'll take a look.

[2021-04-20 19:38] aghwotu opened #1774 "There is no existing directory at ".../storage/logs" and it could not be created: Read-only file system"
Hello there.

I have the above error in my API. I am using Laravel version 8 and I deployed the API on the Google Cloud App Engine.

I followed the directions of [this tutorial](https://cloud.google.com/community/tutorials/run-laravel-on-appengine-standard).
I am trying to store a generated file in the ```/tmp``` folder and upload it to Google Cloud Storage.
Following the tutorial to ```Set up Sta

[2021-04-21 02:23] iusamakhan opened #1778 "Issue with tutorials/deploy-react-nginx-cloud-run/index.md"
Issue Description

Hi, I have implemented this and everything is working fine but the environment variables defined in the cloud run service are undefined. I am not able to understand that because with the NODE project environment variables are defined but when it comes to REACT these its undefined. looking forward to the solution.
thank you!

[2021-04-22 22:10] callppatel opened #1782 "Gcloud Authentication with GOOGLE_OAUTH_ACCESS_TOKEN"
Hi,
Is there any way to Authenticate gcloud command with "GOOGLE_OAUTH_ACCESS_TOKEN". We are able to use terraform to authenticate using token which is stored in GOOGLE_OAUTH_ACCESS_TOKEN.  Do we have any way for gcloud?

[2021-04-22 22:29] ToddKopriva commented on #1782
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2021-04-22 22:29] #1782 closed

[2021-04-23 13:30] rcaril opened #1784 "Issue with tutorials/create-a-self-deleting-virtual-machine.md"
While this article gives great information, it's not clear how one associated a service account that must run the gcloud delete command.

I have implemented this script by passing it as metadata, which works fine - however I am getting a GCEMetadataScripts: startup-script: ERROR: (gcloud.compute.instances.delete) You do not currently have an active account selected." error, even though I have a se

[2021-04-23 15:54] ToddKopriva commented on #1784
@engelke , can you take a look at this question about a document that you contributed?

[2021-04-23 17:21] engelke commented on #1784
I can't quite reproduce this. I followed both paths of the tutorial (using the console and use gcloud commands) and they both worked. I found some slight changes in how the console appears and will be submitting a PR to fix the tutorial to match.

One was I almost reproduced this was by not setting the scopes (the --scopes=compute-rw option in the gcloud version). In that case, the delete command

[2021-04-23 17:22] ToddKopriva commented on #1784
Thanks for the detailed response, @engelke .

[2021-04-23 17:30] rcaril commented on #1784
Thanks for the reply @engelke. I am passing the script as metadata from Terraform, so I am not using the Console or gcloud command directly. I have added a service account in my TF code, but also granted my TF service account the roles required to execute this command. However, when the instance boots up post TF execution, it doesn't seem like there is any service account associated to the metadat

[2021-04-23 17:36] engelke commented on #1784
I see. Terraform uses a specific provider (from Google) to create Compute Engine instances. Its default behavior may be different from gcloud or the console, though I'm sure there are options that can be set to make it any way you want. This tutorial assumes you're using gcloud or the console, and depends on their default behavior.

Can you do this with Terraform? I think you probably can. It coul

[2021-04-23 17:43] rcaril commented on #1784
Indeed, I was hoping someone from Google could provide insight on how one could pass a default service account as metadata - as this seems to be the missing piece. Unfortunately the Terraform docs are pretty unhelpful when it comes to metadata. I had to use third party resources to even find how one can pass a script as metadata successfully.

This is the error I got (as HTML) from the CURL comman

[2021-04-23 18:23] engelke commented on #1784
You can explore the metadata server by SSHing into the instance and trying various `curl` commands. For instance,

`curl -X GET -H 'Metadata-Flavor: Google' http://metadata.google.internal/computeMetadata/v1/`

Will show you all the categories of metadata available (if you include the trailing /). You can then add `instance/service-accounts/` to see a list of all available service accounts. There

[2021-04-23 18:26] rcaril commented on #1784
@engelke Thanks for the insight! You have given me something to look into, I appreciate the help! If I find a solution, i'll be sure to follow up with you so we can update this article with additional use cases!

[2021-04-23 18:26] #1784 closed

[2021-04-23 19:01] rcaril commented on #1784
Solution found: service account created via TF **must** be called "_default_".

[2021-04-23 19:06] engelke commented on #1784
👍That's a great find! Thanks for working this out. I'm familiarizing
myself more with Terraform and will undoubtedly need to use this
information.

Charlie

On Fri, Apr 23, 2021 at 12:01 PM rcaril ***@***.***> wrote:

--
Charles Engelke
Google Cloud Developer Relations Engineer

[2021-04-23 19:08] rcaril commented on #1784
Indeed, I also added this code to my compute_instance create block:

[code]
The combination of both did the trick I think.

[2021-04-28 15:48] pgoldtho opened #1789 "Issue with tutorials/migrate-oracle-postgres-using-ora2pg/index.md"
Broken links:

    Setting up Cloud SQL for PostgreSQL for production use
    Migrating Oracle users to Cloud SQL for PostgreSQL: Terminology and functionality
    Migrating Oracle users to Cloud SQL for PostgreSQL: Data types, users, and tables
    Migrating Oracle users to Cloud SQL for PostgreSQL: Queries, stored procedures, functions, and triggers
    Migrating Oracle users to Cloud SQL for Po

[2021-04-28 15:56] ToddKopriva commented on #1789
Thanks for the report. Fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1790

The links should point to /solutions, not /architecture .

The document will be updated on cloud.google.com soon.

[2021-04-28 15:56] #1789 closed

[2021-04-30 22:29] dgalmeida opened #1798 "Is the URL map creation step missing?"
Hi, on [tutorials/securing-gcs-static-website](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/securing-gcs-static-website/index.md#create-the-url-map-and-configure-forwarding-rules) I think the creation of the file web-map-http.yaml wasn't described. How use 'sed' replace into unknown file? We should use `gcloud compute url-maps create` and `gcloud describe` command to down

[2021-05-03 14:19] xiangshen-dk commented on #1798
You can find the web-map-http.yaml in the repo at: https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/securing-gcs-static-website/flask_login/web-map-http.yaml

The tutorial assumes you are already in the directory so that you can use 'sed' with the file.

If you want to read more about URL maps, you can go to https://cloud.google.com/load-balancing/docs/url-map-concepts

[2021-05-03 18:44] xiangshen-dk commented on #1738
You can find Python examples from the Cloud Firestore doc at: https://firebase.google.com/docs/firestore/quickstart

There is no big difference to use it in Cloud Functions. If you are interested, I have an example at:
https://github.com/GoogleCloudPlatform/serverless-log-trigger-demo/blob/master/trace-metric-demo/function_src/main.py

[2021-05-03 18:47] ToddKopriva commented on #1738
Thanks, @xiangshen-dk .

I'm going to close this request. @nxquang1994 , feel free to re-open it if you don't think that the answer above is adequate.

[2021-05-03 18:47] #1738 closed

[2021-05-03 19:08] #1798 closed

[2021-05-04 20:33] kaushalabhishek opened #1801 "Error in preflight while creating cluster on Bare metal"
I am trying to create on-prem cluster on Bare metal with following infra detail  -
_Master node 10.10.100.181
worker node- 10.10.100.180_
VIP detail -
        _10.10.100.180	10.10.100.181
2	10.10.100.41	10.10.100.46
3	10.10.100.42	10.10.100.47
4	10.10.100.43	10.10.100.48
5	10.10.100.44	10.10.100.49
6	10.10.100.45	10.10.100.50_

I am getting error on when trying to create cluster using command  - *

[2021-05-04 20:42] ToddKopriva commented on #1801
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2021-05-04 20:42] #1801 closed

[2021-05-11 20:44] ToddKopriva commented on #1773
@laidig , could you update this document that you created with current links?

[2021-05-11 21:28] IanVaughan opened #1804 "Issue with tutorials/nginx-reverse-proxy-docker.md"
It jumps from creating an instance to running docker...
Its a little unclear, but as a guess, before `Setting up the reverse proxy`, we should connect via SSH to the new instance?

[2021-05-11 21:48] ToddKopriva commented on #1804
@tswast , could you have a look at this question about a document that you submitted?

[2021-05-11 22:01] tswast commented on #1804
Yes, these commands are assumed to be run from the instance which was created.

It's worth adding a step instructing the reader to SSH to the instance after it is created.

[2021-05-11 22:05] ToddKopriva commented on #1804
Thanks, @tswast .

[2021-05-12 21:01] #1773 closed

[2021-05-17 21:56] Tom284 opened #1812 "issue with gcp-cos-clamav"
I pulled the repository but then when I tried to launch the Docker image (which I made from the pulled Dockerfile) it wouldn't work. I would get this message:

`/bin/sh: /start.py: not found`

So I had to change the Dockerfile into:

[code]
[(this site](https://jsonformatter.org/yaml-formatter) said that the yaml file from the repo was invalid as well.)

After that is done I keep getting:
`ERROR:

[2021-05-17 21:59] ToddKopriva commented on #1812
@ianmaddox , can you take a look at this issue regarding a document that you contributed?

[2021-05-19 13:44] Tom284 commented on #1812
I ended up testing it on another machine as well and I had the same issue(s).

[2021-05-19 19:52] cgalo5758 opened #1813 "DokuWiki App Engine Tutorial"
[DokuWiki](https://www.dokuwiki.org/dokuwiki) is a popular lightweight wiki engine. I think a tutorial on setting this up on app engine might be really useful to illustrate how to connect an application which stores data in files to the app's Cloud Storage bucket.

I am currently attempting to set up a DokuWiki instance on app engine, but I am experiencing difficulties connecting to my app's cloud

[2021-05-19 20:14] ToddKopriva commented on #1813
Thanks for the tutorial request.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2021-05-20 17:23] dibusan opened #1814 "Issue with tutorials/appengine-angular-nginx-docker/index.md"
In `Dockerfile:23`: Dockerfile is already inside of dist, 'ADD dist/' wont find the directory. I had to change to `./`

Current

    ADD dist/ /usr/share/nginx/www/sampleapp

Suggestion

    ADD ./ /usr/share/nginx/www/sampleapp

Alternative Suggestion: Clarify the file structure taking into account different shapes that dist can take. This folder is autogenerated by `ng build`, I am not sure if t

[2021-05-20 17:31] ToddKopriva commented on #1814
Thanks for the issue report, @dibusan .

If you want to make a pull request to implement the fixes that you're suggesting, we'll review it.

@livesankp , I want to make sure that you see this report about a document that you contributed.

[2021-05-22 06:04] manojonurnet opened #1816 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
WordPress is an open source web framework for PHP developers that encourages the use of the model-view-controller (MVC) pattern.
This is incorrect. WordPress is a CMS.

[2021-05-22 16:19] oliverbevan opened #1818 "Issue with tutorials/deploy-react-nginx-cloud-run"
error chalk@4.1.1: The engine "node" is incompatible with this module. Expected version ">=10". Got "8.17.0"
error Found incompatible module.

I got the above error by running the command:
gcloud builds submit --tag gcr.io/ordinal-nucleus-307711/cra-cloud-run

I was able to fix the error by changing the Dockerfile to:
FROM node:10-alpine as react-build

I have made a pull request for the same:
htt

[2021-05-23 21:23] ToddKopriva commented on #1818
Thanks for the report and the fix. I commented on your pull request about one remaining step.

[2021-05-23 21:30] ToddKopriva commented on #1816
@bshaffer , can you help @manojonurnet with his implicit question about what is meant by the first sentence here?
https://cloud.google.com/community/tutorials/run-wordpress-on-appengine-standard

[2021-05-24 00:04] sankp commented on #1814
@dibusan Folder structure should be like this. For POC purpose in gitlab-ci, I generated this type of folder structure.
[code]

This can be changed according to your need. Below is the downloaded artifacts.
![image](https://user-images.githubusercontent.com/9613276/119280894-0c260080-bbf9-11eb-9fb3-6205b830b1f6.png)

[2021-05-24 00:27] livesankp commented on #1814
@dibusan Folder structure should be like this. For POC purpose in gitlab-ci, I generated this type of folder structure.

/nginx-hosting
            |- /dist
            |- Dockerfile
            |- app.yaml
            |- cloudbuild.yaml
            |- nginx.conf
This can be changed according to your need. Below is the downloaded artifacts.
![image](https://user-images.githubusercontent.com/137692

[2021-05-24 00:30] livesankp commented on #1814
https://github.com/GoogleCloudPlatform/community/pull/1819 created for this.

[2021-05-24 15:49] ToddKopriva commented on #1814
Thanks for the clarification, @livesankp .

[2021-05-24 15:49] #1814 closed

[2021-05-24 16:21] bshaffer commented on #1816
@manojonurnet is right, this must have been copied accidentally over from the laravel tutorial

[2021-05-24 16:23] #1816 closed

[2021-05-24 16:25] ToddKopriva commented on #1816
Thanks for pointing this out, @manojonurnet . Thanks for the quick fix, @bshaffer .

[2021-05-25 13:55] Tom284 opened #1824 "[Question] How can I scan a specific pod with gcp-cos-clamav?"
[The tutorial](https://cloud.google.com/architecture/installing-antivirus-and-file-integrity-monitoring-on-container-optimized-os#deploying_av_and_fim_to_a_gke_cluster) leaves off with scanning the entire system by running:
`clamdscan --multiscan /host-fs`
How would I now scan a specific pod?
I can find pod files by running:
`kubectl exec -it {pod name} ls` but how would I now scan these files/thi

[2021-05-25 14:58] ToddKopriva commented on #1824
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2021-05-25 18:09] #1818 closed

[2021-05-25 19:27] gabihodoroaga commented on #440
Hi,

I created a tutorial on how to deploy Prestashop on GKE
https://hodo.dev/posts/post-22-gcp-scalable-prestashop/
How can I added here?

Thanks
g.

[2021-05-25 19:31] ToddKopriva commented on #440
Follow the instructions here:

https://cloud.google.com/community/tutorials/write

[2021-05-26 06:27] dheerajd3v opened #1828 "Issue with tutorials/deploy-react-nginx-cloud-run/index.md"
Issue Description

Step cd C:\tutorials\react-cloud-run\ is not valid. Instead it should be `cd c:\tutorials\deploy-react-nginx-cloud-run`

[2021-05-26 06:52] Tom284 commented on #1824
Thank you! I will ask my question there as well.

[2021-05-26 11:58] ToddKopriva commented on #1824
I'll close this instance of the question.

[2021-05-26 11:58] #1824 closed

[2021-05-31 08:19] rezab777 opened #1832 "Issue with tutorials/speech2srt/index.md"
Issue Description
When running speech2srt.py, RecognitionConfig is not found.

`python3 speech2srt.py --storage_uri gs://$BUCKET_IN/example.wav --sample_rate_hertz 24000
`
[code]

[2021-05-31 09:12] rezab777 commented on #1832
solved by replacing python3 with python.

[2021-05-31 09:12] #1832 closed

[2021-06-01 13:54] ToddKopriva commented on #1832
Is there something that we could do to prevent other folks from having this issue? Feel free to submit a pull request to make the document more clear.

[2021-06-02 23:58] adanba opened #1835 "Issue with tutorials/slack-bot-cloud-functions-scheduler.md"
Hey,

Can you please share the index.js file ?

Regards

[2021-06-03 00:02] adanba commented on #1835
I found it.
https://gist.github.com/Timtech4u/2f59976a183eefe57bb65be247de49b5
Thank you

[2021-06-03 00:02] #1835 closed

[2021-06-03 00:05] ToddKopriva commented on #1835
Thanks. Did you find that link in the "Get the sample code" section?

I'd be curious to know how we could make that more clear.

[2021-06-03 17:34] adanba commented on #1835
it's clear, it was my fault.

Even we can improve this by adding code index.js as snippet in the article.

Thank you

[2021-06-11 15:21] yaraju opened #1841 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
The instructions need to updated to mention whether this would work on the newer PHP 7.3/7.4 environments, or at least mention whether it has been tested. If it has, and it's easy enough to make change the steps slightly to do the same, then that could be mentioned on the tutorial page.

[2021-06-11 15:54] ToddKopriva commented on #1841
Thanks for the suggestion.

@bshaffer , could you take a look at this suggestion for an update to a document that you contributed?

[2021-06-11 20:05] bshaffer commented on #1841
This is a good suggestion and I agree!

[2021-06-12 12:59] yaraju commented on #1841
Also, just wanted to share that I've already tried out the steps with the only change being:
1) Make sure to install php7.4 and its libs in place of any reference to 7.2 (e.g. the zip libraries)
2) Update app.yaml to php74 runtime environment

Everything else went swimmingly well.

[2021-06-12 17:00] yaraju commented on #1841
While running the wp core and plugin update commands, I get the following error:
$ vendor/bin/wp plugin update --all --path=my-wordpress-project
Error: Your PHP installation appears to be missing the MySQL extension which is required by WordPress.

I'm not sure if this is a PHP 7.4 specific error, or something else to do with my environment. If you'd like me to make a separate issue, I can do so.

[2021-06-12 17:11] yaraju opened #1842 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
Under "Local Development", the steps for creating a Service account key have changed.

Here's what I had to do:
Go to the the Credentials section of your project in the Console.
In the list of Service accounts, click your App Engine app default service account.
Go to the "Keys" tab.
Click "Add Key" and choose JSON as the format

[2021-06-14 06:46] shwethasihi opened #1843 "get secrets from Secret Manager using firebase functions"
get secrets from Secret Manager using java with firebase functions

[2021-06-14 14:57] ToddKopriva commented on #1843
Is this a request for a tutorial? I'll go ahead and tag it as such, but let me know if I misunderstood.

[2021-06-14 20:04] bpaduch opened #1844 "Issue with tutorials/kubernetes-engine-customize-fluentbit/index.md"
Advise users of this tutorial that this doesn't work with Windows Server nodes.  Add the following:

"Note: This tutorial applies to Linux nodes. Windows Server nodes are not customizable at this time."

[2021-06-14 20:06] ToddKopriva commented on #1844
Thanks for the report.

[2021-06-14 20:09] ToddKopriva commented on #1844
@xiangshen-dk , I just want to check with you before I make this note in a document that you contributed.

[2021-06-15 02:22] xiangshen-dk commented on #1844
@ToddKopriva Thanks for checking!
It works for me. Please make the change.

[2021-06-15 02:45] #1844 closed

[2021-06-15 06:28] yaraju opened #1847 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
This is a feature request.... please consider adding steps for setting up memcache+batcache plugin to this tutorial.

I found steps on a very old website that's no longer maintained:
https://gae-php-tips.appspot.com/2013/06/02/caching-wordpress-for-app-engine/

But those steps are also stale now, and not updated. Caching is a super important feature that could be added under "Various workflows" -

[2021-06-15 06:56] yaraju commented on #1847
I ran into a glitch, and just now learned that Memcache is no longer supported on the newer PHP 7 environments, so Batcache won't work, anyway!

I"m closing this bug, since I can see it's obsolete. :) Will look for a solution that uses MemoryStore for Redis instead.

[2021-06-15 15:32] ToddKopriva commented on #1847
Thanks for reporting back with more detail, @yaraju .

[2021-06-15 17:57] yaraju opened #1848 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
Request to please add steps for how to configure sending email.

I've tried to install the old App Engine for Wordpress plugin:
https://wordpress.org/plugins/google-app-engine/#description

But it seems to be unmaintained, and when I try to use it, it fails with an error (It uses GuzzleHttp API calls which are no longer present in the newer version of the library)

I will be following up with the

[2021-06-15 18:37] yaraju commented on #1847
Since you marked this as update needed, I've reopened the issue so that you can continue to track it.

[2021-06-15 18:45] ToddKopriva commented on #1847
That's not necessary. That label is about what kind of request was originally made, not the current status of the request.

[2021-06-15 18:45] #1847 closed

[2021-06-15 18:49] yaraju commented on #1848
Some more clarification....

**Error when trying to active the Google App Engine plugin:**
`Warning: require_once(google/appengine/api/urlfetch_service_pb.php): failed to open stream: No such file or directory in /workspace/wp-content/plugins/google-app-engine/modules/urlfetch.php on line 72 Fatal error: require_once(): Failed opening required 'google/appengine/api/urlfetch_service_pb.php' (includ

[2021-06-18 13:45] pavithranagaraj26 opened #1852 "workflow-cloudfucntions"
Hi,

Can we create a pipeline to integrate many cloud functions as a sequence in workflow?

[2021-06-19 07:09] Tomaszito opened #1853 "Issue with tutorials/embedded-c-getting-started/index.md"
Issue Description
The attached codes dont work on google cloud services.

[2021-06-21 11:06] Tarun-Kamboj opened #1854 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"

[2021-06-21 11:06] #1854 closed

[2021-06-21 15:30] ToddKopriva commented on #1853
@Tomaszito , can you give us more detail about the problems that you encountered?

[2021-06-21 15:31] ToddKopriva commented on #1853
@galz10 , I want to make sure that you see this report about a document that you contributed.

[2021-06-21 15:57] galz10 commented on #1853
@ToddKopriva thanks i'll keep an eye out for Tomaszito response

[2021-06-22 13:35] Roofahg opened #1857 "Issue with tutorials/using-ha-vpn-with-fortigate/index.md"
Issue Description:

1. Customer has 'One peer VPN device with one IP address', a supported model
https://cloud.google.com/network-connectivity/docs/vpn/concepts/topologies

2. Documentation explains how to setup for one peer and 2 addresses. Can we please amend the documentation to explain the changes needed for one peer and one address. In this case you need to set [ON_PREM_GW_IP_0] and [ON_PREM_

[2021-06-22 22:18] aguerreroq opened #1860 "Issue with tutorials/run-laravel-on-appengine-flexible/index.md"
Too basic, is missing the part of jobs implementation (queue)

[2021-06-22 23:26] aguerreroq opened #1861 "Issue with tutorials/run-laravel-on-appengine-flexible/index.md"
Doesn´t work for lumen :@

[2021-06-22 23:37] ToddKopriva commented on #1860
another issue from @aguerreroq about the same document:
https://github.com/GoogleCloudPlatform/community/issues/1861

[2021-06-22 23:37] ToddKopriva commented on #1861
closed and linked from other issue about same document

[2021-06-22 23:37] #1861 closed

[2021-06-25 01:36] xiangshen-dk commented on #1509
Looks like the sample code has already been updated. I just tried and the tutorial worked fine in Cloud Shell with the following JDK and maven versions:

[code]

I have created a PR to update the java and maven versions.

[2021-06-25 03:10] ToddKopriva commented on #1509
Thanks for the fix.

[2021-06-25 03:10] #1509 closed

[2021-06-28 14:38] ToddKopriva commented on #1828
closing as fixed with PR #1865

[2021-06-28 14:38] #1828 closed

[2021-06-28 14:38] ToddKopriva commented on #1406
closing as fixed with PR #1865

[2021-06-28 14:38] #1406 closed

[2021-06-28 21:55] #440 closed

[2021-06-30 23:59] #1153 closed

[2021-06-30 23:59] ToddKopriva commented on #1153
closing as fixed with PR #1867

[2021-07-02 18:48] ToddKopriva commented on #1605
closed with PR #1869

[2021-07-02 18:48] #1605 closed

[2021-07-03 08:39] LokiInside opened #1871 "2.7 Exabyte of storage"
Install sosumi and replace common and find Jan Sloot code
https://files.fm/u/82zpbg9yc
https://uptobox.com/f9ugkg0vim8e
https://mega.nz/folder/3TgkXBLS#b9brcWFuyVaqhjx47FVZUQ
![Screenshot at 2021-07-02 18-16-32.png](https://user-images.githubusercontent.com/75278757/124348559-db1eef80-dbea-11eb-9fe7-3f880bc04ca8.png)![Screenshot at 2021-07-02 18-16-46.png](https://user-images.githubusercontent.com

[2021-07-03 15:32] #1871 closed

[2021-07-04 05:16] yaraju opened #1873 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
Under "Various Workflows", could you add a section on URL rewrites, when changing the Permalinks structure, etc?

The typical workflow in most WordPress websites would be to update the .htaccess file so that old posts with the old Permalinks structure are redirected to the new structure, and this is automatically updated by WP Admin if we have write access to the filesystem on a WP host.

On GAE,

[2021-07-04 05:47] yaraju commented on #1848
PHP 7 doesn't support the AppEngine Mail API. The recommended way to send email is to use a third-party provider.

https://cloud.google.com/appengine/docs/standard/php7/php-differences#migrating_from_the_app_engine_php_sdk

Request to please add this to the "Various Workflows section.

[2021-07-05 08:25] simonfernandes7389 commented on #1561
Hi there, I am facing the same issue in Python3, even tried updating the libraries to the latest versions.
Below are the updated version of google libraries used.

[code]

[2021-07-05 19:41] bshaffer commented on #1848
We have helpful info on sending mail via AppEngine for PHP 7 [here](https://cloud.google.com/appengine/docs/standard/php7/sending-messages). I agree some samples [here](https://github.com/GoogleCloudPlatform/php-docs-samples/tree/master/appengine/standard) would also be useful, but that's a different repo, so I'm closing this issue.

[2021-07-05 19:41] #1848 closed

[2021-07-05 21:34] JamesVanWaza opened #1875 "I am having trouble with gcloud on my terminal"
I didn't find the correct place to submit this issue, but this is the problem I am facing

<img width="1888" alt="Screen Shot 2021-07-05 at 5 32 14 PM" src="https://user-images.githubusercontent.com/4000076/124519327-f5a5c400-ddb6-11eb-93a5-41960113359c.png">

Let me know other details you would require.

[2021-07-06 16:07] ToddKopriva commented on #1848
Thanks for the response, @bshaffer .

[2021-07-06 16:08] ToddKopriva commented on #1875
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2021-07-06 16:08] #1875 closed

[2021-07-07 16:44] yaraju commented on #1873
Here's an alternative solution or workaround if someone finds they're really needing to change PermaLink structure after their GAE-wordpress site has grown a lot:

https://cloud.google.com/appengine/docs/standard/php/config/mod_rewrite

[2021-07-10 10:53] ayapsone commented on #1852
@pavithranagaraj26  - Can you please explain more what you need ? is it
both cloudfunction & workflow yaml in git and using cloudbuild deploy to gcp ?

[2021-07-12 10:33] pavithranagaraj26 commented on #1852
Yes, kind of the same services to deploy to GCP.  @ayapsone If there are some deep-dive in workflows it will be helpful.

[2021-07-12 11:59] varundhussa commented on #1852
@pavithranagaraj26 The tutorial on [serverless orchestration](https://cloud.google.com/architecture/serverless-orchestration-loading-data-from-cloud-storage-to-biquery-using-workflows) should help. The sample workflow is available [here](https://github.com/GoogleCloudPlatform/bigquery-workflows-load/blob/main/workflow.yaml).

[2021-07-12 16:24] ToddKopriva commented on #1852
Thanks, for that tutorial link, @varundhussa .

@pavithranagaraj26 , please let us know if that document is what you were looking for.

[2021-07-13 11:02] pavithranagaraj26 commented on #1852
@ToddKopriva  This is based on bigquery. But as a DevOps and Infrastructure engineer, I was expecting some use case which is used for infra automation purpose. Like custom patching or cloud functions to run scripts. This is not what I was expecting. if you can help me better, would be grateful.

[2021-07-15 04:10] ayapsone commented on #1852
@pavithranagaraj26 - Are you OK, if I provide a sample for this Infra Automation use case https://cloud.google.com/workflows#section-7
Basic idea
1. When VM is created, Tag the resource - IDLE_TIME=<starthour>-<endhour>
2. scheduler 1 runs
3. Looks for running , stop the vm as per tag

From this you should be able to build out your use case, starting point of your workflow might change like HTTP/c

[2021-07-20 13:29] CapobiancoLuca opened #1888 "Issue with tutorials/setting-up-lamp/index.md"
after installing php my admin, where ce test php my admin you forgot this command sudo ln -s / usr / share / phpmyadmin / / var / www / html /, otherwise PHP my admin doesn't work

[2021-07-21 16:40] uishon opened #1889 "issue with cloud-iot-mender-ota/auth-function/functions"
Following [this](https://cloud.google.com/community/tutorials/cloud-iot-mender-ota) IOT OTA using mender tutorial. Working in cloud shell. When trying to deploy firebase functions, running `npm install` fails with error below. Any idea? I believe I've followed the tutorial step-by-step...
[code]

[2021-07-21 17:26] ToddKopriva commented on #1889
@Kcr19 , could you take a look at this issue report about a tutorial that you worked on?

[2021-07-26 09:34] danielgak opened #1894 "Issue with tutorials/docker-compose-on-container-optimized-os.md"
Can you provide an example of how to authenticate into **GCR** when runing _docker compose_ on _cos_ so one can use private imges with this docker compose command? [docs](https://cloud.google.com/community/tutorials/docker-compose-on-container-optimized-os)
Normally the _cos_ instance will be authenticated or one can configure the authentication with service accounts and then run `docker-credentia

[2021-07-26 15:02] arturmkr commented on #1118
@ToddKopriva , please send new invitation link.
Invitation link listed above is not working.

[2021-07-26 15:27] tswast commented on #1894
That's a good question. I wonder if some kind of networking pass-through is needed to access the metadata server? `gcloud` and `bq` commands were working OK when I tested this, so probably not that.

[2021-07-26 15:28] tswast commented on #1894
Does the service account you are using to run the instance have access to the bucket where the images are stored?

[2021-07-26 16:42] danielgak commented on #1894
After searching a bit, I read this [medium post](https://medium.com/@sachin.d.shinde/docker-compose-in-container-optimized-os-159b12e3d117) and he mentions this:

And I end up solving the issue for my usecase... however I would like to know if there is a better aproach for this.

[code]

[2021-07-28 19:16] vorugantivishwanath opened #1896 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
Web page has got below information:
Author(s): @chrisst ,   Published: 2018-08-17

We are in 2021 now, so my request is to update the webpage or provide latest information.

[2021-07-28 19:37] ToddKopriva commented on #1896
Is there something specific that you are seeing that is out of date?

Please give as much detail as you can about the parts of the document that you think need to be updated.

[2021-07-29 01:41] vorugantivishwanath commented on #1896
Hi,

Nothing specific but as a learner I felt like I am following outdated
description.

Hope you got my point

On Thu, 29 Jul, 2021, 1:07 AM Todd Kopriva, ***@***.***>
wrote:

[2021-07-29 01:59] ToddKopriva commented on #1896
Thanks for the response. Feel free to re-open this issue if you see anything that is outdated that needs to be updated.

[2021-07-29 01:59] #1896 closed

[2021-07-29 07:21] vorugantivishwanath commented on #1896
Hi,

May I know resolution for this issue?

On Thu, Jul 29, 2021 at 7:29 AM Todd Kopriva ***@***.***>
wrote:

[2021-07-29 15:29] ToddKopriva commented on #1896
If we are given any specific information about parts of this document that need to be updated, then we will update it.

[2021-08-02 18:15] ToddKopriva commented on #1009
closing because the outdated tutorial has been archived

[2021-08-02 18:15] #1009 closed

[2021-08-02 18:21] ToddKopriva commented on #1015
@michaelawyu , could you take a look at this issue about a document that you submitted?

[2021-08-02 18:29] ToddKopriva opened #1900 "Issue with tutorials/cloud-iot-enviro-board-workshop/index.md"
I'm copying this report over from a different bug-reporting system so that it's visible to all contributors to this repository.

https://cloud.google.com/community/tutorials/cloud-iot-enviro-board-workshop

"Step "Get the public key of the secure element of the sensor board" end with an error:

pi@raspberrypi:/usr/lib/python3/dist-packages/coral/cloudiot $ python3 ecc608_pubkey.py
No crypto detect

[2021-08-02 18:34] ToddKopriva commented on #1148
closing because the wordcount tutorial with Dataflow and Java has been removed

[2021-08-02 18:34] #1148 closed

[2021-08-02 18:42] ToddKopriva commented on #1194
@hxiong388 , can you take a look at this issue regarding a document that you contributed?

[2021-08-02 18:45] ToddKopriva commented on #1210
closing because the outdated tutorial has been archived

[2021-08-02 18:45] #1210 closed

[2021-08-02 18:55] #1253 closed

[2021-08-02 18:55] ToddKopriva commented on #1253
closed because we recently completely redid this tutorial

[2021-08-02 19:07] ToddKopriva commented on #1339
@Timtech4u , could you take a look at this issue report for a document that you submitted?

[2021-08-02 19:12] #1399 closed

[2021-08-02 19:15] #1402 closed

[2021-08-02 19:17] ToddKopriva commented on #1434
The document has been archived.

[2021-08-02 19:17] #1434 closed

[2021-08-02 19:18] #1480 closed

[2021-08-02 19:18] ToddKopriva commented on #1480
closing because we recently reworked this tutorial

[2021-08-02 19:21] #1504 closed

[2021-08-02 19:22] #1502 closed

[2021-08-02 19:22] #1507 closed

[2021-08-02 19:23] ToddKopriva commented on #1507
closed because we recently reworked this tutorial

[2021-08-02 19:28] ToddKopriva commented on #1518
@galz10 , could you take a look at this issue report about a document that you contributed?

[2021-08-02 19:36] ToddKopriva commented on #1627
@wkharold and @vsoch, could you take a look at this issue report about a document that you contributed?

[2021-08-02 19:40] ToddKopriva commented on #1632
@harshithdwivedi , could you have a look at this issue report about a document that you contributed?

[2021-08-02 19:46] #1742 closed

[2021-08-02 19:50] ToddKopriva commented on #1778
Did this refresh of the tutorial fix the issue?
https://github.com/GoogleCloudPlatform/community/pull/1865

I'm going to close this issue now, because it seems that the tutorial is working now. But don't hesitate to re-open this issue if there's still a problem.

[2021-08-02 19:50] #1778 closed

[2021-08-02 19:56] ToddKopriva commented on #1853
closing because we didn't get a response with details

[2021-08-02 19:56] #1853 closed

[2021-08-02 19:56] vsoch commented on #1627
Does the file startup.sh exist in the present working directory where you are running the command @multikengineer ?

[2021-08-02 20:13] multikengineer commented on #1627
No. The point is the documentation viewed https://cloud.google.com/community/tutorials/singularity-containers-with-cloud-build. makes no mention of cloning (this) git repo.

[2021-08-02 20:15] vsoch commented on #1627
That's a good point! I'll see if I can do a quick PR to add this (very important) step. You're right - it's totally absent :laughing:

[2021-08-02 20:19] multikengineer commented on #1627
No problem. We should all have such easy bugs to fix.
(Of course I was able to build a VM that tested the build / execution of singularity containers - just would have been easier if the tutorial included that tidbit.

[2021-08-02 20:38] ToddKopriva commented on #1627
Thanks, @vsoch . I'll review and merge the pull request with the fix.

[2021-08-02 20:40] multikengineer commented on #1627
Looks good. Thanks @ToddKopriva @vsoch.

[2021-08-02 20:40] vsoch commented on #1627
Sounds good! Thanks for the speedy review @ToddKopriva !

[2021-08-02 20:46] ToddKopriva commented on #1627
This will get published tomorrow with a batch of fixes.

[2021-08-02 20:46] #1627 closed

[2021-08-02 20:55] ToddKopriva commented on #1888
@xiangshen-dk , you recently updated this tutorial. Could you have a look at this issue report?

[2021-08-04 17:12] xiangshen-dk commented on #1888
If all the steps are completed successfully, we don't need to manually create a link under `/var/www/html`. The reason is the installation will create the config file `/etc/apache2/conf-enabled/phpmyadmin.conf`, which has an alias `/phpmyadmin` pointing to `/usr/share/phpmyadmin`.

[2021-08-05 00:48] crazo7924 opened #1907 "Issue with tutorials/kotlin-ktor-app-engine-java8/index.md"
JCenter has become read-only. MavenCentral could be used instead.
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-08-05 19:48] galz10 commented on #1518
Hi @PRenouf , what part of the MQTT sample are you trying to use ?

[2021-08-06 15:08] bgrant0607 opened #1908 "Issue with tutorials/gke-filestore-dynamic-provisioning/index.md"
Please update all tutorials with old installation instructions for Helm.

https://cloud.google.com/s/results?q=%22storage.googleapis.com%2Fkubernetes-helm%22

The official way to install helm changed 2 years ago:
https://helm.sh/blog/get-helm-sh/

No new releases have been pushed to the old location for ages, and that bucket is going away in favor of the official CNCF/project hosting location.

In

[2021-08-06 15:08] bgrant0607 commented on #1908
cc @viglesiasce

[2021-08-06 17:43] bgrant0607 commented on #1908
Deprecating this tutorial if it's no longer relevant would also be fine.

[2021-08-06 17:47] ToddKopriva commented on #1908
@wkh , could you take a look at this issue regarding a tutorial that you contributed:
https://cloud.google.com/community/tutorials/gke-filestore-dynamic-provisioning

[2021-08-07 18:36] ToddKopriva commented on #1908
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1909

[2021-08-07 18:36] #1908 closed

[2021-08-11 01:55] arpitran opened #1912 "Terraform tutorial for setting up scheduled queries in GCP"
We have a use case where we would like to set up scheduled queries in GCP using Terraform.

[2021-08-11 15:06] ToddKopriva commented on #1291
@PierrickPuimeanChieze , thanks for that response.

[2021-08-11 15:13] tracyperangusta opened #1913 "Issue with tutorials/appengine-ruby-rails-activejob-sidekiq.md"
Hello,

Foreman is no longer usable in production environment 👎🏽
https://github.com/ddollar/foreman/wiki/Don't-Bundle-Foreman

I guess we need to update the article

[2021-08-11 15:20] ToddKopriva commented on #1913
Thanks for that, @tracyperangusta .

Feel free to submit a pull request to make the fix yourself. If you'd rather not, then I can look into doing so.

[2021-08-13 20:36] PRenouf commented on #1518
Hi @galz10, this was a long time ago now. I do not recall.

[2021-08-16 21:36] msigoo33 opened #1916 "Issue with tutorials/cloud-iot-logging/index.md"
Issue Description

[2021-08-16 22:29] ToddKopriva commented on #1916
@msigoo33 , you submitted a blank issue report. If you had trouble with this document, please leave some details for us.

[2021-08-18 15:27] toadjaune opened #1917 "fluentbit tutorial referencing non-existing image"
Following https://github.com/GoogleCloudPlatform/community/pull/1911, the fluentbit example manifests refers to `gcr.io/cloud-solutions-images/fluent-bit:1.8`, which does not exist.

Only a `1.6` tag exists in this repository : https://console.cloud.google.com/gcr/images/cloud-solutions-images/GLOBAL/fluent-bit

Reverting back to `1.6` does not work either, you get 400s answers from stackdriver in

[2021-08-18 16:26] ToddKopriva commented on #1917
Thanks for the report. We'll look into it.

[2021-08-23 17:31] galz10 commented on #1518
@ToddKopriva You can close this because no repro

[2021-08-23 17:32] ToddKopriva commented on #1518
Thanks, @galz10 .

[2021-08-23 17:32] #1518 closed

[2021-08-24 14:46] caperutxa opened #1919 "Unexpected zone in Creating the Kubernetes cluster section. Issue with tutorials/couchbase-on-google-kubernetes-engine-using-terraform/index.md"
Issue with tutorials/couchbase-on-google-kubernetes-engine-using-terraform/index.md

In the section "Creating Kubernetes cluster" one could see:

[code]

But once the `terraform plan` command is ran, an error arise

[code]

Terraform version

[code]

[2021-08-24 14:48] ToddKopriva commented on #1919
Thanks for the report. We'll have a look.

[2021-08-25 22:47] imclean557 opened #1920 "Issue with tutorials/drupal-on-compute-engine.md"
The Drupal modules "PHPMailer SMTP" and "SMTP Authentication Support" do the same thing, it is not necessary to install both. For a while there the SMTP Auth module didn't support installing the PHPMailer library via composer which is probably why the guide was written this way.

Installing either module via composer will now also install the PHPMailer library.

See the module pages and issue queu

[2021-08-31 12:10] toadjaune commented on #1917
Using `gcr.io/gke-on-prem-release/fluent-bit:v1.7.7-gke.4` seems to be a working workaround.

Not sure if we can consider it a proper fix, I'd expect not.

[2021-09-01 05:52] ChamaruAmasara opened #1921 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md File Limit of 10,000 files"
Issue Description

Although we can start a Wordpress site in App Engine, we can't expand it because there is a file limit of 10,000 for deployments by default. Is there a workaround to get rid of this file limit?

[2021-09-01 05:54] ChamaruAmasara commented on #1921
Usually, WordPress sites easily scale more than 10,000 files.
The WordPress 5.8 core has 2,622 Files.

[2021-09-07 14:16] hkiame opened #1925 "Setting Up LAMP on Compute Engine Tutorial"
On this section, Optional: Use phpMyAdmin for database administration. The following steps should be added

- on /etc/php/apache2/php.ini turn on extension=mysqli.so
- on /etc/apache2/apache2.conf add
[code]
- Restart apache
[code]

[2021-09-08 11:21] ashutoshkr73 opened #1926 "ingress host issue is coming"
- [
 ashutoshkumar@Ashutoshs-MacBook-Pro helm-lt % kubectl apply -f ingress.yaml -n locust
Warning: networking.k8s.io/v1beta1 Ingress is deprecated in v1.19+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
The Ingress "ingress-resource" is invalid: spec.rules[0].host: Invalid value: "${NGINX_INGRESS_IP}.nip.io": a lowercase RFC 1123 subdomain must consist of lower case alphanumeric charac

[2021-09-08 13:45] ToddKopriva commented on #1926
@ashutoshkr73 , is this intended to be a report of an issue with a document in this repository? If so, which one?

[2021-09-09 20:53] Adrian2093 opened #1927 "L"

[2021-09-09 20:54] #1927 closed

[2021-09-10 23:51] ToddKopriva commented on #1926
@ashutoshkr73 , I'm closing this issue now because I don't think that we have enough information to move forward. Feel free to re-open this when you can provide more details, including what document you're reporting about.

[2021-09-10 23:51] #1926 closed

[2021-09-10 23:54] ToddKopriva commented on #1925
@hkiame , it seems that you have a clear idea of what you think should be added. Please, feel free to create a pull request to make the changes yourself. We welcome such contributions.

[2021-09-10 23:56] #8 closed

[2021-09-10 23:57] #105 closed

[2021-09-10 23:58] #585 closed

[2021-09-11 00:01] #216 closed

[2021-09-11 00:04] #222 closed

[2021-09-11 00:05] #226 closed

[2021-09-11 00:08] #103 closed

[2021-09-11 00:12] #291 closed

[2021-09-11 00:13] #548 closed

[2021-09-11 01:13] ToddKopriva commented on #1921
@ChamaruAmasara , I think that you'll get more people to see your question and help you out if you bring your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2021-09-11 01:15] #447 closed

[2021-09-11 01:15] #461 closed

[2021-09-11 01:15] #466 closed

[2021-09-11 01:16] #506 closed

[2021-09-11 01:17] #745 closed

[2021-09-11 01:23] #948 closed

[2021-09-11 01:25] #1038 closed

[2021-09-11 01:25] #1150 closed

[2021-09-11 01:32] ToddKopriva commented on #1202
This tutorial has been archived:
https://github.com/GoogleCloudPlatform/community/tree/master/archived/cloud-functions-github-auto-deployer

[2021-09-11 01:32] #1202 closed

[2021-09-11 01:38] #1264 closed

[2021-09-11 01:41] #988 closed

[2021-09-11 01:43] #752 closed

[2021-09-11 01:45] #1351 closed

[2021-09-11 01:45] #1380 closed

[2021-09-11 01:46] #1258 closed

[2021-09-11 02:11] #1352 closed

[2021-09-11 02:12] #1388 closed

[2021-09-11 02:13] #1392 closed

[2021-09-11 02:15] #1485 closed

[2021-09-11 02:16] #499 closed

[2021-09-11 02:17] #364 closed

[2021-09-11 02:18] #227 closed

[2021-09-11 18:34] hkiame commented on #1925
Awesome. I will work on it. Thanks!

[2021-09-13 19:26] ChamaruAmasara commented on #1921
Sure thing.
It was already answered in the forums. But I just thought it may be worth pointing it out in the tutorial because many people may be stuck in this file limit.
By the way, your tutorial was super useful. Thank you very much. 😊

[2021-09-13 19:26] #1921 closed

[2021-09-13 20:57] ToddKopriva commented on #1919
@kishoreallwynraj , can you have a look at this issue about a document that you contributed?

[2021-09-13 21:52] #762 closed

[2021-09-13 22:08] #932 closed

[2021-09-13 22:15] ToddKopriva commented on #1083
This document has been archived.

Here is a newer document on the subject:
https://cloud.google.com/architecture/build-ha-vpn-connections-google-cloud-aws

[2021-09-13 22:15] #1083 closed

[2021-09-13 22:25] #1194 closed

[2021-09-13 23:20] #1293 closed

[2021-09-13 23:26] #1263 closed

[2021-09-13 23:36] ToddKopriva commented on #1265
@Timtech4u , is this still an open issue? Is there still a problem that needs to be fixed?

[2021-09-13 23:56] #1281 closed

[2021-09-14 00:10] #1465 closed

[2021-09-14 19:21] arnoldmartinez opened #1936 "Please, do a tutorial on how to run tests and migrations in Laravel with cloud build as CI, I have my repo in GitHub."

[2021-09-15 01:25] ToddKopriva commented on #1925
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1937

[2021-09-15 01:25] #1925 closed

[2021-09-15 08:42] KrzysztofZalasa opened #1939 "Tutorial Request: Using HA Cloud VPN with StrongSwan"
Since Cloud VPN Classic is going to be deprecated it would be great to have tutorial which covers configuration of StrongSwan together with Cloud VPN HA. Existing tutorial tutorials/using-cloud-vpn-with-strongswan/index.md is great and it would be awesome to have similar guide for HA setup.

[2021-09-16 10:13] AthulMuralidhar opened #1942 "Issue with tutorials/nginx-ingress-gke/index.md"
the manifest and the related resources are not up to date. I am a beginner in this so i don't have the required knowledge to edit / update the page. Hopefully someone comes along and does it so that noobs like me can learn.

thanks!

[2021-09-16 15:17] ameer00 commented on #1942
@AthulMuralidhar . Thanks for the feedback. You can simply fork this repo, make the updates in your fork and create a PR. And send in your updates that way. Myself and a few others can them review and approve it. Please let me know if that works for you.

[2021-09-20 16:44] #1942 closed

[2021-09-24 23:26] ToddKopriva commented on #1917
This is fixed by pull request #1947 .

[2021-09-24 23:26] #1917 closed

[2021-09-27 18:02] jrdi opened #1949 "Fluent Bit for GKE logs not working when workload identity activated"
I've been following the "Customizing Fluent Bit for Google Kubernetes Engine logs" tutorial to customize a FluentBit parser on my GKE production cluster.

Everything works as expected when executing the code from the example. Playing with the dummy cluster, and customizing the logs works nicely.

The problem comes when I try to apply the exact same configuration to an already existing cluster that

[2021-09-27 18:38] ToddKopriva commented on #1949
@xiangshen-dk , can you take a look at this issue about a document that you worked on?

[2021-09-28 09:52] jrdi commented on #1949
I managed to make it work by activating `hostNetwork: true` to bypass Workload Identity. I get the idea from here: https://github.com/GoogleCloudPlatform/kubernetes-engine-customize-fluentd/issues/17#issuecomment-825872626

I won't consider this a fix since it's been just try and error until I managed to have everything working 🤷‍♂️

[2021-09-28 13:50] jrdi commented on #1949
I managed to make it work by activating `hostNetwork: true` to bypass Workload Identity. I get the idea from here: https://github.com/GoogleCloudPlatform/kubernetes-engine-customize-fluentd/issues/17#issuecomment-825872626

I won't consider this a fix since it's been just "try and error" until I managed to have everything working 🤷‍♂️

[2021-09-29 02:14] xiangshen-dk commented on #1949
@jrdi:
You can use `hostNetwork: true` as a workaround. If you do that, you probably also want to set `dnsPolicy: ClusterFirstWithHostNet`. As you mentioned, it bypasses workload identity.

It should also work to use workload identity. I have tried it and verified in my testing cluster without problems. Please make sure you follow the steps in the [doc](https://cloud.google.com/kubernetes-engine/d

[2021-09-29 07:58] jrdi commented on #1949
Thank you @xiangshen-dk!

It will be great if you can share the steps you followed. It should be a matter of assigning the right roles and I'm pretty sure that I was missing some important one 🙁

[2021-09-29 17:45] xiangshen-dk commented on #1949
@jrdi, you can find the commands I used at:
https://gist.github.com/xiangshen-dk/55a4004876b30e44a7050fea166d6c15

[2021-10-03 14:32] jrdi commented on #1949
@xiangshen-dk now it's working, thanks!

[2021-10-03 15:21] ToddKopriva commented on #1949
Thanks for confirming, @jrdi .

[2021-10-03 15:21] plech-sec opened #1952 "Deploy OWASP Dependency-Track to Google Cloud - integration with Google Identity Platform"
Hi,
I would like to implement Dependency-Track in GCP, according to this tutorial - https://cloud.google.com/community/tutorials/deploy-dependency-track
Can Dependency-Track in GCP be integrated with the Google Identity platform as identity provisioner ?
Are the integration rules similar to, for example, KeyCloak?

Thank you.

[2021-10-03 15:24] ToddKopriva commented on #1952
@dedickinson , can you help with these questions about a document that you contributed?

[2021-10-05 09:44] bonirista opened #1955 "Issue with tutorials/write.md"
Issue Description

[2021-10-05 14:17] #1955 closed

[2021-10-05 22:35] dedickinson commented on #1952
Hiya - I don't think this will work with [Cloud Identity Platform (CIP)](https://cloud.google.com/identity-platform). Whilst CIP can connect to an OIDC provider I don't believe CIP also presents itself as a provider. @plech-sec I see that that KeyCloak config example is provided in the [OpenID Connect Configuration](https://docs.dependencytrack.org/getting-started/openidconnect-configuration/) for

[2021-10-06 14:28] rvenky125 opened #1956 "Issue with tutorials/kotlin-ktor-app-engine-java8/index.md"
old

[2021-10-06 15:26] ToddKopriva commented on #1956
@rvenky125 , do you have any more specific feedback about parts of this document that don't work or need updates?

[2021-10-07 04:50] jenildesai25 opened #1958 "Tutorial on Docker networking"
I have been trying to find a tutorial on how the docker network works internally. I could not find a resource with an example. Can someone please provide me with some guidance?

[2021-10-14 05:24] aghahasaan commented on #1958
It depends on your environment/operating system/distribution and other factors but for the most part Docker does not necessarily interfere with your host network's environment and instead creates a Virtual Bridge (or LAN Network) inside the instance/container/physical host or what have you and then assigns each container you start a Virtual Ethernet Port (and address) as you go along.  So basicall

[2021-10-16 20:59] IanVaughan opened #1962 "Issue with tutorials/elixir-phoenix-on-cloud-build-cloud-run/index.md"
It should state in setup to enable Cloud Build API

https://console.cloud.google.com/apis/library/cloudbuild.googleapis.com

[2021-10-16 21:07] IanVaughan opened #1963 "Issue with tutorials/elixir-phoenix-on-cloud-build-cloud-run/index.md"
With elixir 1.11.2  it now creates the `.gitginore` as follows :

[code]

So the following step is not valid:

[2021-10-16 21:12] IanVaughan opened #1964 "Issue with tutorials/elixir-phoenix-on-cloud-build-cloud-run/index.md"
From https://cloud.google.com/community/tutorials/elixir-phoenix-on-cloud-build-cloud-run

After "Prepare your Phoenix app" and pushing to GitHub, the build fails

This is the SHA with that fail: https://github.com/IanVaughan/hello-elixir-cloud-run/tree/549f57a5bfe00562ef4051ee76b38472bc62974a

GitHub shows a build fail as well :

-- https://github.com/IanVaughan/hello-elixir-cloud-run/runs/391573

[2021-10-19 13:47] DavTho1983 opened #1965 "Issue with tutorials/nginx-ingress-gke/index.md"
I followed this tut all the way through exactly on GKE and it just gives me a 404 error

[2021-11-01 21:44] transdigiware opened #1969 "101"
Google Cloud 101 Take an up-close look at the fundamentals of Google Cloud and get started with the Google Cloud skills challenge. Tour the console and a variety of developer tools and compute options during a walkthrough of a lab in the Getting Started track of the skills challenge. Then dig into the cutting-edge capabilities that exist for data, AI, containers, virtual machines, and more.
[Watch

[2021-11-01 21:53] #1969 closed

[2021-11-05 02:57] RafaelZasas opened #1970 "Issue with tutorials/cicd-cloud-run-github-actions/index.md"
Is this still valid documentation?
The [Google GitHub Actions](https://github.com/google-github-actions/deploy-cloudrun) Page for Cloud Run says to migrate to `deploy-cloudrun` however it also mentions that this workflow will not allow to set configurations like allow unauthenticated requests.

[2021-11-05 14:05] ToddKopriva commented on #1970
@leozz37 , can you answer this question about a document that you contributed?

[2021-11-05 20:54] ivoilic opened #1971 "Issue with tutorials/managing-gcp-projects-with-terraform/index.md"
This tutorial is missing a step which would allow the reader to see the created project in their dashboard:

[code]

This would also make it harder for the reader to accidentally create "ghost" projects they don't know exist if they don't complete the tutorial and delete all Terraform resources. I did this myself and wasn't sure until I found the project listed under my billing account but nowhere

[2021-11-05 21:49] ToddKopriva commented on #1971
Thanks. Feel free to submit a pull request to fix this.

[2021-11-09 05:43] octopop opened #1972 "Invalid parameter autoscalingAlgorithm in tutorials/schedule-dataflow-jobs-with-cloud-scheduler/index.md"
Issue Description

The tutorial has sample code for Terraform with the following block that defines the body of the API call to start a dataflow job:

`# need to encode the string
body = base64encode(<<-EOT
{
      "jobName": "test-cloud-scheduler",
      "parameters": {
        "region": "${var.region}",
        "autoscalingAlgorithm": "THROUGHPUT_BASED",
      },
      "environment": {
        "

[2021-11-09 14:33] ToddKopriva commented on #1972
Thanks for the report, @octopop .

@zhongchen , can you take a look at this report of an issue with a document that you contributed?

[2021-11-10 16:23] kosai576 opened #1975 "Google Billing Hack"

[2021-11-10 16:54] #1975 closed

[2021-11-12 09:54] Smasherr opened #1977 "Docker registry at gcr.io down"
I am currently experiencing connection issues with the google container registry:

[code]

Is there any information about that downtime?

[2021-11-12 10:53] #1977 closed

[2021-11-16 19:43] mackgorski opened #1978 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
When I use wp-cli to update plugins I get an error on deployment after updating plugins where it says that my project has too many files and the limit is 10K :( before the update, it was deployed successfully not sure why I cannot deploy after updating plugins. The tutorial should cover this and some best practices for how many plugins can be used with WP on App Engine or how to serve plugins dire

[2021-11-17 11:25] docJerem opened #1979 "Issue with tutorials/run-an-elixir-phoenix-app-in-containers-using-google-kubernetes-engine.md"
## nodejs-npm is deprecated

<img width="719" alt="image" src="https://user-images.githubusercontent.com/10330097/142191870-10c77bbc-d1c2-41d0-ba4d-99d444e81f8a.png">

## Solution

In the Dockerfile you need to rename

[code]

to

[code]

[2021-11-17 13:44] ToddKopriva commented on #1979
Thanks, @docJerem . If you want to create a pull request to make this change yourself, we'll review it.

@dazuma , can you take a look at this recommendation for a document that you authored?

[2021-11-19 17:12] itsgarimagoogle opened #1981 "Issue with tutorials/setting-up-postgres.md and tutorials/setting-up-lamp.md"
The "Create new VM" Cloud console page has been updated recently. Related steps in the following documents need to be updated:

https://cloud.google.com/community/tutorials/setting-up-lamp
https://cloud.google.com/community/tutorials/setting-up-postgres

[2021-11-25 04:33] patilnikhilh80 opened #1982 "I can't find way to setup dev,stage and prod environments on app engine"

[2021-11-25 17:17] ToddKopriva commented on #1982
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2021-11-25 17:17] #1982 closed

[2021-11-30 13:26] davide-zanon opened #1986 "Update the 'Open network port' steps per new UI"
The new UI contains a **Source filter** dropdown list that asks users to select one among four possible options. Once selected, the name of the **Source IP Range** field changes (e.g., it becomes Source IPv4 ranges).

Which is the correct IP range to choose for this tutorial?

https://github.com/GoogleCloudPlatform/community/blob/fba7a2285e8203db4c9db40905384583e08839d4/tutorials/setting-up-postgr

[2021-11-30 13:31] davide-zanon opened #1987 "Lack of permissions to verify if a step if still valid per the new UI"
I'm unable to verify if this step is still valid for the new UI (see [Issue#1981](https://github.com/GoogleCloudPlatform/community/issues/1981)).

https://cloud.google.com/community/tutorials/setting-up-lamp

[2021-11-30 21:38] ToddKopriva commented on #1981
@davide-zanon fixed this issue with pull requests #1984 and #1985 .

[2021-11-30 21:38] #1981 closed

[2021-11-30 21:41] ToddKopriva commented on #1987
@davide-zanon , please give more detail about exactly what you tried and exactly what is failing. What permission are you lacking?

@xiangshen-dk , you've done a lot of work on this document recently, so I'm hoping that you can help Davide to understand whatever he needs to understand to move forward with his testing of this document:
https://cloud.google.com/community/tutorials/setting-up-lamp

[2021-11-30 21:46] ToddKopriva commented on #1986
@xiangshen-dk , you've done some significant work on this tutorial recently, so you seem like a good person to help @davide-zanon with his question.

[2021-12-01 09:23] davide-zanon commented on #1987
@xiangshen-dk I need permission to verify the following step: https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/setting-up-lamp/index.md?plain=1#L293

Alternatively, could you instead tell me if that steps is still valid or has changed?

[2021-12-01 09:28] davide-zanon commented on #1986
@xiangshen-dk these are the steps I'm talking about: https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/setting-up-postgres.md?plain=1#L208

[2021-12-01 15:34] tswast commented on #1894
I'm not aware of an alternative, but also haven't worked much with Docker the past few years. Pull requests are welcome.

[2021-12-02 16:06] kosai576 opened #1990 "Audio quality testing"
https://open.spotify.com/track/4Pbg79cTBu4vgSphoyNq3j?si=Rxk8GYc7Rg-_ONi_AcIitg&utm_source=native-share-menu

[2021-12-02 16:10] #1990 closed

[2021-12-06 04:13] xiangshen-dk commented on #1986
It should be the IPv4 ranges.

[2021-12-06 04:19] xiangshen-dk commented on #1987
@davide-zanon That step assumes you are the owner of the project, or you just create the project for the tutorial. Otherwise, you will not have permission to delete it. In most of our tutorials, we suggest that anyone who tries the tutorial create a new project and shut it down when it's done.

[2021-12-06 08:54] davide-zanon commented on #1986
@xiangshen-dk Thanks for your reply! I submitted a pull request. Once @ToddKopriva approves it, we can close this issue.

[2021-12-06 09:02] davide-zanon commented on #1987
@xiangshen-dk Thank you for your reply! The step is unchanged from the previous version. Thus, we can close this issue.

[2021-12-06 09:02] #1987 closed

[2021-12-06 16:35] ToddKopriva commented on #1986
Thanks, @davide-zanon and @xiangshen-dk .

[2021-12-08 23:07] #215 closed

[2021-12-08 23:10] #369 closed

[2021-12-08 23:11] #600 closed

[2021-12-08 23:15] #961 closed

[2021-12-08 23:15] #1055 closed

[2021-12-08 23:17] #1137 closed

[2021-12-08 23:27] #1192 closed

[2021-12-08 23:36] #1216 closed

[2021-12-08 23:42] #1291 closed

[2021-12-08 23:43] #1316 closed

[2021-12-08 23:45] #1339 closed

[2021-12-08 23:52] #1584 closed

[2021-12-08 23:53] #1585 closed

[2021-12-08 23:54] #1611 closed

[2021-12-08 23:58] #1614 closed

[2021-12-09 00:00] #1615 closed

[2021-12-09 00:06] #1616 closed

[2021-12-09 00:08] #1631 closed

[2021-12-09 00:15] #1632 closed

[2021-12-09 00:20] #1704 closed

[2021-12-09 00:30] #1813 closed

[2021-12-09 00:31] #1843 closed

[2021-12-09 00:35] #1888 closed

[2021-12-09 00:38] #1894 closed

[2021-12-09 00:39] #1912 closed

[2021-12-09 00:42] ToddKopriva commented on #1913
The easy update would be to just remove option A. I'll take that approach unless someone has a better idea.

[2021-12-09 00:45] #1919 closed

[2021-12-09 00:58] #1939 closed

[2021-12-09 01:00] ToddKopriva commented on #1949
@xiangshen-dk , should this issue report stay open? Is there a need for a change?

[2021-12-09 01:01] ToddKopriva commented on #1952
It seems that this conversation has finished, so I'll close this.

[2021-12-09 01:01] #1952 closed

[2021-12-09 01:03] ToddKopriva commented on #1958
If you still have questions, I recommend bringing them to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2021-12-09 01:03] #1958 closed

[2021-12-09 14:03] xiangshen-dk commented on #1949
@ToddKopriva There is no change needed. It can be closed. Thanks!

[2021-12-09 15:36] #1949 closed

[2021-12-09 22:58] ToddKopriva commented on #1965
This PR updated the tutorial, and it seems to be working fine now:
https://github.com/GoogleCloudPlatform/community/pull/1968

[2021-12-09 22:58] #1965 closed

[2021-12-10 20:59] cgalo5758 commented on #1813
Why was this closed?

[2021-12-13 23:33] ToddKopriva commented on #1813
It was closed because we directed you to a better place for your question.

[2021-12-15 08:56] jpswade opened #2008 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
This tutorial suggests that you can simply deploy an existing wordpress application, however, you'll likely get this error:

[code]

If your application has over 10k of files, then it simply will not deploy. It would be useful to know this at the beginning of the tutorial, rather than at the end.

[2021-12-15 14:13] ToddKopriva commented on #2008
Thanks for the feedback, @jpswade .

@bshaffer , can you look into adding some information about this limitation  early in the document?

[2021-12-15 15:23] deprosun opened #2009 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
The step with ssh does not work

---- ISSUE 1
[code]

I had to do
[code]

---- ISSUE 2

the firewall tf code doesn't work.
[code]
 Following is the error

[code]

![image](https://user-images.githubusercontent.com/5571798/146214273-2426f582-5e71-4753-9ab2-cb76840e1385.png)

[2021-12-15 17:04] ToddKopriva commented on #2009
Thanks, @deprosun . I'll look into this.

[2021-12-17 01:31] Rohit484 commented on #1813
right

[2021-12-21 11:11] kostadin-kar opened #2013 "Feature request regarding tutorials/nginx-ingress-gke/index.md"
I like how well written this document is.
One suggestion would be for an expert with GKE to extend this tutorial by including the steps necessary for a private GKE cluster, if it is possible.
Thanks!

[2021-12-21 16:49] ToddKopriva commented on #2013
Thanks for the feedback, @kostadin-kar .

@ameer00 , I want to make sure that you see this feedback.

[2021-12-22 17:51] galz10 commented on #1721
Fixed the issue [PR](https://github.com/GoogleCloudPlatform/community/pull/2015)

[2021-12-22 18:51] ToddKopriva commented on #1721
Thanks, @galz10 .

[2021-12-22 18:51] #1721 closed

[2021-12-22 20:18] oscarpulido55 opened #2016 "Issue with tutorials/dataflow-dlp-to-datacatalog-tags/index.md"
Issue Description:
Hi Folks! First of all, Thank you for this great tutorial!
I'm having the following error when running the dataflow job, looks like a versions mismatch but I wasn't able to fix in the pom.xml
So wondering if you can take a look on that ....

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See h

[2021-12-22 21:19] oscarpulido55 commented on #2016
Fixed changing the google.cloud.core version to:
<google.cloud.core>2.3.3</google.cloud.core>

[2021-12-22 23:15] ToddKopriva commented on #2016
Thanks for the report.

You are welcome to make a pull request with the fix. If not, then I'll look into it.

[2021-12-24 02:50] oscarpulido55 commented on #2016
I just created a PR with updated pom.xml libraries that are working for me today(12-23-2021)
https://github.com/GoogleCloudPlatform/community/pull/2017

[2021-12-24 15:57] ToddKopriva commented on #2016
Thanks, @oscarpulido55 . I approved that PR, so now we just need you to sign the CLA as mentioned in the comment thread on that pull request.

[2021-12-29 12:15] tiagostutz opened #2018 "Issue with tutorials/cicd-cloud-run-github-actions/index.md"
Hi folks! 👋🏻

The provided YAML example has `GoogleCloudPlatform/github-actions/setup-gcloud@master` in the Login step, which yields to
[code]
Doing some research I found that the current working action is `google-github-actions/setup-gcloud@master`

Maybe could update the tutorial? I could send a PR for that's the case

[2021-12-29 17:02] ToddKopriva commented on #2018
Thanks for the report, @tiagostutz . Please, feel free to submit a pull request with the fix.

[2021-12-29 17:05] tiagostutz commented on #2018
Nice, on my way. Thanks!

[2021-12-29 22:23] #2018 closed

[2021-12-29 23:44] #1913 closed

[2021-12-30 18:05] ToddKopriva commented on #1266
@chrisst , the original author is not available to look at this, and you worked on a related tutorial about using Terraform with Google Cloud. Could you have a look at this request?

[2021-12-30 22:21] ToddKopriva commented on #1920
We're archiving this tutorial, so I'm closing this issue.

[2021-12-30 22:21] #1920 closed

[2021-12-30 22:29] #1956 closed

[2021-12-30 22:32] ToddKopriva commented on #2009
@chrisst , could you take a look at this issue regarding a tutorial that you submitted?

[2021-12-30 22:41] #1964 closed

[2021-12-30 22:42] #1963 closed

[2021-12-30 22:42] #1962 closed

[2021-12-30 22:50] ToddKopriva commented on #2016
closed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2017

Thanks again, @oscarpulido55 .

[2021-12-30 22:50] #2016 closed

[2021-12-31 21:59] ToddKopriva commented on #1889
closing this issue because the tutorial is being unpublished because it's outdated

[2021-12-31 21:59] #1889 closed

[2022-01-02 02:00] ryanmark1867 opened #2024 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
Issue Description - the tutorial is great, but the step "Open port 5000 on the instance"

resource "google_compute_firewall" "default" {
 name    = "flask-app-firewall"
 network = "default"

 allow {
   protocol = "tcp"
   ports    = ["5000"]
 }
}

generates the following error with terraform plan:

│ Error: 1 error occurred:
│       * one of source_tags, source_ranges, or source_service_accounts

[2022-01-03 16:00] ToddKopriva commented on #2024
@ryanmark1867 , thanks for the report.

Feel free to submit a pull request to fix the issue. If you do, then I'll review and merge it.

[2022-01-03 18:50] chrisst commented on #1266
The article describes how to create a new service account and does give it a limited set of IAM permissions using gcloud only for the purpose of creating gcp projects. For the scope of the document I think this is sufficient.
If you are looking for more general guidance on GCP IAM I recommend https://cloud.google.com/iam/docs/quickstart or https://cloud.google.com/iam/docs/using-iam-securely.

[2022-01-04 16:46] ToddKopriva commented on #1266
Thanks, @chrisst .

[2022-01-04 16:46] #1266 closed

[2022-01-04 22:35] ToddKopriva opened #2025 "incorrect method name in description"
@steverevvo pointed out a problematic method reference here:
https://github.com/GoogleCloudPlatform/community/pull/1959

The problem is at line 437 here:
https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/understanding-oauth2-and-deploy-a-basic-auth-srv-to-cloud-functions/index.md

[2022-01-04 23:41] ToddKopriva commented on #2024
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2026

[2022-01-04 23:41] #2024 closed

[2022-01-05 00:00] ToddKopriva commented on #2025
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2027

[2022-01-05 00:00] #2025 closed

[2022-01-05 14:13] ybudweiser commented on #1654
Do you have any documentation on the "internal scheduling" of clamd. Every document i found requires clamdscan to submit a scan request to the daemon still. The daemon just keeps the virus definition in memory for clamdscans, where as running clamscan by itself requires the clamscan to load the virus definition each time.
Seems like both clamdscan and clamscan require a cronjob

[2022-01-05 22:36] Doctorrr opened #2030 "Issue with tutorials/run-symfony-on-appengine-standard/index.md"
app.yaml link is broken for now

actual URL: https://github.com/GoogleCloudPlatform/php-docs-samples/blob/master/appengine/standard/symfony-framework/app.yaml

[2022-01-05 22:42] ToddKopriva commented on #2030
Thanks for the report, @Doctorrr .

Feel free to submit a pull request to fix this. If you do, then I'll review and merge it. If you don't, then I'll have a look at fixing it myself.

[2022-01-11 23:22] xenyal opened #2035 "Issue with tutorials/appengine-ruby-rails-activejob-sidekiq.md"
The `entrypoint` command specified in `worker.yaml` does not take precedence over the CMD that is declared within a Dockerfile when used with `runtime: custom`.

Dockerfile:
[code]

worker.yaml:
[code]

I've verified that if I switch the `CMD` args to use `bundle exec sidekiq` instead of `irb`, that the App Engine instance is deployed successfully. However, it seems that the `entrypoint` key that

[2022-01-14 21:37] ToddKopriva commented on #2035
@chingor13 , can you take a look at this issue reported about a document that you wrote?

[2022-01-20 04:36] Stoyvo opened #2038 "Issue with tutorials/run-laravel-on-appengine-standard/index.md - Laravel Migrations"
This tutorial is great, however it misses a critical part of a Laravel application development lifecycle. You will always use `php artisan migrate` to perform database changes in your deployment pipeline.

Will make a PR if I figure it out.

[2022-01-20 16:06] ToddKopriva commented on #2038
Thanks, @Stoyvo . I assigned this to you because you indicated that you might make a pull request to address this. Let me know if you choose to not do this.

[2022-01-20 16:07] ToddKopriva commented on #2038
@bshaffer , I added you because you are the original author.

[2022-01-20 21:39] evilsysadmin opened #2040 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
hey, just a comment

on the firewall rule, you say to add

 source_tags = ["mynetwork"]

but that wont work ,as gcp in no way knows what "mynetwork" is.

Hence the way its now, you cannot access the flask app externally.

Considering this tutorial is for testing purposes, i think its easier to setup that like this

 source_ranges = ["0.0.0.0/0"] or  source_ranges = ["your external public ip, cidr

[2022-01-25 17:08] Gyekye opened #2085 "npm instead mof Yarn"
My project uses npm instead of yarn, should I still use RUN Yarn in the Dockerfile ?

[2022-01-25 17:26] ToddKopriva commented on #2085
Are you asking about a specific document or example, @Gyekye ?

[2022-01-25 18:39] Gyekye commented on #2085
In your deploy react to cloud run , the Dockerfile configuration used Yarn, but my project uses npm for package management,  should I just change the Yarn to Npm in the Dockerfile

[2022-01-25 20:13] ToddKopriva commented on #2085
@FelipeLujan , can you help to answer this question about a tutorial that you contributed?

https://cloud.google.com/community/tutorials/deploy-react-nginx-cloud-run

[2022-01-26 12:49] #2085 closed

[2022-01-26 19:19] rbarrett-scope opened #2087 "Issue with tutorials/serverless-vpc-access-private-mongodb-atlas/index.md"
Issue Description

This tutorial is about setting up VPC connection from GCP to Atlas, but the example connection string format is incorrect for a VPC connection. To use a VPC connection string, as per: https://docs.atlas.mongodb.com/reference/faq/connection-changes/#std-label-connstring-private the connection string must have the `-pri` suffix in the hostname portion of the URL, otherwise it will

[2022-01-26 20:02] ToddKopriva commented on #2087
@russStarr , could you take a look ar this suggestion regarding a document that you contributed?

[2022-01-28 12:26] ASHOKREDDDY1234 opened #2097 "Issue with tutorials/appengine-angular-nginx-docker/index.md"
Issue Description

[2022-01-28 12:27] ASHOKREDDDY1234 opened #2098 "Issue with tutorials/appengine-angular-nginx-docker/index.md"
Issue Description

[2022-01-28 16:38] ToddKopriva commented on #2098
@ASHOKREDDDY1234 , I'm closing this issue because there's no information in it. Feel free to re-open this issue if you have details to add.

[2022-01-28 16:38] #2098 closed

[2022-01-28 16:38] #2097 closed

[2022-02-01 14:13] afcsagir opened #2100 "Issue with tutorials/run-laravel-on-appengine-standard/index.md"
Step #2 - "build": In PackageManifest.php line 177:
Step #2 - "build":
Step #2 - "build":   The /workspace/bootstrap/cache directory must be present and writable.
Step #2 - "build":

[2022-02-02 00:09] #2087 closed

[2022-02-02 16:37] russStarr commented on #2087
Thank you @rbarrett-scope for calling this out! I've submitted a fix and we'll see the tutorial page get updated soon.

[2022-02-02 16:43] rbarrett-scope commented on #2087
Thanks for the prompt response.

On Wed, Feb 2, 2022 at 11:37 AM Russ Starr ***@***.***> wrote:

[2022-02-04 16:33] jackyzhujiale commented on #1556
@amygdala / @dinigo / @ToddKopriva
Hey GCloud guys, any update on this error? I am having exactly the same issue when locally run the model in docker.

So I bring up the docker and try curl which got "failed to connect to all addresses"
[code]

In docker log: I got this, seems the request reached and got 200, but the curl failed

[code]

[2022-02-04 16:40] jackyzhujiale commented on #1556
btw I'm trying with Vertex AI regression model, and use the container export. The model can work successfully in Cloud console batch prediction. The case only happen locally, and it won't self recover to REady state even waited for hours

[2022-02-04 16:41] jackyzhujiale commented on #1556
Here's the docker starting log:
[code]

[2022-02-04 17:06] helinwang commented on #1556
If there is a `environment.json` file in the model artifact, can you use the docker image URI in the `environment.json` file, instead of gcr.io/cloud-automl-tables-public/model_server? That should fix the problem.

[2022-02-04 17:12] jackyzhujiale commented on #1556
That works!

I think this work around should be updated in https://cloud.google.com/automl-tables/docs/model-export#export
It costs me half day to finally reach to this github issue page

[2022-02-04 17:18] helinwang commented on #1556
Yes, absolutely, sorry about the inconvenience, I will be working on it.
Btw, I think you are using Vertex, https://cloud.google.com/vertex-ai/docs/export/export-model-tabular is the right documentation page :)

[2022-02-04 17:38] jackyzhujiale commented on #1556
Oh I see, the document for Vertex is correct. It's easy to confuse given automl-tables is so similar comparing to vertex-ai

[2022-02-08 01:25] ToddKopriva opened #2107 "reference to Maven plugin, which is shut down"
https://cloud.google.com/community/tutorials/kotlin-springboot-app-engine-java8

The Maven plugin has been shut down, so the tutorial needs to be updated.

[2022-02-10 04:33] MartinCastellon opened #2109 "Issue with tutorials/exposing-aspnet-webapi-using-dotnetcore-with-cloud-endpoints/index.md, is outdated"
This article is only useful for .NET Core 2.0. When I try to use .NET 6, it won't work. In order to reproduce the error, just create .NET 6 Web AP and try to follow the same steps. It will break on step 5.

There should be more recent articles targeting.NET 6

[2022-02-10 16:14] ToddKopriva commented on #2109
@simonz130 , could you take a look at this request about a document that you contributed?

[2022-02-14 20:31] brisoper opened #2115 "Issue with tutorials/using-cloud-vpn-with-cisco-asr/index.md"
Issue Description
This tutorial accommodates NAT-T, but in order for a Cisco ASR behind NAT to work, the ASR will need to have:
[code]
Cloud VPN requires that the IDi the initiator submits match the public IP address it is using (Source: https://cloud.google.com/network-connectivity/docs/vpn/support/troubleshooting#gateways_behind_nat).

[2022-02-16 10:38] ktasper opened #2118 "Issue with securing-gcs-static-website"
Hi, on [tutorials/securing-gcs-static-website](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/securing-gcs-static-website/index.md) I think the guide is missing some information.

I have deployed it via the instructions and everything looks fine but when I go to access https://my-website-name/index.html the login page appears but once I auth it just hangs and then eventuall

[2022-02-16 13:03] ktasper commented on #2118
Attempted again via the guide in the repo (in case there were changes that were not propergated to the web article) same thing.

[2022-02-16 13:12] ktasper commented on #2118
The same behvaiour also occours when trying to access an Image via the URI as suggested by the docs. `https://my-website-name/img/arch-gcs-site.e3f2a63c.png`

Image exists and works via the `Authenticated URL`

[2022-02-16 13:24] ktasper commented on #2118
Fun problem, the service account was disabled.

🤦‍♂️

[2022-02-16 13:24] #2118 closed

[2022-02-17 17:59] ToddKopriva opened #2120 "Issue with tutorials/speech2srt/index.md"
Here is an issue that was initially reported through our internal bug reporting system:

https://cloud.google.com/community/tutorials/speech2srt

By following the steps in this guide, the command:

python3 translate_txt.py --project_id $PROJECT_ID --source_lang en --target_lang ko,hi --input_uri gs://$BUCKET_IN/en.txt --output_uri gs://$BUCKET_OUT/

fails with error:

AttributeError: 'TranslationS

[2022-02-17 23:34] simonz130 commented on #2109
@amanda-tarafa

[2022-02-17 23:56] MartinCastellon commented on #2109
Thanks, @simonz130 . Will we get a tutorial for NET6.0?  That would be amazing 💯. I ended up using a container with Cloud Run to deploy my project. But would be great to get to try Cloud Endpoints.

[2022-02-17 23:58] ToddKopriva commented on #2109
Thanks, @simonz130 .

I'll take care of archiving the existing tutorial.

[2022-02-18 14:00] timolous opened #2121 "Issue with tutorials/stackdriver-monitor-slow-query-mysql/index.md"
This is outdated with current UI-design

[2022-02-23 00:02] ToddKopriva commented on #2109
I switched this to a "tutorial request" rather than "update needed" on the assumption that the new document will involve more than a simple bug fix.

[2022-02-24 16:38] mrrobothack1 opened #2124 "Unable to open D-track UI"
I have installed everything in Google cloud and have ingress also. But in the documentation its not visible how to open up the UI.

➜  frontend git:(master) ✗ kubectl get ing
NAME                            CLASS    HOSTS   ADDRESS          PORTS   AGE
dependency-track-frontend-ing   <none>   *       131.212.30.241   80      11m

https://cloud.google.com/community/tutorials/deploy-dependency-track

[2022-02-24 17:24] ToddKopriva commented on #2124
@dedickinson , can you help to answer this question about a document that you contributed?

[2022-02-25 06:24] dedickinson commented on #2124
You should be able to see the user interface by browsing to the subdomain you configured in the "Configure your domains" section. My placeholder domain was dt.example.com so https://dt.example.com would work in that example. This is also covered in the "Enable services and set up the environment" section.

[2022-02-25 07:10] mrrobothack1 commented on #2124
okay, thanks for that but I am getting an error that says failed to determine the availability of OpenID connect.

and also

login:1 Access to XMLHttpRequest at 'https://dependency-track-ip-api.tets.tech/api/v1/user/login' from origin 'https://dependency-track-ip-ui.test.tech' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2022-02-25 10:30] mrrobothack1 commented on #2124
I have solved this issue, but adding cors in ingress

    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-origin: "https://dependency-track-ip-ui.test.tech"
    nginx.ingress.kubernetes.io/cors-allow-origin: "https://dependency-track-ip-api.test.tech"
    nginx.ingress.kubernete

[2022-02-25 10:30] #2124 closed

[2022-02-25 17:33] EmaGianna opened #2125 "Issue with tutorials/bigquery-from-dbeaver-odbc/index.md"
https://cloud.google.com/community/tutorials/bigquery-from-dbeaver-odbc This explanation use a alder version of dbeaver, right now dbeaver show us a bigquery option to connect.
If you have time, maybe someone could be update this tutorial.

thanks!

[2022-02-25 17:50] ToddKopriva commented on #2125
@julzsam , could you take a look at this request for an update of a tutorial that you contributed?

[2022-02-28 19:17] ToddKopriva commented on #2121
@jwlee98 , can you take a look at this report about a document that you contributed?

[2022-03-03 22:01] ubald commented on #1654
This repository is still mentioned in the [GCP documentation on how to run an AV](https://cloud.google.com/architecture/installing-antivirus-and-file-integrity-monitoring-on-container-optimized-os) but as it stands now there is no scheduling happening. `clamdscan` documentation never mentions scheduling anywhere. It is confusing why this was removed.

[2022-03-07 23:49] hegemonic opened #2128 "tutorials/gcds-use-cases-common-and-complex/index.md: Replace joonix.net example"
The joonix.net domain isn't meant to be used in public documentation. Please replace it with a different domain that follows Google's guidelines: https://developers.google.com/style/examples#example-domain-names

This change requires a number of screenshots to be updated as well.

[2022-03-07 23:58] ToddKopriva commented on #2128
@akaashr , please make the change that is requested here.

[2022-03-08 06:31] akaashr commented on #2128
ack. I'll prioritize updating the doc and screenshots accordingly.

[2022-03-11 16:32] drzewinski opened #2129 "Issue with tutorials/stackdriver-monitor-slow-query-mysql/index.md"
The result of this tutorial is different from what is indicated. It is impossible to see the entire query as presented in the tutoria, even though I've created the label as indicated...

[2022-03-13 17:04] vanduc1102 opened #2131 "Issue with tutorials/using-scheduler-invoke-private-functions-oidc/index.md"
Broken link https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/cloud-client/storage_delete_file.py

[2022-03-13 17:55] ToddKopriva commented on #2129
@jwlee98 , could you take a look at this report about a tutorial that you worked on?

[2022-03-13 17:56] ToddKopriva commented on #2131
Thanks for the report, @vanduc1102 .

[2022-03-15 07:36] boaks opened #2134 "Any interest in updating the used version of Eclipse/Californium in tutorials/cloud-iot-coap-proxy?"
Long time, since I put a [look](https://github.com/GoogleCloudPlatform/community/pull/690) on that.

[Eclipse/Californium](https://github.com/eclipse/californium) reached version 3.3.1.
Many bug-fixes, some vulnerability-fixes, and great functional improvements.

[Eclipse/Californium](https://github.com/eclipse/californium) comes with one of the first [RFC9146 (to be)](https://www.rfc-editor.org/r

[2022-03-15 16:27] ToddKopriva commented on #2134
@ptone , could you take a look at this question about a possible update to a document that you contributed?

[2022-03-22 18:16] sokpara01 opened #2137 "Using Terraform with GCP to Automate Project creation"
Hello Guys,

I need help in understanding how I can automate the creation of project and IAM users on GCP. I have tried many of the user guides and I get stuck every time.

A step-by-step guide with someone who has done it before will be much appreciated.

Regards,

Samson

[2022-03-22 18:18] ToddKopriva commented on #2137
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2022-03-22 18:18] #2137 closed

[2022-03-25 20:17] tswast commented on #1707
I don't have a good sense for the importance of docker-compose materials, but it's been well over two years since this post was first written, which is the support duration of an LTS container optimized OS image https://cloud.google.com/container-optimized-os/docs/concepts/versioning As such, I suspect there have been some breaking changes since I wrote these instructions.

I do not have time to r

[2022-03-25 20:24] ToddKopriva commented on #1707
Thanks, @tswast .

I'll go ahead and move this to the archive and include a link to this issue report in that pull request. Then, anyone who wants to update this can see what the issues are and can move the document back and get it re-published.

[2022-03-29 21:45] ToddKopriva commented on #1707
Thanks for report, @JetsonDavis .

[2022-03-29 21:45] #1707 closed

[2022-03-30 20:00] ToddKopriva commented on #1804
Thanks, @IanVaughan , for pointing this out.

[2022-03-31 09:46] meteatamel commented on #2109
.NET 6 Web API supports Open API 3.1 by default. Unfortunately, Cloud Endpoints only supports Open API 2.0 right now. I don't think we can create a tutorial with .NET 6 until Cloud Endpoints supports Open API 3.X

[2022-03-31 16:52] ToddKopriva commented on #2109
Thanks, @meteatamel . I'm closing this for now, then.

[2022-03-31 16:52] #2109 closed

[2022-03-31 23:52] ToddKopriva commented on #2107
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-03-31 23:52] #2107 closed

[2022-03-31 23:53] ToddKopriva commented on #2035
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-03-31 23:53] #2035 closed

[2022-03-31 23:55] ToddKopriva commented on #1978
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-03-31 23:55] #1978 closed

[2022-03-31 23:56] ToddKopriva commented on #1907
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-03-31 23:56] #1907 closed

[2022-03-31 23:56] ToddKopriva commented on #1842
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-03-31 23:56] #1842 closed

[2022-03-31 23:58] ToddKopriva commented on #1774
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-03-31 23:58] #1774 closed

[2022-04-01 00:02] ToddKopriva commented on #1710
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:02] #1710 closed

[2022-04-01 00:03] ToddKopriva commented on #923
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:03] #923 closed

[2022-04-01 00:03] ToddKopriva commented on #2100
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:03] #2100 closed

[2022-04-01 00:04] ToddKopriva commented on #2038
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:04] #2038 closed

[2022-04-01 00:08] ToddKopriva commented on #2030
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:08] #2030 closed

[2022-04-01 00:09] ToddKopriva commented on #380
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:09] #380 closed

[2022-04-01 00:09] ToddKopriva commented on #1413
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:09] #1413 closed

[2022-04-01 00:22] ToddKopriva commented on #2008
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:22] #2008 closed

[2022-04-01 00:22] ToddKopriva commented on #1873
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:22] #1873 closed

[2022-04-01 00:24] ToddKopriva commented on #1860
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:24] #1860 closed

[2022-04-01 00:24] ToddKopriva commented on #1841
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:24] #1841 closed

[2022-04-01 00:24] ToddKopriva commented on #1545
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:24] #1545 closed

[2022-04-01 00:25] ToddKopriva commented on #1528
This tutorial was archived in this pull request:
https://github.com/GoogleCloudPlatform/community/pull/2143

The tutorial is still available in the /archived folder.

[2022-04-01 00:25] #1528 closed

[2022-04-04 18:39] mvladoi opened #2146 "Issue with tutorials/using-scheduler-invoke-private-functions-oidc/index.md"
There is no need to deploy the cloud function with the identity of the service account. The service account has to be linked only to the cloud scheduler job

[2022-04-04 19:22] ToddKopriva commented on #2146
@dinagraves , could you have a look at this issue about a document that you worked on?

[2022-04-04 19:27] dinagraves commented on #2146
@glasnt Tagging Katie since I'm on rotation working in a different area.

[2022-04-04 23:17] glasnt commented on #2146
Hi @mvladoi. In the current configuration, using the created service account means that the Cloud Function isn't using the default service account, which has too many permissions for this use case.

While the Cloud Function doesn't need the invoker permission, using this custom account means that the function doesn't accidentally get (at time of writing) 4,800+ additional permissions it doesn't re

[2022-04-04 23:17] #2146 closed

[2022-04-05 15:16] ToddKopriva commented on #2146
Thanks for the explanation, @glasnt .

[2022-04-05 17:06] Recursero opened #2150 "Issue with tutorials/run-symfony-on-appengine-standard/index.md"
Issue Description:

I have followed all the steps in your tutorial and I still cannot deploy these libraries. I've been trying for more than 7 days and after reading on several sites I still haven't been able to do it. Please, could you help me or tell me what steps I am skipping.

[2022-04-05 17:10] #2150 closed

[2022-04-05 22:26] rodneyallanprice opened #2151 "Issue with tutorials/nodejs-mongodb-on-appengine.md"
The sample code in this example appears to have some copy and paste errors.   Several blocks of code are duplicated and the code crashes when run.

I was able to get it working by cutting out much of the code.   See the code below:

'use strict';

const mongodb = require('mongodb');
const http = require('http');
const nconf = require('nconf');

// Read in keys and secrets. Using nconf use can set

[2022-04-05 22:37] ToddKopriva commented on #2151
Thanks, @rodneyallanprice . You are certainly correct that there are some problems here.

We are in the process of archiving this document because it is out of date, so I'm going to close this issue.

[2022-04-05 22:37] #2151 closed

[2022-04-13 16:40] dariush-a commented on #2115
@ashishverm
I already looked at this issue with Brian.
Brian tested the code on Cisco CSR since he doesn't have access to an ASR. We believe the fix should work on Cisco ASR too but we can't be 100% sure unless we can get our hands on an ASR.
@ashishverm Can we get access to a Cisco ASR?

We will make the changes to the tutorial and let you know.

[2022-04-13 16:43] dariush-a commented on #2115
@brisoper will be updating the tutorial:
`crypto ikev2 profile VPN_SCALE_TEST_IKEV2_PROFILE
 identity local address <public ip of ASR>`

[2022-04-19 04:09] Mute-camcorder commented on #369
@ToddKopriva, @ptone, is there any update for the community on the internal request for this issue?

[2022-04-19 10:36] eda-yuji-10472 opened #2156 "Issue with tutorials/metrics-export-with-mql/index.md"
Issue Description

Build didn't work well when python's version was 38. It worked fine when I set it to 37. Attach the log.

---

eda_yuji_10472@eda-test-2:~/work21/community/tutorials/metrics-export-with-mql$ gcloud functions deploy mql_export_metrics \

Deploying function (may take a while - up to 2 minutes)...⠹
For Cloud Build Logs, visit: https://console.cloud.google.com/cloud-build/builds;reg

[2022-04-20 22:36] ToddKopriva commented on #2156
@xiangshen-dk , could you take a look at this issue regarding one of your contributions?

[2022-04-21 17:25] ToddKopriva commented on #1015
I'm closing this issue because I'm moving the document to the /archived folder.

[2022-04-21 17:25] #1015 closed

[2022-04-21 17:34] ToddKopriva commented on #1455
This document has been moved to the archive.

[2022-04-21 17:34] #1455 closed

[2022-04-21 18:11] ToddKopriva commented on #1979
fixed with PR #2160

[2022-04-21 18:11] #1979 closed

[2022-04-21 18:13] ToddKopriva commented on #2009
We've updated this document and moved it here:
https://cloud.google.com/docs/terraform/get-started-with-terraform

[2022-04-21 18:13] #2009 closed

[2022-04-21 18:16] ToddKopriva commented on #2040
We've updated this document and moved it here:
https://cloud.google.com/docs/terraform/get-started-with-terraform

[2022-04-21 18:16] #2040 closed

[2022-04-21 18:28] #2131 closed

[2022-04-22 16:19] bigbitbus opened #2164 "Issue with tutorials/managing-gcp-projects-with-terraform/index.md"
This document is misleading.

When you use a service account of the admin project (like in this document) to create the service project, you end up with a service project which cannot be controlled by the user or the admin project service account - because service accounts are scoped by project. The "project creator" role does not make a service account the "owner" of the created service project.

[2022-04-22 19:33] xiangshen-dk commented on #2156
Submitted https://github.com/GoogleCloudPlatform/community/pull/2166

[2022-04-25 16:06] ToddKopriva commented on #2156
Thanks for the fix, @xiangshen-dk .

[2022-04-25 16:06] #2156 closed

[2022-04-25 22:40] ToddKopriva commented on #2164
The document has been archived.

I recommend using the documentation on the HashiCorp site for current instructions:

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project

[2022-04-25 22:40] #2164 closed

[2022-04-25 22:41] ToddKopriva commented on #1971
The document has been archived.

I recommend using the documentation on the HashiCorp site for current instructions:

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project

[2022-04-25 22:41] #1971 closed

[2022-04-29 02:35] irmanfauzi33 opened #2170 "https://join.slack.com/t/kongsi-workspace/shared_invite/zt-1848fu2gy-O~Oxn~H175wF9J~x7Ok2Sg"

[2022-04-29 16:02] #2170 closed

[2022-05-02 17:58] NoCoSancho opened #2173 "Issue with tutorials/using-ha-vpn-with-fortigate/index.md"
Issue Description:

Hello, this is a feature request.  Is it possible to add an architecture diagram that shows what the environment will look like if the steps are followed?

Thanks

[2022-05-20 12:42] stabenfeldt opened #2186 "Issue with tutorials/terraform-asm-upgrade.md => `provider hashicorp/google: no available releases match the given constraints`"
I followed [the Upgrade Anthos Service Mesh on GKE with Terraform tutorial](https://cloud.google.com/community/tutorials/terraform-asm-upgrade) and ran `terraform init`.
Then it stopped here:

[code]

My first thought was to check where hashicorp/google is defined, so that I can correct the version.
But I'm not able to see where it's defined.
What do to? 🤷🏼‍♂️

[2022-05-20 17:36] ToddKopriva commented on #2186
@cloud-pharaoh , could you have a look at this issue with a tutorial that you contributed?

[2022-05-21 01:29] cloud-pharaoh commented on #2186
Hi @stabenfeldt, what other modules/resources are in the same terraform workspace as the ASM module?

[2022-05-25 14:23] AlexandreHGuerra opened #2197 "How to set up a CloudSQL Postgres to CloudSQL Postgres stream replication (not using CE), in different accounts"

[2022-05-26 14:15] sfc-gh-mholboke opened #2198 "Issue with tutorials/dlp-to-datacatalog-tags"
Thanks for this repo!
However, I get a compilation failure from what looks like a MojoFailureException.

[INFO] Scanning for projects...
[INFO]
[INFO] ----------------< com.example:dlp-to-datacatalog-tags >-----------------
[INFO] Building dlp-to-datacatalog-tags 0.1
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-clean-plugin:2.5:clean (defa

[2022-05-27 09:51] stabenfeldt commented on #2186
Hi @cloud-pharaoh,

I'm using the default terraform workspace. E.g `terraform workspace list => * default`
This is filestructure looks like:

[code]

[code]

Sorry for the late reply! I promise I'll be quick to answer your next time. :-)

[2022-05-30 13:52] nomadturk opened #2199 "Issue with tutorials/using-cloud-vpn-with-strongswan/index.md"
Issue Description

The strongswan package comes with farp package by default.
Combined with the VTI usage, this creates a lot of problems.

Check:
https://bugzilla.redhat.com/show_bug.cgi?id=1488421

This tutorial needs to be updated to make sure users disable farp package, or at least it should warn against possible network problems that originates from the use of this package.

[code]
must be ed

[2022-05-31 16:22] ToddKopriva commented on #2199
Thanks for the report, @nomadturk .

@Civil , could you take a look at this request for an update for a document that you contributed?

[2022-06-02 07:59] stabenfeldt commented on #2186
I tried to add a `versions.tf`:

[code]

But that didn´t help either.
Any tips or suggestion to things that might work is highly appreciated!

[2022-06-10 16:07] Thiagocfn opened #2201 "Issue with tutorials/ssh-tunnel-on-gce.md"
Command to create tunnel does not working.
[code]

[2022-06-10 16:22] Thiagocfn commented on #2201
hold on, i'm checking my installed gcloud version
`gcloud components update`

[2022-06-10 16:28] Thiagocfn commented on #2201
After update, problem persists:
[code]

[2022-06-22 12:42] #2186 closed

[2022-06-22 19:49] #2013 closed

[2022-06-22 19:50] ToddKopriva commented on #2013
I'll publish the updated document soon. Thanks for the update, @ameer00 . Thanks for the request, @kostadin-kar .

[2022-06-23 15:34] ankit-lathiya opened #2210 "Mender OTA and Google cloud integratition"
https://cloud.google.com/community/tutorials/cloud-iot-mender-ota
Not able to access it.
Is the tutorial for mender and Google cloud been moved?

[2022-06-23 16:00] ToddKopriva commented on #2210
The tutorial has been moved to the archive:
https://github.com/GoogleCloudPlatform/community/pull/2023

[2022-06-25 07:56] ragul-03 opened #2213 "Why the number of nodes parameter is not returned as part of the response while using java client library to list the nodepools in a cluster"
Hi all,
I'm trying to use the java client library (Container.Projects.Locations.Clusters.NodePools.List request) to list down the nodepools present in the cluster. [https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters.nodePools/list](url)
But, the response does not have the total number of nodes present in that nodepool. Is there any specific reason why it is n

[2022-06-27 16:24] ToddKopriva commented on #2213
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2022-06-27 16:24] #2213 closed

[2022-06-28 14:14] aadevoe opened #2214 "How to remove all the old cloudbuild history entries"
We don't really care about the old builds, and don't need to  keep them around for posterity.

Is there some command to use so we can write a script to delete them?

Thanks

[2022-06-28 15:20] ToddKopriva commented on #2214
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2022-06-28 15:20] #2214 closed

[2022-06-28 15:26] aadevoe commented on #2214
Thanks.

On Tue, Jun 28, 2022 at 11:22 AM Todd Kopriva ***@***.***>
wrote:

--
Adam Devoe
SemaTree, Inc.
Mobile: +1 978 697 6365
Skype: aadevoe
www.sematree.com

[2022-06-30 15:31] harshdM99 opened #2215 "Issue with tutorials/dlp-to-datacatalog-tags"
Thanks for the repo.
Getting this error : "Create Tag Error Message: Cannot find template dlp_email_address@us in storage." while running the steps in GCP virtual machine.

Detailed message :

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further detail

[2022-07-01 11:50] harshdM99 commented on #2215
My teammate did not add admin permissions to the associated service account.
This error is resolved.
Thank you

[2022-07-01 11:50] #2215 closed

[2022-07-01 17:01] ToddKopriva commented on #2215
@harshdM99 , thank you very much for reporting back with the details.

[2022-07-04 20:46] OriAlpha opened #2218 "HTTP requests are sent to GCP before vms fully initialized"
I am using GCP vms for my applications. These VMs are connected to instance groups and load balancer, so when there is new request sent from my application. VMs will trigger and start, but the problem is my requests are sent to vm before they are fully initialized. Which makes my requests to fail. So i had gone through web pages and set some parameters like

- Auto healing - inital delay
- Cool-do

[2022-07-05 22:28] ToddKopriva commented on #2218
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2022-07-05 22:28] #2218 closed

[2022-07-06 19:44] kawo123 commented on #1556
I followed the instructions at https://cloud.google.com/vertex-ai/docs/export/export-model-tabular and I ran into the same error as https://github.com/GoogleCloudPlatform/community/issues/1556#issuecomment-1030157037. I was using the Docker container image `us-docker.pkg.dev/vertex-ai/automl-tabular/prediction-server-v1`.

However, I am to use the `container_uri` (`us-docker.pkg.dev/vertex-ai/auto

[2022-07-07 07:56] jameswjr opened #2219 "Issue with tutorials/securing-gcs-static-website/index.md"
I am using this to secure some static content. It only works from an incognito window. If I try it from a regular browser window, I am continually met with "you have already logged in" when I try to browse the site.

[2022-07-07 18:13] jrossthomson opened #2220 "Update needed for using-slurm-to-host-jupyter-notebooks-review to support v5 slurm-gcp"
Update of slurm-gcp from SchedMD make this out of date.

https://github.com/GoogleCloudPlatform/community/tree/master/tutorials/using-slurm-to-host-jupyter-notebooks-review

[2022-07-07 18:13] jrossthomson commented on #2220
@wkharold

[2022-07-08 15:08] SS1605 opened #2221 "connect to big query via vb script using excel macros"

[2022-07-08 17:25] ToddKopriva commented on #2221
Are you asking a question about how to accomplish the task in the title of this issue?

The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google C

[2022-07-08 17:25] #2221 closed

[2022-07-12 15:43] xiangshen-dk commented on #2219
This is a known issue with this solution - if multiple cookies are present in the header, the CDN cookie needs to be the first one in the header. Unfortunately, due to a current limitation of the urlmaps, there is no guarantee for the CDN cookie to take precedence. One workaround is to use a longer path for the order. You can find an example at: https://github.com/xiangshen-dk/securing-gcs-static-

[2022-07-14 04:24] farisfirenze opened #2227 "CUDA library not found - GKE GPU node"
Hello,

I am trying to run a full pipeline on a GKE cluster with a GPU node. I SSHed into one of the GPU node and found out there was no CUDA libraries.

When I import tensorflow, it gives me an error
[code]

So I checked all the files in the path LD_LIBRARY_PATH to see if, for eg, libcudart.so.1 is there or not. I couldnt find any CUDA libraries.

I have installed NVIDIA drivers using the below s

[2022-07-14 13:52] dashpole commented on #2227
According to https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#cuda, following https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers should install CUDA libraries.

[2022-07-14 16:28] ToddKopriva commented on #2227
Is this question about a document in this GitHub repository?

[2022-07-15 06:03] farisfirenze commented on #2227
I have installed using this for ubuntu but it still doesnt detect GPU when I run a docker image on the cluster

The documentation says
[code]

I have tried doing this and it doesnt work. So am I missing something or .. ?

[2022-07-15 17:27] ToddKopriva commented on #2227
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2022-07-15 17:27] #2227 closed

[2022-08-05 18:56] ns-png opened #2231 "Issue with tutorials/stackdriver-monitor-slow-query-mysql/index.md"
Issue Description:
The article is outdated, there are no "slow_query_log" "long_query_time" int patch, and you can't find slow log in log part.
Also the no "log view" that panel also changed.

[2022-08-05 19:39] ToddKopriva commented on #2231
Thanks for the report, @ns-png .

[2022-08-09 13:54] travnewmatic opened #2234 "Google Cloud Platform Slack"
I joined previously with my work email, but I've changed jobs and went back to join and discovered that I need an @google.com email address to register.

How can I join Google Cloud Platform Slack *without* an @google.com email address?

Thanks!

-Travis

[2022-08-09 14:09] ToddKopriva commented on #2234
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend trying the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2022-08-09 14:09] #2234 closed

[2022-08-12 17:55] XDevice-code commented on #2231
a"a"><img src=<marquee>x onerror=alert(7)>
a"><img src=x onerror=alert(7)>

[2022-08-12 17:59] XDevice-code commented on #2231
Hello

[2022-08-16 20:29] hongalex commented on #2134
Unfortunately, Cloud IoT Core is being discontinued on August 16, 2023. For those interested, ClearBlade (a GCP partner) is going to be offering a [1-click migration path](https://www.clearblade.com/wp-content/uploads/2022/08/ClearBlade-Google-IoT-Core-Migration_Website.pdf).

[2022-08-16 20:29] #2134 closed

[2022-08-16 20:29] hongalex commented on #1900
Unfortunately, Cloud IoT Core is being discontinued on August 16, 2023. For those interested, ClearBlade (a GCP partner) is going to be offering a [1-click migration path](https://www.clearblade.com/wp-content/uploads/2022/08/ClearBlade-Google-IoT-Core-Migration_Website.pdf).

[2022-08-16 20:29] #1900 closed

[2022-08-16 20:46] ToddKopriva commented on #2134
Thanks for the update, Alex.

[2022-08-16 20:46] ToddKopriva commented on #1900
Thanks for the update, Alex.

[2022-08-17 08:26] boaks commented on #2134
Thanks! We will see, if ClearBlade has any interest in supporting CoAP.

For [Eclipse/Californium](https://github.com/eclipse/californium) I consider, that using it directly on a vm or k8s provides the most benefit. I currently started to develop a [simple service](https://github.com/boaks/californium/tree/add_cloud_demo_server/demo-apps/cf-cloud-demo-server) and a [modem client](https://github.co

[2022-08-17 10:40] petemounce opened #2239 "Issue with tutorials/securing-gcs-static-website/index.md"
## Errors during `npm run build` step.

I'm running on macOS 12 M1.

[code]

## Possible fix:

Mention needing github.com/campoy/embedmd (I assume).

Alternatively, just have a static foo.html?

[2022-08-17 12:35] petemounce commented on #2239
Omitted step in `Build a static website and deploy it to Cloud Storage`

Need to run `npm install --devDependencies` before `npm run build` will work (I now have `embedmd` on my PATH from above debugging)

[2022-08-23 02:49] xiangshen-dk commented on #2239
Looks like the `npm run build` was not run under the `community/tutorials/securing-gcs-static-website/static-website` directory.

In the tutorial, the following commands are required before `npm run build`.

### Clone the repository:

git clone https://github.com/GoogleCloudPlatform/community.git

### Go to the tutorial directory:

cd community/tutorials/securing-gcs-static-website/static-website

[2022-08-26 09:39] petemounce commented on #2239
@xiangshen-dk thanks - that was it.

btw - thank you for writing https://github.com/xiangshen-dk/securing-gcs-static-assets-iap. That is what I'm actually trying to do right now (host some private static content using all managed services within GCS) - but unfortunately not yet succeeding. I am eagerly following https://issuetracker.google.com/issues/114133245?pli=1.

I also stumbled across https:

[2022-08-26 12:01] xiangshen-dk commented on #2239
@petemounce Thanks for the update! Let us know if you succeed. And any contribution is much welcomed!

[2022-08-29 15:53] 7h3h4ckv157 opened #2243 "Found a possible security concern"
Hey Team!

Recently I found a potential security issue on the code which I would be eager to share with you. Could you add a SECURITY.md file for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a security policy to ensure issues are responsibly disclosed, and it would help researchers in the fu

[2022-08-31 21:53] ToddKopriva commented on #2243
security policy added in PR #2247

[2022-08-31 21:53] #2243 closed

[2022-09-05 04:14] kbrown opened #2249 ""We encourage you to read through the script for the details of what it does." <sigh>"
Or just explain how Cloudrun tits into all of this in the article

[2022-09-06 20:43] ToddKopriva commented on #2249
@jasonsmithio , this seems to be a somment about this document that you contributed:
https://cloud.google.com/community/tutorials/cloud-run-eventing-kafka

[2022-09-07 00:14] jasonsmithio commented on #2249
Happy to help. Can you give me more information on what you are looking for?

[2022-09-07 16:59] kbrown commented on #2249
Most of the the "article is just" see setup.sh -- which is not even linked.  Some explanation of what is going on in the text might be helpful.  more comments below.

[2022-09-07 16:59] kbrown commented on #2249
The title starts with "Serverless eventing with Cloud Run on Anthos"Serverless eventing"

[2022-09-07 17:01] kbrown commented on #2249
"AlphaVantage" is not defined.  Why do I need a key?  Clicking..   Oh it's just an artifact of this particular demo and not central to the other tech.  Words would help.

[2022-09-07 17:01] kbrown commented on #2249
Trying to be helpful, but grumpy today.

[2022-09-07 17:04] kbrown commented on #2249
What I really was looking for is how I can use Cloud Run as a Kafka consumer, and stumbled upon this article.

[2022-09-07 17:18] jasonsmithio commented on #2249
Gotcha, this article is dated and many of the examples aren't really valid anymore. I am working on a new one so please stand by while I work on it

[2022-09-09 04:12] ramoncerdaquiroz opened #2251 "Revisa algo contiene ya que inicio hace días y bajo y subio ... Creo que es el virus que soltarían en Michoacán"

[2022-09-09 16:53] ToddKopriva commented on #2251
La sección "Issues" de este repositorio es para informar problemas con los tutoriales en este repositorio.

[2022-09-09 16:53] #2251 closed

[2022-09-11 02:18] dareiza opened #2252 "postgreSQL instance connection"
Hi, I´m trying to connect to an posgreSQL instance from PowerBI desktop, the problem is tha the posgreSQL instance  Allow only SSL connections, so I created the server-ca.pem, client-cert.pem and client-key.pem, but I don´t know where I have to put them so the powerBi accepts the conections, I can connect to the instance using PgAdmin4 without any problem but not to powerBI, I found info about how

[2022-09-12 17:25] #2252 closed

[2022-09-13 08:20] irmanfauzi33 opened #2253 "content://com.transsion.phoenix.fileprovider/root_path/storage/emulated/0/bugreport-BISON-QP1A.190711.020-2022-06-28-13-11-21.txt"
comment edited to remove potentially problematic link

[2022-09-13 15:28] #2253 closed

[2022-09-14 02:38] dbssilva commented on #2253
Para que serve essa merda

Em Ter, 13 de set de 2022 12:28, Todd Kopriva ***@***.***>
escreveu:

[2022-09-16 05:32] Yuukiko85 opened #2256 "Issue with tutorials/terraform-asm-mcp.md"
There are version constraint issues, potentially caused by GKE?:

[code]

[code]

It seems to be similar to this, and should be updated so the tutorial runs smoothly.
https://stackoverflow.com/questions/72319701/provider-hashicorp-google-no-available-releases-match-the-given-constraints

[2022-09-16 16:21] ToddKopriva commented on #2256
Thanks for the report, @Yuukiko85 .

@alizaidis , could you take a look at this issue about a document that you contributed?

[2022-09-17 11:07] petemounce commented on #2239
Sadly, I didn't succeed. Too hard, so I used private github pages which Just Worked :tm:.

I'll revisit as/when I work on a static site with mixed requirements for authn/z. Our customer facing docs ideally would require Authn for some but not all content, which Github pages does not support.

[2022-10-31 22:39] Manpreetchandi10 commented on #369
@ToddKopriva  Hi , I am looking for  Connect Google Cloud Pub/Sub to Azure Service Bus , does we have any solution for this ??

[2022-11-06 11:27] jaesmoke opened #2267 "Issue with tutorials/dlp-to-datacatalog-tags"
Thanks for this repo!
However, I get a compilation failure from what looks like a MojoFailureException.

[INFO] Scanning for projects...
[INFO]
[INFO] ----------------< com.example:dlp-to-datacatalog-tags >-----------------
[INFO] Building dlp-to-datacatalog-tags 0.1
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-clean-plugin:2.5:clean (defa

[2022-11-07 15:16] ToddKopriva commented on #2267
@imadethis and @mesmacosta , could you take a look at this issue about a document that you worked on?

[2022-11-07 23:27] ToddKopriva commented on #1556
This tutorial has been archived:
https://github.com/GoogleCloudPlatform/community/pull/2269

[2022-11-07 23:27] #1556 closed

[2022-11-12 15:06] Parmendrakumar opened #2275 "iOS CICD pipeline in Cloud build GCP"
How to create CICD pipeline for iOS in Cloud build.  Is there any tutorial or sample available.  I have tried to use https://hub.docker.com/r/ekreative/xcode-build-tools but no sucess.

[2022-11-14 03:08] ToddKopriva commented on #2275
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2022-11-14 03:08] #2275 closed

[2022-11-16 17:21] chadmcrowell opened #2281 "Issue with tutorials/developing-services-with-k8s.md"
Issue Description:

This guide is outdated. The installation instructions fail and the guestbook YAML is not present in the main branch. I suggest updating this article to include the updated installation [here](https://www.telepresence.io/docs/latest/quick-start/), and to update the YAML and place in a separate repo. Thanks!

[2022-11-16 17:35] ToddKopriva commented on #2281
Thanks for the report, @chadmcrowell .