[2019-05-22 04:13] JulianSensand commented on #867
Hi @lepistom, thanks for your response. As this is a sigfox bug and not with your code, I will close this issue.

[2019-05-22 04:39] miketruty commented on #589
I've re-run this successfully. I think the original error was transient. But, I did correct the docs with this PR.
https://github.com/GoogleCloudPlatform/community/pull/884

[2019-05-22 05:27] ToddKopriva commented on #883
@chrisst , could you take a look at this issue regarding a tutorial that you submitted?

[2019-05-22 05:28] ToddKopriva commented on #589
Thanks, Mike. I'll close this issue based on the fix in PR #884.

[2019-05-22 05:28] #589 closed

[2019-05-22 05:34] ToddKopriva commented on #867
Thanks for following up, Marrku.

[2019-05-22 16:47] #730 closed

[2019-05-22 16:50] ToddKopriva commented on #718
@fhinkel , would you be able to update this document?

[2019-05-22 16:53] ToddKopriva commented on #717
@ace-n , would you be able to update this tutorial?

[2019-05-22 17:37] #300 closed

[2019-05-22 17:39] ToddKopriva commented on #478
I fixed the codeblocks.

The link is broken because that page was removed. I'm trying to track down the right place to link to now.

[2019-05-22 17:41] bshaffer commented on #820
You need to install and enable the PHP zip extension. This can be done using pecl (`pecl install zip`), or can be compiled when you install PHP using the `--with-libzip=DIR` flag. If you're on MAC, PECL will come installed if you install PHP via homebrew (`brew install php@7.1`).

https://www.php.net/manual/en/zip.installation.php

[2019-05-22 17:43] ToddKopriva commented on #323
fixed with this PR:
https://github.com/GoogleCloudPlatform/community/pull/765

[2019-05-22 17:43] #323 closed

[2019-05-22 17:52] bshaffer commented on #877
I cannot duplicate this. I went through the whole tutorial successfully and ran the `vendor/bin/wp` commands. I also searched the codebase and could not find any reference to `urlfetch_service_pb`.

@flashadvocate can you provide the output for the command you're running with the full stack trace?

[2019-05-22 17:54] #820 closed

[2019-05-22 17:56] bshaffer commented on #130
Duplicate of #131

[2019-05-22 17:56] #130 closed

[2019-05-22 18:02] bshaffer commented on #777
Try adding this to your `app.yaml` under `env_variables`:

[code]

Alternatively, follow the instructions later in the tutorial to integrate with Stackdriver Logging. Either of these should fix your issue.

[2019-05-22 18:12] ace-n commented on #717
@fhinkel is this something we want to maintain, or should we deprecate? I believe we've leaned towards the latter in the past...

[2019-05-22 20:10] #739 closed

[2019-05-22 20:14] ToddKopriva commented on #719
@deb-saunders , can you look at this issue, which seems to be related to a change that you made to the tutorial in PR #359 ?
https://github.com/GoogleCloudPlatform/community/pull/359

[2019-05-22 20:21] ToddKopriva commented on #716
@mcdonamp , could you have a look at this issue with a tutorial that you submitted?

[2019-05-22 20:26] ToddKopriva commented on #626
There hasn't been any movement on this issue, so I'm going to close it.

In general, the Issues section of this GitHub repository is not the best place for troubleshooting. If you're still having trouble, I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other e

[2019-05-22 20:26] #626 closed

[2019-05-22 20:27] #471 closed

[2019-05-22 23:24] #270 closed

[2019-05-22 23:26] ToddKopriva commented on #877
Since this doesn't seem to be a problem with the tutorial, I'm going to close this issue.

In general, the Issues section of this GitHub repository is not the best place for troubleshooting. I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help

[2019-05-22 23:26] #877 closed

[2019-05-22 23:30] bshaffer commented on #762
I was able to reproduce this issue. The container may have changed so the default resource being logged looks like this:

[code]

[2019-05-22 23:31] ToddKopriva commented on #762
Thanks, Brent.

[2019-05-23 20:54] chrisst commented on #883
I just tested this again and it looks like a brand new GCP project will be created with a default firewall rule that allows ssh:
![Screen Shot 2019-05-23 at 1 41 05 PM](https://user-images.githubusercontent.com/1569002/58284884-77b20a80-7d60-11e9-8b20-30ea503268cf.png)
Additionally some of the other proposed firewalls above allow way more access to the instance than is required for this tutorial.

[2019-05-23 22:20] dominicci commented on #883
Fair enough.

Maybe you could modify it for existing projects. My request to ssh kept
timing out because the plan doesn't execute the required firewall rules. Or
maybe I'm missing something.

On Thu, May 23, 2019, 4:54 PM Chris Stephens, <notifications@github.com>
wrote:

[2019-05-24 17:10] chrisst commented on #883
The firewalls do take a little while to get created. If you have freshly created a project there a number of 'initialization' steps that happen which can take several minutes and one of those steps is creating the default firewall rules. I'm not an expert on how projects are initialized but this is my experience so far.

I would check the 'firewalls' section in the UI and see if the default rules

[2019-05-24 18:01] flashadvocate commented on #877
Just to follow up - I was able to get this working, and @bshaffer was correct. The issue rested with an outdated plugin that is actually no longer even needed. Thanks for the help, and sorry for the premature report!

[2019-05-24 18:07] ToddKopriva commented on #877
I'm glad that you got it sorted. Don't worry about the issue report; better to ask for help than not.

[2019-05-24 18:14] ToddKopriva commented on #883
Because it seems that there is not a bug in the tutorial, I'm going to close this issue.

Chris, if you want to create a pull request to add the caveats that you mentioned, I'll work with you to get it reviewed and merged.

@dominicci , thanks for alerting to us to the potential issue and helping us to see the need for some improvements in this area.

[2019-05-24 18:14] #883 closed

[2019-05-25 00:23] paragc opened #888 "Unable to get this tutorial to work"
https://cloud.google.com/community/tutorials/cloud-functions-twilio-voice-record
I deployed the code as cloud functions. One of the cloud functions fails to load its dependencies. Is the tutorial still valid?

Thanks,
P

0{
 insertId:  "000000-920a22af-66d9-42f1-94af-41dc086449f1"
 labels: {…}
 logName:  "projects/polar-office-241404/logs/cloudfunctions.googleapis.com%2Fcloud-functions"
 receiveTi

[2019-05-25 21:37] ToddKopriva commented on #888
I'll get someone to look into this.

[2019-05-26 18:00] pratikdhavale opened #889 "Cloud function while trigger - testing error"
Getting output while testing the function

stopInstancePubSub
u3sbsgzeovt3
TypeError: callback is not a function at exports.stopInstancePubSub (/srv/functions/index.js:53:5) at Promise.resolve.then (/srv/node_modules/@google-cloud/functions-framework/build/src/invoker.js:330:28) at process._tickCallback (internal/process/next_tick.js:68:7)

Referring the doc/code from here: [https://cloud.google.c

[2019-05-27 12:52] mcdonamp commented on #716
Whoops, sorry! Mind submitting a PR to fix this and I can merge?

[2019-05-27 16:25] ToddKopriva commented on #889
@pratikdhavale , thanks for reporting this problem. Because the problem that you're having is not with code in this repository, I'm going to close this issue.

Please use the "Send feedback" button in the upper-right corner of the page where the issue occurs to report the problem:
https://cloud.google.com/scheduler/docs/start-and-stop-compute-engine-instances-on-a-schedule

If I'm misunderstanding

[2019-05-27 16:25] #889 closed

[2019-05-27 16:27] ToddKopriva commented on #716
I think that it would work better if you submitted the PR with the fix and I reviewed and merged it. You have more context with which to make the change.

[2019-05-28 08:06] mcdonamp commented on #716
See #890

[2019-05-28 12:12] paulwoelfelcpl opened #891 "Issue with nginx-ingress-gke"
# Issue Description

The tutorial does not include the `controller.publishService.enabled` flag for installation of nginx-ingress. Without this flag a wrong IP will be published in the status of the ingress resource.

This is documented in [issue 4092 on nginx-ingress](https://github.com/kubernetes/ingress-nginx/issues/4092). See also the [nginx-ingress Readme](https://github.com/helm/charts/blob/

[2019-05-28 16:26] ToddKopriva commented on #891
Thanks, Paul.

If you submit a pull request for the tutorial with that fix, I'll review it and merge it.

[2019-05-28 20:28] ToddKopriva commented on #716
Thanks for the fix in #890 . That addresses the first part of the issue reported here.

The second half is still unresolved.

[2019-05-28 20:34] mcdonamp commented on #716
It seems to work and I don't understand the point of hiding the prompt, so
I ignored it.

On Tue, May 28, 2019 at 22:29 Todd Kopriva <notifications@github.com> wrote:

--
Michael McDonald | Product Manager, Serverless | mpmcdonald@google.com |
 1-844-THE-FIRE

[2019-05-28 20:38] ToddKopriva commented on #716
Thanks. Closing this issue, then.

[2019-05-28 20:38] #716 closed

[2019-05-29 15:32] ToddKopriva commented on #891
fixed by pull request #894

[2019-05-29 15:32] #891 closed

[2019-05-29 19:18] ChaitanyaGollapudi opened #895 "Issue with cloud-functions-oauth-gmail"
Trying to implement the below tutorial
https://cloud.google.com/community/tutorials/cloud-functions-oauth-gmail

I am not able to add
Authorized JavaScript origins:
https://[YOUR_GCF_REGION]-[YOUR_GCP_PROJECT_ID].cloudfunctions.net/oauth2callback
to my oauth credentials.

As it can't contain a wildcard (https://*.example.com) or a path (https://example.com/subdir)

[2019-05-29 20:39] ToddKopriva commented on #895
Are you replacing [YOUR_GCF_REGION] with your region and replacing [YOUR_GCP_PROJECT_ID] with your project ID?

Example:
https://us-central1-myprojectid.cloudfunctions.net/oauth2callback

In general, the Issues section of this GitHub repository is not the best place to get troubleshooting help. I recommend bringing troubleshooting questions to one of the forums described here:
https://cloud.google

[2019-05-29 21:12] #895 closed

[2019-05-29 21:14] ChaitanyaGollapudi commented on #895
I did replace region and project id. Thanks for thr information. I am going to post it in forum now. Thanks

[2019-05-29 21:18] ToddKopriva commented on #895
Happy to help. I hope that you get it sorted. If you learn anything that might be of value to others using this tutorial, don't hesitate to report back here.

[2019-05-31 14:50] ToddKopriva commented on #777
@A-Marzouk , did you try the suggestion from @bshaffer ?

Because his suggestion indicates that the problem should not occur if you follow steps later in the same tutorial, I am closing this issue. Let me know if this doesn't work for you and this issue should be reopened.

[2019-05-31 14:50] #777 closed

[2019-06-01 11:32] laksh-lp opened #901 "open cv integration with google cloud"
i have a open cv python code that runs perfectly on my local machine. it computes on live video feed via webcam and detects face and then saves the video to the local machine. now i want to put it to cloud. like run the code on google compute engine and then save the video in google storage bucket. can you help me out with this ???

[2019-06-02 17:02] ToddKopriva commented on #901
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-06-02 17:02] #901 closed

[2019-06-06 11:59] ankushgour opened #905 "any tutorial for image hint and cropping"

[2019-06-07 12:38] voshawn commented on #774
Hey @dazuma! This is a great tutorial and I would love to see this issue updated as well. Does this guide over at Distillery address this issue? It uses the cp command: https://hexdocs.pm/distillery/guides/building_in_docker.html

In addition, with Elixir 1.9's Release feature, it would be nice to see if we can swap out Distillery (might be a separate issue).

I might have some time to take a stab

[2019-06-10 17:48] variance02 commented on #888
Hi there - is there an update here? I'm getting the same error.

[2019-06-11 13:57] fhinkel commented on #718
AFAIK we don't have the bandwidth to update community articles. Don't they have a disclaimer that they might be outdated?

[2019-06-11 18:02] amitlalaawaz commented on #852
Its very challenging I found Mongoose OS to integrate as suggested by Google Iot page, but not sucess. When its come to AWS or Azure is seamless connectivity, ONLY trouble starts where we have customers running on GCP and trying to build IoT scenario using various device demos.

[2019-06-11 19:36] gguuss commented on #852
@amitlalaawaz If you have a stack overflow question, I can follow up with you there on debugging.

[2019-06-11 21:33] amitlalaawaz commented on #852
Thank you Gus! Here is my Q posted for your reference -
https://stackoverflow.com/questions/56551939/com-port-not-available-on-mongoose-os-for-iot-sensor-device-ti-cc3200

[2019-06-13 13:16] Neylton-Nascimento commented on #867
Hi, I am facing  the same issue. Is the mentioned workaround available? Can you please share it if avaiable?

[2019-06-17 11:59] sodiqOladeni opened #917 "Tutorial on Firebase Cloud Function with Kotlin"
Any tutorial on the above topic will be appreciated, specifically on sending Notification when Firestore data changes. The tutorial I have seen are writing in Javascript. Thanks

[2019-06-17 19:06] datistiquo opened #918 "HP Tuning with keras model and setting hyperparameterMetric to a Evaluation Metric and not training metric"
Hi,

with estimators I can easily set the desired hyperparameterMetric to the proper metric on evaluation data. But I don't see how I can do that for a keras (tf.keras and keras) model?

I mean where can I "assign" the right metric? I need the hyperparameterMetric to be the metric for evaluation data.

[2019-06-17 19:13] ToddKopriva commented on #918
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-06-17 23:36] ToddKopriva commented on #888
It looks like the problem is this line:

    const storage = require('@google-cloud/storage')();

See this change:
https://github.com/googleapis/nodejs-storage/releases/tag/v2.0.0

That makes it seem like the change needed is to remove the `()` at the end of the line, for this:

    const storage = require('@google-cloud/storage');

Try that out. If that works for you, I'll make the fix in the tut

[2019-06-18 08:20] datistiquo commented on #918
Thanks. I postet it now on stackoverflow. but maybe someone is also here:

model.fit returns a dict like:
[code]
Does GCP works now if I just set my desired validation metric to 'val_acc' in the config file without doing anything else?

[2019-06-18 09:06] fiska0210 commented on #867
Hi, I also encountered the same problem. Could you please share the workaround if it was available? Thanks.

[2019-06-18 11:09] Nearoo opened #920 "Tutorial run-expressjs-on-google-app-engine doesn't work"
Fails in the cloud with

    Error: Cannot find module 'express'

[2019-06-18 11:13] Nearoo commented on #920
[Link to Tutorial](https://cloud.google.com/community/tutorials/run-expressjs-on-google-app-engine)

[2019-06-18 14:15] ToddKopriva commented on #920
Thanks for the report.

[2019-06-19 04:56] bharathkumardk opened #921 "Tutorial Request: GRPC php client uses dialogflow service"
It would be great if we have a tutorial to explain how to use GRPC php client to use dialogflow service. I try searching for one but couldn't find one.

[2019-06-20 13:30] Neylton-Nascimento commented on #867
Hi All,

any feedback for the workaround?

On Tue, Jun 18, 2019 at 1:06 PM Fiska Yeh <notifications@github.com> wrote:

[2019-06-20 23:55] cflewis opened #923 "kotlin-springboot-app-engine-java8 won't compile on mvn appengine:deploy"
This tutorial does not appear to work as described; the Maven "surefire" plugin isn't compatible with something, but my Maven understanding is basically zero :disappointed: Using the `pom.xml` from the sample Git repository does not help.

My guess is that there is a version dependency that went unwritten, and is now incompatible. I couldn't seem to make things work by fiddling with the `pom.xml`

[2019-06-21 01:01] ToddKopriva commented on #923
@bshaffer , I'm tagging you to have a look at this issue reported against a tutorial that you submitted.

[2019-06-21 13:51] datistiquo opened #924 "How to handle local data files for submitting a training job?"
I hope i can get a simple answer to this very simple question. On stackoverflow I don't get any answer. This is simple but it pulls back my work for days now.

I want to submit a custom keras model with training data as json. I have my folder like

[code]
Training locally works but submitting to ai cloud fails because of (from the logs):

`master-replica-0 Traceback (most recent call last): File "

[2019-06-21 15:26] datistiquo commented on #924
Found a solution.

http://liufuyang.github.io/2017/04/02/just-another-tensorflow-beginner-guide-4.html

[2019-06-21 15:26] #924 closed

[2019-06-21 16:52] ToddKopriva commented on #924
Great! I'm glad that you got it sorted.

[2019-06-23 06:27] aman1403 opened #925 "Deploy Nodejs App with Angular frontend?"
I didn't find any tutorial on it.I have 2 ports 3000 and 4200 for backend and frontend respectively.
But while deploying ,It is giving me an error that ng :Not found .My app.yaml looks like this:
runtime: nodejs
env: flex
I don't know how to handle two ports as I am using two commands to run my Project :
1) ng serve
2) npm run start:server
In Package.json file It reads 1st command ng serve and thr

[2019-06-24 10:25] #918 closed

[2019-06-24 10:37] datistiquo opened #926 "HP Tuning is working but I get errors in logs?"
Hey,

If I train a job or do HP Tuning, it seems working as I got output from the job ressource. But in the logs I have errors like:

[code]

Also many errors of this type:

[code]

What does this mean?

[2019-06-24 17:44] ToddKopriva commented on #926
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-06-24 17:44] #926 closed

[2019-06-24 17:45] ToddKopriva commented on #925
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-06-24 17:45] #925 closed

[2019-06-26 09:16] sampathrsk opened #928 "JAVA8 sample applications for app engine with cloud SQL"
Hi Team,

In the official GitHub i found the codes which are written in java 7 by connecting cloud SQL to app engine where as the java 7 in app engine is deprecated and the codes are not updated to java 8 or 11. Please update the codes

[2019-06-26 18:34] akhileshborgaonkar opened #929 "A way to automate spark/shell/hive actions through Apache Oozie"
Looking for a way to use Apache Oozie on GCP server instance. The Oozie workflow will help to run spark actions through Dataproc and have better logging abilities.

[2019-06-29 15:01] hrntrn opened #932 "Issue with mongodb-atlas-visionapi-nodejs"
Hi there,
I follow your description step by step on https://cloud.google.com/community/tutorials/mongodb-atlas-visionapi-nodejs.  The example fnihsed but when I made test application give a bug. I don't know how can we solve. I run node server.js. See on web page. The page is opening. Click to button.  After that take the bug.
Issue Description

Shell which are not supported by the vision.googleap

[2019-07-01 16:51] ToddKopriva commented on #932
@smithkent , I'm tagging you so that you can see this bug reported against a tutorial that you submitted.

[2019-07-05 13:48] SamuelAlev opened #939 "Issue with run-laravel-on-appengine-standard"
Issue Description:

Hello,
I succeeded on deploying Laravel in Flexible mode (working perfectly) but I can't figure out how on Standard mode as I don't have access to the "public" folder once I deployed it, so my website doesn't have any ressources (CSS, images, videos, ...).

Here is my app.yaml for flex which is deployed and running : https://pastebin.com/5bGswhxR

[2019-07-07 11:40] fantypants opened #940 "Google Elixir Cloud Old Mix Commands failing"
hello everyone, trying to use the following tutorial:

```https://cloud.google.com/community/tutorials/elixir-phoenix-on-google-app-engine```

It keeps failing at:
[code]

located in file:
[code]
Specifically: line 130
[code]

Anyone else tried it recently?

[2019-07-08 09:09] piovewira opened #941 "Issue with sigfox-gw"
hii. i have an issued when try follow the step. error when i generated python client from sigfox api v2.
curl -X POST -H "content-type:application/json" -d '{"swaggerUrl":"https://support.sigfox.com/api/apidocs"}' https://generator.swagger.io/api/gen/clients/python

the error code is 400, type: unknown ,  message: bad input

anybody know what the isuues and solution

[2019-07-08 09:19] piovewira commented on #867
hii all
hii. i follow the tutorial https://cloud.google.com/community/tutorials/sigfox-gw. i have an issued when try follow the step. error when i generated python client from sigfox api v2.
curl -X POST -H "content-type:application/json" -d '{"swaggerUrl":"https://support.sigfox.com/api/apidocs"}' https://generator.swagger.io/api/gen/clients/python

the error code is 400, type: unknown , message:

[2019-07-08 12:24] jwtea opened #942 "Issue pulling private images using docker-compose container on container optimized os"
Not sure if this is the correct place to ask but following this [article](https://cloud.google.com/community/tutorials/docker-compose-on-container-optimized-os)
the docker-compose container is not authed with GCP to access private images.

`unauthorized: You don't have the needed permissions to perform this operation, and you may have invalid credentials. To authenticate your request, follow the s

[2019-07-08 16:41] ToddKopriva commented on #940
@dazuma , could you have a look at this report of an issue with a tutorial that you submitted?

[2019-07-08 16:44] ToddKopriva commented on #941
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-07-08 16:47] ToddKopriva commented on #941
@lepistom , I'm tagging you so that you can this issue regarding a tutorial that you submitted.

[2019-07-08 16:50] ToddKopriva commented on #942
@tswast , I'm tagging you so that you can see this question about a tutorial that you submitted.

@jwtea , the Issues section of this GitHub repository is generally not the best place to get questions answered. I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and o

[2019-07-08 22:26] tswast commented on #942
+1 to Todd's comment that GitHub isn't the best place for this question.

That said, I believe the gist of what's needed is:

1. Check which service account it being used for the GCE instance.
2. Make sure that service account has object viewer GCS permissions on the bucket that GCR uses for private images.

[2019-07-08 22:27] #942 closed

[2019-07-08 22:32] ToddKopriva commented on #942
Thanks, Tim.

[2019-07-08 23:51] piovewira commented on #941
Thanks toddkopriva

[2019-07-11 06:50] ghost opened #948 "MQTT + Maps"
I am struggling a little to put all the pieces together. I was hoping someone could put a very basic 'hello world' example together on how one can view location data on google maps of device that publishes location to a topic

[2019-07-11 08:39] fantypants commented on #940
Due to the release of 1.9 the command 'mix release.init' for distillery is now 'mix distillery.init' as mix has its own release system integrated.

Ideally, a tutorial on how to build the custom docker containers for elixir would be ideal, then we could run seeds.exs at build time as well.

[2019-07-11 08:41] fantypants commented on #940
Also reverted back and tested with elixir 1.8 and distillery 1.5 and the tutorial works, so its 99% the distillery changes with mix

[2019-07-11 15:43] ToddKopriva commented on #940
Thanks for that additional information.

[2019-07-13 16:24] Timtech4u commented on #917
Hi @sodiqOladeni , if you're looking for something on Cloud Function, kindly checkout [this](https://cloud.google.com/community/tutorials/slack-bot-cloud-functions-scheduler)

@amoora can we collaborate on this?

[2019-07-13 16:29] sodiqOladeni commented on #917
Thanks @Timtech4u, the tutorial you pointed at was written in js, am looking for the one written in Kotlin. Thanks

[2019-07-13 16:55] Timtech4u commented on #917
Hi @sodiqOladeni , currently Firebase Cloud Functions only supports JavaScript/TypeScript, however, you could integrate Kotlin with any of the available [triggers](https://firebase.google.com/docs/functions)

Can you explain your use case, that will help me in coming up with something. Thanks

[2019-07-13 20:39] sodiqOladeni commented on #917
Hello @Timtech4u , I want to be handling firebase notification on firebase event i.e onAdded and onUpdate, I don't want to be doing sending it from client because of maintainability. Google announced in recent I/O that cloud function now support Kotlin but they seem not to provide support material/documentation  Thanks for your concern.

[2019-07-13 22:11] henry-hz opened #953 "Issue with elixir-phoenix-on-cloud-build-cloud-run"
Issue Description
broken links here: Create the Cloud Build configuration file, which is used by the Cloud Build trigger. You can create your own build configuration file, or use this template for Phoenix.

[2019-07-14 10:37] kaumodaki opened #954 "Issue with cloud-iot-gateways-rpi"
As documented, I following all the steps, However, I ending up with the following error while I am trying to perform the 'Set up your gateway' section. I am getting error at step number 12(pip install -r requirements-gateway.txt).

Error Description: ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/usr/local/lib/python2.7/dist-packages/pycparser-2.19.di

[2019-07-14 17:07] ToddKopriva commented on #954
@hongalex , I'm tagging you so that you can see this issue reported against a tutorial that you submitted.

[2019-07-14 17:09] ToddKopriva commented on #954
@kaumodaki , in case this is a more general issue with permissions for installation, you might have better luck asking the question in a different forum. The Issues section of this GitHub repository is not the best place for getting troubleshooting help. I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP

[2019-07-14 17:12] ToddKopriva commented on #953
Thanks for the report. I'll get that fixed.

[2019-07-15 00:07] kristofgiber opened #956 "startup script not executed on first boot"
Using GCE VM, just loading the startup script based on URL from cloud storage, all my startup scripts fail to be executed on first boot - regardless of having just a single echo "hello" command in them or something more complex). When restarting the VM, usually the same startup script runs fine.

Here are the relevant lines of the logs:

Jul 14 23:53:45 k80-cuda-pycharm-lingvo-1 google_metadata_sc

[2019-07-15 02:53] prawee commented on #122
simple yii2 RESTFul with GCP

https://github.com/prawee/yii2-gae-api

[2019-07-15 06:20] MD-FAIZAN-C opened #957 "How to connect memorystore's redis and google cloud instance in docker contsiner"

[2019-07-15 08:00] #957 closed

[2019-07-15 15:56] ToddKopriva commented on #956
The Issues section of this GitHub repository is not the best place to get troubleshooting help with issues like this.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-07-15 15:56] #956 closed

[2019-07-15 16:00] ToddKopriva commented on #122
@prajeshkollath , does this contribution from @prawee satisfy your request?

I'm going to close this issue as resolved, but feel free to comment if there is more to be done here.

[2019-07-15 16:00] #122 closed

[2019-07-15 23:45] kristofgiber commented on #956
I raised the issue here because it looks like a bug rather than troubleshooting. In fact there was a similar issue reported already a while ago after (although I have no access to read it): https://issuetracker.google.com/issues/35904911
https://serverfault.com/questions/806792/startup-script-doesnt-run-on-first-boot

[2019-07-16 03:59] prajeshkollath commented on #122
Thanks Todd. It does .

On Mon, Jul 15, 2019 at 9:30 PM Todd Kopriva <notifications@github.com>
wrote:

--

regards
Prajesh Kollath

[2019-07-16 18:01] RajinTech opened #960 "Issue with cloud-iot-gateways-rpi"
➜  cloud-iot-gateways-rpi git:(master) ✗ source run-gateway
Traceback (most recent call last):
  File "./cloudiot_mqtt_gateway.py", line 22, in <module>
    import jwt
ImportError: No module named jwt

When running source run-gateway it says there is no module named jwt

[2019-07-16 19:12] ToddKopriva commented on #960
@hongalex , I'm tagging you so that you can see this issue reported against a tutorial that you submitted.

[2019-07-16 19:17] hongalex commented on #960
Hey @RajinTech, thanks for bringing this up.

Have you run the `pip install` step to install the jwt library? If so, what kind of device are you using as your gateway?

[2019-07-16 19:26] asadnafees opened #961 "Issue with run-laravel-on-appengine-[standard || flexible]"
Add sections for using Cloud Build and Cloud Source Repository with Laravel.

Some GCloud commands generate a .gcloudignore that includes .gitignore. This inclusion prevents successful deployments using Cloud Build when pulling from Google Cloud Source Repostitories as some of the files ignored are needed for deployments and there are several .gitignore files present in the framework [1].

This .g

[2019-07-16 19:29] hongalex commented on #954
Hi @kaumodaki,

I believe your issue can be resolved if you use a virtual environment instead of installing the python packages directly on your system. I'll likely update the tutorial with the following steps to make this more clear, but you would do something like the following:

[code]

[2019-07-16 19:42] RajinTech commented on #960
Hi @hongalex I ran pip3 install -r requirements-gateway.txt for the install step. Im using a macbook with Mojave

[2019-07-16 19:43] RajinTech commented on #960
`➜  cloud-iot-gateways-rpi git:(master) ✗ pip3 install -r requirements-gateway.txt
Requirement already satisfied: cryptography==2.4.1 in /usr/local/lib/python3.7/site-packages (from -r requirements-gateway.txt (line 1)) (2.4.1)
Requirement already satisfied: paho-mqtt in /usr/local/lib/python3.7/site-packages (from -r requirements-gateway.txt (line 2)) (1.4.0)
Requirement already satisfied: pyjwt

[2019-07-16 19:49] hongalex commented on #960
Ah gotcha. This article was written using python 2, so that might be the first point of contention. I also recommend installing/running the gateway code inside a virtual environment. Some instructions on how to set that up can be found here: https://github.com/GoogleCloudPlatform/community/issues/954#issuecomment-511953666

I'll be updating the tutorial to first include more detailed info on how t

[2019-07-16 20:11] ToddKopriva commented on #954
Thanks for following up, Alex.

[2019-07-16 20:11] ToddKopriva commented on #960
Thanks for following up, Alex.

[2019-07-16 23:39] johninvictus commented on #940
Can we create a custom elixir runtime to bypass this issue?

[2019-07-17 00:20] ToddKopriva commented on #960
It seems that Alex's PR #962 deals with this issue, so I'm closing this issue report.

If you find that this issue isn't resolved, re-open the issues and let us know.

[2019-07-17 00:20] #960 closed

[2019-07-17 00:21] ToddKopriva commented on #954
It seems that Alex's PR #962 deals with this issue, so I'm closing this issue report.

If you find that this issue isn't resolved, re-open the issues and let us know.

[2019-07-17 00:21] #954 closed

[2019-07-17 00:24] ToddKopriva commented on #961
@bshaffer , I tagged you so that you see this request for an improvement in a couple of tutorials that you submitted.

[2019-07-17 00:26] ToddKopriva commented on #122
Excellent. Thanks for confirming.

[2019-07-17 01:37] dazuma commented on #940
I am working on updating the Elixir runtime to handle the various cases (Distillery < 2.1.0, Distillery >= 2.1.0, and Elixir 1.9 without Distillery). Should be ready in a day or two.

[2019-07-17 10:42] johninvictus commented on #940
Thanks, we will all appreciate

[2019-07-17 14:30] RajinTech commented on #960
@hongalex Thanks for the update I will try that. I'm having a hard time wrapping my head around the purpose of the virtual environment. Sounds like it creates a space to have a different version of python running? I am using this for an industrial automation project so I am going to be using a dedicated pi for the device and another for the gateway. Does that mean that every time I turn my gateway

[2019-07-17 15:23] ToddKopriva commented on #940
Thanks, Daniel.

[2019-07-17 15:30] ToddKopriva commented on #939
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-07-17 15:30] #939 closed

[2019-07-17 18:16] hongalex commented on #960
Generally a [virtual environment](https://virtualenv.pypa.io/en/stable/userguide) is for creating an isolated workspace to install Python packages. It does still depend on a python version that you already have on your base machine, but it provides the benefit of isolating packages to a specific project from say the base system's python packages.

Looking back at your issue, it probably could've b

[2019-07-18 10:55] varshama opened #966 "Unable to see CPU and Memory dashboards for Kubernetes deployments in a private cluster (Although CPU/Memory dashboard data available for containers present in deployments)"
Production GCP Environment Issue
We have a private cluster in which there are 40+ deployments, we are unable to see CPU, memory, disk IO etc dashboard data for deployments (workloads) in GKE console.
NOTE: The aggregated data is not available.
Whereas, for containers in that deployments CPU. Memory dashboard data is available.
Could someone please help if there is anything we need to incorporate f

[2019-07-18 20:26] dazuma commented on #940
The Elixir runtime has now been updated, and should fix the task-not-found issue with Distillery 2.1. Leaving this open to update the text of the tutorial to call for Distillery 2.1 and use the new `mix distillery.init` command.

[2019-07-18 21:53] ToddKopriva commented on #966
The Issues section of this GitHub repository is not the best place to get troubleshooting questions like this answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-07-18 21:53] #966 closed

[2019-07-19 10:50] fantypants commented on #940
Solid work, will make things smooth as butter :)

[2019-07-19 19:31] ToddKopriva commented on #940
With Daniel's fix, I'm going to close this issue. Feel free to comment if there's still a problem.

[2019-07-19 19:31] #940 closed

[2019-07-19 19:42] bulbage opened #969 "Mender google IOT setup produces ERROR: (gcloud.iot.devices.create) INVALID_ARGUMENT: The format of 'device.id' is invalid"
Hello,
I am following this IOT example:
https://cloud.google.com/community/tutorials/cloud-iot-mender-ota

When I execute this line:
gcloud iot devices create $DEVICE_ID --region=$CLOUD_REGION --project $PROJECT --registry=$REGISTRY_ID --public-key path=rsa_public.pem,type=RSA_PEM

I receive:
ERROR: (gcloud.iot.devices.create) INVALID_ARGUMENT: The format of 'device.id' is invalid:

$DEVICE_ID: fo

[2019-07-19 21:07] ToddKopriva commented on #969
@Kcr19 , I'm tagging you so that you can see this issue report about a tutorial that you submitted.

@bulbage , the Issues section of this GitHub repository is not the best place to get such questions answered quickly.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employ

[2019-07-19 21:13] bulbage commented on #969
@ToddKopriva Thank you for the prompt reply. I will post it there.

[2019-07-21 21:06] #969 closed

[2019-07-22 12:43] dazuma commented on #774
Updated the tutorial.

[2019-07-22 12:43] #774 closed

[2019-07-24 06:16] vsbmadhav opened #974 "need help with loading data to Bigquery"
Can some one help me with understanding how I can do Incremental loads into Big query database / table for the scenario as mentioned below

Source table, say A, has
- 10 new records
- 5 records updated
- 2 records deleted

there is some data already loaded into big query table(say BQT1) coming from table A

i would need to write a program that i can schedule to do these delta loads on a frequent b

[2019-07-24 16:53] ToddKopriva commented on #974
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-07-24 16:53] #974 closed

[2019-07-26 16:04] MrTrustor opened #976 "Issue with using-stackdriver-uptime-checks-for-scheduling-cloud-functions"
This tutorial has been made obsolete by https://cloud.google.com/scheduler/docs/tut-pub-sub

[2019-07-26 16:31] ToddKopriva commented on #976
@MrTrustor , is your recommendation that this tutorial be removed because it's obsolete, or are you suggesting some other solution?
https://cloud.google.com/community/tutorials/using-stackdriver-uptime-checks-for-scheduling-cloud-functions

@sujoyg , I'm tagging you since you are the original author of the tutorial in question, so I thought that you might want to be part of this conversation.

[2019-07-28 03:34] sujoyg commented on #976
@ToddKopriva thank you for looping me in. I agree with @MrTrustor . My tutorial was written before Cloud Scheduler was released. It is time to deprecate my tutorial in favor of the one referenced by @MrTrustor. However, I no longer work for Cloud and will not be able to find time to do this myself. Highly appreciate any help with this.

[2019-07-29 07:45] MrTrustor commented on #976
@ToddKopriva I don't know what's the process for community tutorials, but I can think of two solutions: either we unpublish it completely, or we add a note/warning at the top saying it's been deprecated in favor of the official Cloud Scheduler tutorial.

[2019-07-29 16:30] ToddKopriva commented on #976
I'll move this document to the archives, which will unpublish it from cloud.google.com. The document will continue to exist here on GitHub in our archive folder, with a note at the top of the document pointing to the new document.

[2019-08-01 16:11] TheDanishDynamo opened #981 "Issue with dotnet-mvms-quickstart"
Incorrect command:
[code]
Correct:
[code]

[2019-08-01 17:12] ToddKopriva commented on #981
Thanks for the report, Thomas.

If you submit a pull request to fix this, I'll review it and get the change published. Otherwise, I'll put this in my to-do queue to fix.

[2019-08-02 21:14] ToddKopriva commented on #976
This PR moves the obsolete tutorial to the "archived" folder and adds a note at the top of the archived document to point to the new document:
https://github.com/GoogleCloudPlatform/community/pull/987

In a moment, I'll unpublish the document from the cloud.google.com/community site.

[2019-08-02 21:14] #976 closed

[2019-08-02 22:04] ToddKopriva commented on #976
All fixed. The old URL now redirects to the new tutorial.

[2019-08-04 08:53] adrielwerlich opened #988 "Get contacts from contacts api in firebase function"
Hello there I´m trying to retrieve my contacts list from the contacts api using a firebase function

I´ve created a stackoverflow post (https://stackoverflow.com/questions/57345184/error-node-js-module-defined-by-file-index-js-is-expected-to-export-function-na)

It´s possible to find a working snnipet that clearly shows how to retrieve the contacts list from the contacts api inside a firebase func

[2019-08-05 16:59] ToddKopriva commented on #988
Thanks for the tutorial request.

[2019-08-07 10:41] Dinhhai94 opened #989 "dinhhai/Issue with building-android-apk-with-cloud-build-gradle-docker-image"
Issue Descriptiondinhhai/Issue with building-android-apk-with-cloud-build-gradle-docker-image

[2019-08-07 12:26] faizanophobia opened #991 "/usr/bin/python: No module named object_detection GCloud Platform"
Hi there,
I am training a custom object detection model through google cloud sdk following https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193 , https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md/the data is successfully added into the bucket and all the commands worked without

[2019-08-07 14:52] ToddKopriva commented on #989
Please give details of the issue that you had with this tutorial.

[2019-08-07 14:53] #989 closed

[2019-08-07 15:59] ToddKopriva commented on #991
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-08-07 15:59] #991 closed

[2019-08-12 00:56] BryceWayne opened #992 "Bokeh Serve with Flask in Google Ap Engine"
A simple canonical example which deploys a Bokeh server dashboard in a Flask web app would be great. The Bokeh + BigQuery does not work and is too complicated. It would be nice to see a Flask Web Ap with a Bokeh Server Dashboard that has Python callbacks for realtime updates. This should then be deployed on the Google App Engine. Thank you.

[2019-08-13 14:32] rbannist opened #993 "Issue with cloud-functions-firestore"
Change 'Prerequisites' --> 'Enable the Google Cloud Firestore API (Datastore mode)' to 'Enable the Google Cloud Firestore API (Firestore/Native mode)'.

[2019-08-13 14:57] ToddKopriva commented on #993
Thanks for the report.

If you want to create a pull request to make this change yourself, I'll review it and get it merged.

[2019-08-13 15:56] zeroasterisk commented on #993
Thanks. I'll get to this today, if you don't.

[2019-08-13 15:58] HessTaha opened #994 "Change python version"
Hello,

I'm new to cloudcomputing and I have been playing with GCP for couple of weeks now,

I have developped some python3  scripts that I wanted to execute on the cloud, but I can't find how to change the default version of python !! It's set to 2.7

Can anyone help a young cloud padawan ?

thank you in advance for your help

[2019-08-13 16:31] ToddKopriva commented on #994
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository. I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

That sa

[2019-08-13 16:31] #994 closed

[2019-08-13 17:59] zeroasterisk commented on #993
@rbannist have you completed the tutorial with firestore in native mode?  When I wrote this, I picked datastore mode...  I have not done this tutorial in firestore native mode... have you?  can you confirm it all works?

Here's a comparison of the two:
https://cloud.google.com/firestore/docs/firestore-or-datastore
Reading that, they look compatible, but I would want to be sure.

[2019-08-13 20:51] yerlikovboy opened #995 "Issue with Community Tutorial on Data Cleaning using Cloud Dataflow"
Trying to go through this tutorial: https://cloud.google.com/community/tutorials/data-science-preprocessing#running_on_cloud_dataflow

Getting the following error:
$ python2.7 clean.py $BUCKET/meteors.json $PROJECT:meteor_dataset.cleansed --project $PROJECT --job_name $PROJECT-meteors --runner BlockingDataflowPipelineRunner --staging_location $BUCKET/staging --temp_location $BUCKET/temp --output $

[2019-08-13 21:18] glappen opened #996 "Issue with managing-gcp-projects-with-terraform"
This article got me started with terraform on GCP but I ran into some issues and wanted some clarification. I made a terraform admin project, and made a service account in that project with the roles/viewer and roles/storage.admin. I thought that it would be sufficient to enable services for the project created with terraform like this:
[code]

However, I still got errors that the container servic

[2019-08-13 21:38] ToddKopriva commented on #995
The Issues section of this GitHub repository is not the best place to get questions answered. I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

That said, I'll tag the author of this tutorial to see if they can see what

[2019-08-13 21:39] ToddKopriva commented on #995
@jerjou , I'm tagging you so that you cna see this issue with a tutorial that you authored.

[2019-08-13 21:42] ToddKopriva commented on #996
@glappen , the Issues section of this GitHub repository is not the best place to get questions answered. I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

That said, I have tagged the authour of the tutorial, @danisla ,

[2019-08-14 00:38] glappen commented on #996
@ToddKopriva Thank you for answering! I thought asking here would be appropriate as the pattern I'm trying to implement (i.e. having a terraform admin project that creates other projects) was the one suggested in the tutorial. I will also try to ask my question on one of the forums though to try to get some more information there.

[2019-08-14 01:55] ToddKopriva commented on #996
I understand. No problem. I'm just warning you that the turnaround time on questions here isn't as low as on most forums.

[2019-08-14 03:29] TKtong84 opened #998 "Error from server (NotFound): services "iotmonitor-grafana" not found"
I put the script:
"kubectl get service iotmonitor-grafana -o jsonpath={.statu
s.loadBalancer.ingress[0].ip}"
Bu there are error:
"Error from server (NotFound): services "iotmonitor-grafana" not found"

How to search the cause?
Thank you very much.

[2019-08-14 06:51] HessTaha commented on #994
Oupss sorry !

Thank you !

[2019-08-14 07:13] rbannist commented on #993
@zeroasterisk, yes, I initially followed the prompt to select Datastore mode but I had difficulties and then, upon reading the word 'Collection', I tried switching to Native (Firestore) mode and worked.  I still have the environment running and can screenshot, etc. if that's of help.  Thanks

[2019-08-14 13:58] ToddKopriva commented on #994
No need to apologize.

You're welcome.

[2019-08-14 15:41] ToddKopriva commented on #998
The Issues section of this GitHub repository is not the best place to get questions answered. I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

That said, I have tagged the author of the [Grafana for IoT monitoring tuto

[2019-08-14 16:33] BryceWayne commented on #992
I am very close to getting the Bokeh Server to work with Flask but I am not entirely sure how to put everything together. I am trying to open the 5006 port for the Bokeh Serve to be on and have the flask app reference localhost:5006 for the Bokeh server. I am attaching the GitHub repo link to clone and check.

GitHub Repo: https://github.com/BryceWayne/mlcdashboard.git

[2019-08-14 16:35] ToddKopriva commented on #992
If you need help moving forward, I recommend bringing your questions to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-08-14 16:36] BryceWayne commented on #992
Thank you.

[2019-08-14 19:49] #993 closed

[2019-08-14 19:50] ToddKopriva commented on #993
Thanks for the report, @rbannist . And thanks, @zeroasterisk , for the fix.

[2019-08-15 16:17] ToddKopriva commented on #981
@jscud , can you verify that the command that Thomas suggested is correct?

[2019-08-16 16:15] jscud commented on #981
In Cloud Shell, I'm not sure that this is necessary. By default echo "$ASPNETCORE_URLS" should already show http://*:8080.

[2019-08-27 21:21] syedzubair-dev opened #1007 "Issue with appengine-nodejs-webpack"
Trying to load data from GCP bigquery in webpack nodejs. Getting an after adding the external module.

![image](https://user-images.githubusercontent.com/44016150/63808891-9f57d680-c93e-11e9-9f93-bca4d1ad1a0a.png)

[2019-08-29 18:26] pupeno opened #1009 "Issue with kotlin-springboot-container-engine"
On this step:

I couldn't figure out what those two thing are nor find them on the linked page.

[2019-08-29 18:34] ToddKopriva commented on #1009
Thanks for the report. I'll have a look.

[2019-08-30 09:29] boredland opened #1010 "Issue with run-meteor-on-google-app-engine"
I'm pretty sure that you want to cd into the /app/ folder during the docker build, not "programs" whatever that is. In addition it should use the newest nodejs currently supported by meteor:

[code]

[2019-08-30 17:55] ToddKopriva commented on #1010
@ace-n , could you have a look at this issue, which includes both a small content bug and a request for an update?

[2019-08-30 22:01] ace-n commented on #1010
@ToddKopriva thanks for the ping! cc @mylesborins as FYI.

@boredland thanks for reporting! Unfortunately we're not _officially_ maintaining this sample for two reasons:
1. Meteor isn't _that_ common (judging by [downloads from NPM](https://www.npmjs.com/package/meteor)).
2. Most officially-maintained content is in our other repos. The content in this repo is (almost exclusively) maintained by our

[2019-09-02 19:37] #998 closed

[2019-09-03 01:19] ToddKopriva commented on #1010
Thanks for the response, @ace-n .

I'm going to go with your suggestion (and that of @fhinkel ) and archive this tutorial soon. I'll give it a couple of days, so that @boredland has time to give his opinion.

I'll assign the bug back to myself.

[2019-09-03 06:07] boredland commented on #1010
I think renoving the article is fine.

Todd Kopriva <notifications@github.com> schrieb am Di., 3. Sep. 2019, 03:19:

[2019-09-03 21:40] ToddKopriva opened #1013 "Issue with kotlin-springboot-compute-engine"
@hhariri , the link to download the sample application (https://github.com/jetbrains/gcp-samples) is broken in this document that you submitted:
https://cloud.google.com/community/tutorials/kotlin-springboot-compute-engine

Can you provide a new link to download the sample application?

[2019-09-03 22:19] g000m opened #1015 "issues in understanding-oauth2-and-deploy-a-basic-auth-srv..."
I ran into multiple issues working through this tutorial.

- The tutorial may need to be updated for for more recent GCP standards
- There also appear to be typos in the client entities.
- function.js lines 97-98 needed req.body changed to req.query
- It's also not specified wether the hostname in auth.pug should be updated to reflect the current user's GCP project id. I did change it with limited

[2019-09-03 23:23] #1010 closed

[2019-09-03 23:24] ToddKopriva commented on #1015
Thanks for the report, Gabe. I'll have a look.

[2019-09-04 21:57] ToddKopriva commented on #1009
When I go to the API Library page and do a search like this:
http://console.cloud.google.com/apis/library?&q=container

... I see the the Google Container Engine API as the first result and the Google Cloud Container Builder API entry about sixth on the list of results.

Does that help?

[2019-09-05 01:06] #996 closed

[2019-09-05 01:07] #995 closed

[2019-09-05 01:09] #928 closed

[2019-09-05 01:11] ToddKopriva commented on #717
This tutorial has been archived:
https://github.com/GoogleCloudPlatform/community/pull/1014

[2019-09-05 01:11] #717 closed

[2019-09-05 01:15] ToddKopriva commented on #478
This tutorial has been archived:
https://github.com/GoogleCloudPlatform/community/pull/1014

[2019-09-05 01:15] #478 closed

[2019-09-05 01:22] ToddKopriva commented on #146
This tutorial has been archived:
#1014

[2019-09-05 01:22] #146 closed

[2019-09-06 15:04] CICCIOSGAMINO opened #1016 "Androidthings/cloud-iot-core-androidthings in Kotlin"
I'd like to see how this Java concurrent code will be written in Kotlin + Coroutines ....

https://github.com/androidthings/cloud-iot-core-androidthings

[2019-09-06 20:15] ToddKopriva commented on #1009
I'm going to close this issue, since I think that you have he information that you need. Feel free to re-open this issue if needed.

[2019-09-06 20:46] ToddKopriva commented on #1013
fixed with this PR:
https://github.com/GoogleCloudPlatform/community/pull/1017

[2019-09-06 20:46] #1013 closed

[2019-09-07 09:32] fahedouch opened #1018 "cloud-sdk-el7-x86_64 key signature issue"
Hello GCP people,

I encountered a problem with the repository  cloud-sdk-el7-x86_64.

`https://packages.cloud.google.com/yum/repos/cloud-sdk-el7-x86_64/repodata/repomd.xml: [Errno -1] repomd.xml signature could not be verified for google-cloud-sdk
Trying other mirror.`

should i contact the support or they can be notified behind this issue.

Have a nice day.

[2019-09-08 15:23] ToddKopriva commented on #1018
Thanks for the report. I'll try to find the right place for this to be reported.

[2019-09-09 16:53] ToddKopriva commented on #1018
The right folks within Google are aware of the issue. There are internal bug reports tracking the issue.

I'm going to close this issue report.

Thanks again for letting us know.

[2019-09-09 16:53] #1018 closed

[2019-09-10 07:29] ryantgz opened #1021 "Dialogflow Chatbot that can broadcast message to enduser (in facebook/workplace)"
Hi All,

I am writing this to check if there is anyone able to guide me on creating a dialogflow chatbot that can broadcase message to enduser?

Thank you.
Ryan.

[2019-09-10 14:48] ToddKopriva commented on #1021
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

Here i

[2019-09-10 14:48] #1021 closed

[2019-09-13 21:42] ToddKopriva opened #1029 "Issue with private-forseti-with-scc-integration"
@fawix , this bug report came through our internal channels. Could you look at this and determine if there is anything that needs to be updated in your tutorial?

https://cloud.google.com/community/tutorials/private-forseti-with-scc-integration

In the following section, there is a config snippet to configure the link between Forseti violations and CSCC:

Modify the notifier: violation: cscc secti

[2019-09-20 09:15] csm789 opened #1032 "Help me on setup infrastructure?"
My requirement is t setup an organization architecture from start using GCP- Paas?
How to set up an Organization using policies?
Identity and access management MFA?
How to setup Kafka and spark using terraform in Europe-west2?
How to setup node.js, Kafka, and Spark infrastructure CI-CD using terraform?
I really appreciate if you can help me.
Thank you GCP

[2019-09-20 13:53] erikwalker opened #1033 "automated example of creating a firestore database"
I am interested in figuring out how to automate the creation of firestore database with gcloud commands and or terraform.  All i can see is that it has to be done in the gcp console. Ideally, I would like a way to programmatically do this. I have done extensive research and have not found any resources online to do this. Can someone help to create a basic tutorial on doing this ?

[2019-09-20 18:24] ToddKopriva commented on #1032
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-09-20 18:24] #1032 closed

[2019-09-24 06:58] mojalil opened #1038 "Tutorial Request: Cloud Endpoint API Management With NodeJs"
Having looked though the [quick start doc](https://cloud.google.com/endpoints/docs/quickstart-endpoints) and the [nodejs samples](https://github.com/GoogleCloudPlatform/nodejs-docs-samples/tree/master/endpoints/getting-started)

It would be nice to have a NodeJS example in the quick start documentation, with authentication and throttling.

[edit]:  Additionally with a way to do key generation prog

[2019-09-24 10:00] pupeno commented on #1009
This is what I see, which doesn't include Google Cloud Container Builder:

![Annotation 2019-09-24 110008](https://user-images.githubusercontent.com/8425/65502362-8ea56c80-deba-11e9-9291-0f09f168e99d.png)

[2019-09-24 17:07] ToddKopriva commented on #1009
Ah, thanks for that. And thanks for your patience.

I see what the problem is now.

I'm going to switch this issue from being a question to a bug, since you are correct that this shows a problem with the document.

[2019-09-24 17:17] pupeno commented on #1009
No problem! I'm sorry it took me so long to respond, I was crazy busy.

[2019-09-24 17:29] ToddKopriva commented on #1038
Thanks for the request. I'll ask and look around to see if I can find anything that already exists that might serve your needs.

[2019-09-24 17:31] ToddKopriva commented on #1038
@fhinkel , can you recommend any materials that might help @mjdude ?

[2019-09-25 11:34] Ha25hit opened #1040 "Regarding the documentation present on community tutorials"
Please provide the proper documentation of how do you connect the prometheus and grafana with core iot and pubsub as tutorial you posted was not clear the purpose so re-post it with more detailed information

[2019-09-25 16:38] ToddKopriva commented on #1040
@Ha25hit , could you give more details about the problems that you found with this tutorial?
https://cloud.google.com/community/tutorials/cloud-iot-prometheus-monitoring

@ptone , I'm tagging you so that you can see this request about a tutorial that you submitted.

[2019-09-25 16:51] Ha25hit commented on #1040
Yes ... The  thing is that we are not able to connect pubsub service to
kubernetes cluster where we deployed Prometheus. No proper way is shown in
that document.
The document suggest that we should convert the incoming data into some
metrics ... For this a went to the promiot GitHub link there also no
documents how do I convert data for Prometheus and send over mqtt

I'm familiar with Python but n

[2019-09-26 01:31] ProgrammerZ opened #1041 "Issue with run-laravel-on-appengine-standard Stackdriver custom logger"
I have an issue with Stackdriver custom logger.
I have followed the tutorial steps and the logger is working, I'm receiving logs and Exceptions as expected.
BUT it does not take into account the Log Level which is set in: **`config/logging.php`**
[code]
I'm still receiving all log from debug to emergency

[2019-09-26 16:18] ToddKopriva commented on #1041
Thanks for the report. I'll look into this.

[2019-09-26 18:35] ToddKopriva commented on #1040
Thanks for the details of the problems. We'll have a look.

[2019-09-30 05:17] zainabz1995 opened #1044 "app.yaml file not opening the correct html or php page"
i had set the index.php file as first file... but when i am trying to click on shop page (which is shop.html or shop.php) it is redirecting back to the index.php file only. How should i resolve? I am attaching my code snippet in index.php and app.yaml here.

code in index.php
 <li>
                    <a class="page-scroll" href="shop.php">Shop</a>
                  </li>

![image](https://user-im

[2019-09-30 17:27] ptone commented on #1040
Thanks for the report. The focus of the tutorial is on the integration of a pod that exposes iot style data, and how that is scraped into prometheus, and how to right example queries in prometheus query language.

The architecture provided for how data gets from device to the pod is only provided as a pattern, not an implementation. The pattern could be fulfilled in python or go.

A rough implemen

[2019-10-01 22:19] ToddKopriva commented on #1044
The Issues section of this GitHub repository is for reporting issues with the community tutorials in this repository. Is this question about a tutorial in this repository? If so, which one?

If you have questions and want help,  I recommend coming to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and

[2019-10-01 22:23] ToddKopriva commented on #1040
Thanks for the response, @ptone .

I'm going to close this issue as resolved with that information. @Ha25hit , you are still welcome to ask questions if you need more help.

If you have more involved questions, I recommend coming to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---h

[2019-10-01 22:23] #1040 closed

[2019-10-03 10:45] fhinkel commented on #1038
@mjdude Thanks for pointing this out. As of now, I don't think we have specific tutorial on this.

[2019-10-03 14:10] #104 closed

[2019-10-04 13:14] edwindvinas opened #1048 "Add filter for tutorials targeted for specific programming language"
I was browsing for Cloud Run tutorials based in Golang but I can't seem to filter the results by programming language. Please add a filter on the search results. Thanks!

[2019-10-08 00:34] ToddKopriva commented on #1048
Thanks for the feature request.

[2019-10-09 18:04] cool-username opened #1053 "Issue with setting-up-lamp - Setting Up LAMP on Compute Engine"
Issue Description: First and foremost: wonderful instructions! Bravo! Two little things - one: when deploying CentOS 7, why is MySQL not available (and MariaDB is)? Second, when modifying the PhpMyAdmin config file, the user must first install Nano (yum install nano). Thanks so much, Anand

[2019-10-09 18:14] ToddKopriva commented on #1053
Thanks for the issue report. I'll look into this.

[2019-10-15 16:26] Timtech4u commented on #988
I could try to write something on this soon.

[2019-10-15 16:28] Timtech4u opened #1055 "Author filter not working on Community Tutorial"
Hi @ToddKopriva , I noticed Author query parameters does not work as it should.
An example is: https://cloud.google.com/community/tutorials?q=timtech4u
The expected behaviour is to return all the tutorials I have written, but it returns all tutorials.

[2019-10-15 16:33] ToddKopriva commented on #1055
Thanks for the report. I'll look into it.

[2019-10-15 16:34] ToddKopriva commented on #988
Thanks, Timothy.

[2019-10-15 16:38] ToddKopriva commented on #1055
You are correct that sending the user name as a URL parameter isn't working, but I do see the correct results when I enter your user name in the search field here:
https://cloud.google.com/community/tutorials/

[2019-10-15 16:42] Timtech4u commented on #1055
Yes, this works fine. Would nice to know when this is fixed so I can use the URL with author parameter.

[2019-10-15 17:07] ToddKopriva commented on #1055
We'll update this issue report when there's a change.

[2019-10-17 02:09] programatt opened #1056 "cloud-iot-mender-ota image bucket 403 during update-image.sh"
Issue Description:

Mender GCP image in bucket returns a 403 Forbidden. Following instructions on https://cloud.google.com/community/tutorials/cloud-iot-mender-ota this is the result I see for
`bash community/tutorials/cloud-iot-mender-ota/image/update-image.sh` I am running that command from Cloud Shell with my environment variables configured per the tutorial.

    mender-artifact

[2019-10-17 17:19] Kcr19 commented on #1056
Updated, should work now. Please test and lmk.

[2019-10-17 17:58] ToddKopriva commented on #1056
Thanks, @Kcr19 .

@programatt , please let us know if it's working for you now.

[2019-10-20 08:48] tadashigaki opened #1058 "Required cloud functions runtime"
When I tried cloud-functions-twilio-voice-record tutorial, encountered below error. [1]

`ERROR: (gcloud.beta.functions.deploy) Missing required argument [runtime]: Flag --runtime is required for new functions.`

Runtime flag seems required when functions deploy. [2]

Can I fix this issue?

[1] https://cloud.google.com/community/tutorials/cloud-functions-twilio-voice-record
[2] https://cloud.googl

[2019-10-20 13:43] ishanrakitha opened #1059 "Stuck - First Cloud SQL connection, generating RSA key pair."
Spring Boot 2 application stuck in GKE with the following... Unable to connect to CLOUD SQL instance. Please advise.

**Connection string**

`spring.datasource.url=jdbc:mysql://google/food?verifyServerCertificate=false&useSSL=false&requireSSL=false&cloudSqlInstance=<INSTANCE>&socketFactory=com.google.cloud.sql.mysql.SocketFactory&user=<USER>&password=<PASS>
`

**Instance Settings**

Unsecured conn

[2019-10-21 23:22] ToddKopriva commented on #1059
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-10-21 23:22] #1059 closed

[2019-10-21 23:24] ToddKopriva commented on #1058
Thanks for the report. It looks like this tutorial may need an update. I'll look into this.

[2019-10-21 23:25] ToddKopriva commented on #1056
I'm closing this as fixed, based on the comment from @Kcr19 .

Feel free to re-open this if needed.

[2019-10-21 23:25] #1056 closed

[2019-10-22 02:12] tadashigaki commented on #1058
Thanks!

[2019-10-24 11:22] Dinhhai94 commented on #989
Sử dụng cột lọc

[2019-11-04 17:23] sspage opened #1062 "Tutorial Request - Cloud Function code for sending an email when billing alerts are triggered"
If possible, I would like to see a sample for this scenario:

Cloud Function code for sending an email when billing alerts are triggered

[2019-11-05 18:21] devauen opened #1064 "Issue with run-spring-petclinic-on-app-engine-cloudsql"
./mvnw -Drun.profiles=mysql spring-boot:run

doesn't work for me. I needed to change it to:

./mvnw -Dspring-boot.run.profiles=mysql spring-boot:run

[2019-11-07 21:14] ToddKopriva commented on #1064
Thanks for the report. It appears that for Spring Boot 2.0 and higher, run has been replaced by spring-boot.run.

I'll make the update.

[2019-11-12 18:48] adjei7 opened #1067 "Issue with joomla-on-compute-engine"
Issue Description
Step 3 of 'Setting up the database' may need updating as it references pre mysql8 syntax and code

`GRANT ALL ON YOUR_DATABASE_NAME.* TO 'YOUR_USERNAME'@'localhost' IDENTIFIED BY 'YOUR_PASSWORD';`

no longer words and may need to use something like

`mysql> CREATE USER 'YOUR_USERNAME'@'localhost' IDENTIFIED BY 'YOUR_PASSWORD';`

`mysql> GRANT ALL PRIVILEGES ON YOUR_DATABASE_NAME.

[2019-11-12 19:00] ToddKopriva commented on #1067
Thanks for the report.

If you want to submit a pull request to make this fix, I'll review it and get it merged. If not, then I'll look into making the fixes.

[2019-11-12 20:47] ToddKopriva commented on #1064
fixed with #1065

[2019-11-12 20:47] #1064 closed

[2019-11-16 22:02] Dinhhai94 opened #1074 "Issue with cloud-iot-mender-ota"
Issue Description

[2019-11-19 05:52] smithaprabhu opened #1075 "Sample to delete older versions of app engine versions using node js"
from google.appengine.api.modules import modules

# core logic (inside a cron or other handler)
for m in modules.get_modules():
    dv = modules.get_default_version(m)
    for v in modules.get_versions(m):
        if v != dv: modules.stop_version(m, v)

Can a similar code be written in node js ? I didnt get any samples. any samples in this regard greatly appreciated.

[2019-11-19 21:01] #1074 closed

[2019-11-20 23:59] forresthopkinsa opened #1078 "Issue with running-nodejs-on-google-cloud"
Article is outdated; Node.js is now available on the GAE Standard environment, not just the Flex environment.

[2019-11-21 19:31] ToddKopriva commented on #1078
Thanks for the report, Forrest.

If you know what needs to be fixed in the tutorial, feel free to submit a pull request to make the fix, and I'll review it and get it merged. If you would rather not do that, then we'll find someone else to make the upodate.

[2019-11-22 07:00] vnc-digital opened #1079 "I am facing issue while connecting to Cloud SQL"
Below is my code from application.properties which I got from this [application.properties](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/run-spring-petclinic-on-app-engine-cloudsql/spring-petclinic/src/main/resources/application-mysql-datasource.properties)

`database=mysql
spring.datasource.driverClassName=com.mysql.jdbc.Driver
spring.datasource.url=jdbc:mysql://google/D

[2019-11-22 19:15] ToddKopriva commented on #1079
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2019-11-24 11:12] benbro opened #1080 "Issue with tutorials/managing-gcp-projects-with-terraform/index.md"
google_project_services used in the tutorial is deprecated and should be replaced with separate google_project_service for each service.

Old
[code]

New
[code]

`"${google_project.project.project_id}"` should also be replaced with `google_project.project.project_id` in recent Terraform.

[2019-11-24 17:37] QuantumAa commented on #1080
Ar 3d fc rra

[2019-11-25 19:09] ToddKopriva commented on #1080
Thanks for letting us know about the need for this update.

If you know exactly what needs to be fixed, you could create a pull request to make the change yourself, and I'll review it and get it merged. If not, I'll look into making the update.

[2019-11-25 22:15] ToddKopriva opened #1081 "Issue with tutorials/pubsub-logging-pvm-shutdowns/index.md"
https://cloud.google.com/community/tutorials/pubsub-logging-pvm-shutdowns

There are instances in this tutorial of Python packages being installed system-wide (`sudo pip install package_name`), rather than for a particular user. Should these instances be updated to use the `--user` flag instead (`pip install --user package_name`)?

[2019-11-25 22:16] ToddKopriva opened #1082 "Issue with tutorials/standalone-tensorflow-raspberry-pi/index.md"
https://cloud.google.com/community/tutorials/standalone-tensorflow-raspberry-pi

There are instances in this tutorial of Python packages being installed system-wide (`sudo pip install package_name`), rather than for a particular user. Should these instances be updated to use the `--user` flag instead (`pip install --user package_name`)?

[2019-11-26 13:37] mkahn5 commented on #1081
@ToddKopriva Yes, fine to install for the user instead of system wide.

[2019-11-29 08:32] wolruf opened #1083 "AWS VPN: not possible to attach 2 x VGW to 1 VPC"
The tutorial https://github.com/GoogleCloudPlatform/community/tree/master/tutorials/using-ha-vpn-with-aws features 2 x VGW (4 x tunnels) with one AWS VPC, which isn't possible. There's a 1:1 VPC/VGW association.

[2019-12-02 18:09] ToddKopriva commented on #1083
Thanks for the report. If you'd like to make a pull request to make the corretion yourself, I'll get it reviewed and merged. If not, I'll look into getting the correction made.

[2019-12-03 00:17] wolruf commented on #1083
I won't issue a pull request as I didn't test such a redundant setup with GCP. The network diagram would have to be revamped.

[2019-12-03 01:03] ToddKopriva commented on #1083
Thanks, @wolruf . I've assigned the issue to the original author of the document.

[2019-12-06 07:11] captaincrunch93 opened #1087 "Batch label walk through with python"
Suggestion for a tutorial walking through batch image annotation offline. I've seen this document: https://cloud.google.com/vision/docs/batch, however it's not quite as easy to follow as the quickstarts - it doesn't quite provide an example of the program stepping through multiple images from a folder, to provide a label for each of the provided images. I'm a massive novice when it comes to coding

[2019-12-09 17:37] 4oo opened #1088 "Managing GCP projects with Terraform is broken in version 3.0"
managing-gcp-projects-with-terraform content is broken.

https://github.com/GoogleCloudPlatform/community/blob/af5148120947b493d9a19531a763dac4b02b3e00/tutorials/managing-gcp-projects-with-terraform/project.tf#L36

I think it's related to this change that occurred in the terraform version 3 upgrade: https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#resource-google_projec

[2019-12-09 20:40] ToddKopriva commented on #1088
a little extra information from the original bug report:

Description:
terraform error. Invalid resource type "google_project_servuices"

[2019-12-09 21:13] 4oo commented on #1088
Note that the typo in the extra information ("servuices") is just in the report, and that the actual error message says:
[code]

[2019-12-21 19:18] lspgn opened #1093 "Remove Alpnames from DNSSEC page"
Hello,
I am seeing Alpnames mentioned [here](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/dnssec-cloud-dns-domains/index.md#alpnames). But the company closed earlier this year and all the domains have been transferred to Moniker.
Should it be kept?

Thank you

[2019-12-23 19:42] ToddKopriva commented on #1093
@dupuy , could you comment on this issue regarding a document that you authored?

[2019-12-26 18:15] ToddKopriva commented on #1093
Thanks for noting the issue, @lspgn . I removed the reference from the source document here in GitHub. The fix will be republished on cloud.google.com/community soon.

[2019-12-26 18:16] #1093 closed

[2019-12-27 20:00] urosv opened #1098 "Problem running - source run-gateway"
Everything went fine except when running (source run-gateway)
response from RPI

Creating JWT using RS256 from private key file rsa_private.pem
on_publish, userdata None, mid 1
Unable to find key 1
connect status False
on_disconnect 1: Out of memory.
connect status False

[2019-12-29 15:26] #1088 closed

[2019-12-30 15:50] fawix commented on #1029
@ToddKopriva I think this one was addressed with #1089

[2019-12-30 16:06] #817 closed

[2019-12-31 00:26] ToddKopriva commented on #1029
Ah, good call, @fawix.

[2019-12-31 00:26] #1029 closed

[2019-12-31 00:28] #1080 closed

[2020-01-02 06:57] tjwebb commented on #1078
I think this is a duplicate of #718.

[2020-01-02 16:53] ToddKopriva commented on #1078
Thanks, Travis.

[2020-01-02 18:48] #718 closed

[2020-01-02 18:48] #1078 closed

[2020-01-03 20:15] tswast commented on #52
Code moved to https://github.com/GoogleCloudPlatform/slack-samples/tree/master/go/command/1-happy-clouds

[2020-01-03 20:16] tswast commented on #53
Code moved to https://github.com/GoogleCloudPlatform/slack-samples/tree/master/go/command/2-oauth

[2020-01-06 04:12] dhirajpatra opened #1117 "Need to creat sub domains with docker, nginx-proxy, php-fpm"
Any body can help: Need to creat sub domains with docker, nginx-proxy, php-fpm

localhost -> main word press site
app.localhost -> main php application site
db.localhost -> phpmyadmin site

Later localhost will be replaced with domaain.com

I have created docker-compose.yml and related vhost.conf and docker files
Have any body done this with compose files and docker file kindly share.
Thanks

[2020-01-06 10:04] mhamdisemah opened #1118 "Slack Invitation link not available"
Hi ,
for the Slack Invitation link it is not available here: http://bit.ly/gcp-slack , it shows that i should have a @google.com email

![Capture du 2020-01-06 11-02-41](https://user-images.githubusercontent.com/15904286/71811147-44648780-3074-11ea-92f3-6409b7695d97.png)

[2020-01-06 16:46] tswast commented on #560
@ccjon were you able to investigate this further? This repo only covers issues with the tutorial, not the gcplogs driver itself (which is maintained as part of the docker daemon).

[2020-01-06 18:12] ToddKopriva commented on #1118
Thanks, Mhamdi. I'll look into this.

[2020-01-06 18:14] ToddKopriva commented on #1117
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-01-06 18:14] #1117 closed

[2020-01-06 22:28] ToddKopriva commented on #1098
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-01-06 22:28] #1098 closed

[2020-01-06 22:32] ToddKopriva commented on #1118
@mhamdisemah , where did you encounter this bit.ly link?

The Issues section of this GitHub repository is for reporting issues with the community tutorials in this repository. I don't see any places where documents in this repository use this bit.ly link.

[2020-01-06 22:38] ToddKopriva commented on #1118
Here is a current invitation link for the Google Cloud Slack community:
https://join.slack.com/t/googlecloud-community/shared_invite/enQtODgwMzAyMzg2NTE2LTM5OGMwYmMyMjUxMDJiMmZlNTkyMWQ2YzY3M2VlYzc2OTZkNDkwZDdiMmE2NjdhMzk4Y2ZmZDlhOTM4MmJiZjk

I'm going to close this issue now. Feel free to reopen it if it does, in fact, relate to the tutorials in this repository.

[2020-01-06 22:38] #1118 closed

[2020-01-09 20:37] tjwebb commented on #920
I was not able to reproduce this issue

[2020-01-09 20:46] #1058 closed

[2020-01-09 20:53] ToddKopriva commented on #920
Thanks, Travis.

I'm going to close this issue report for now.

Silas, if you need help, I recommend bringing your issue to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

If you are certain that there is a problem with this tutorial, and you can give mor

[2020-01-09 20:53] #920 closed

[2020-01-09 21:04] #888 closed

[2020-01-10 18:22] tswast commented on #53
Dina has some more up-to-date sample code using the Slack Events API.

[2020-01-10 18:22] tswast commented on #52
Dina has some more up-to-date sample code using the Slack Events API.

[2020-01-10 18:25] #560 closed

[2020-01-10 18:25] tswast commented on #560
Closing, as I have insufficient detail to investigate.

[2020-01-10 18:28] tswast commented on #566
This sounds like a firewall issue to me. If the code is running correctly, likely a port needs to be opened in the project firewall settings to allow external connections.

[2020-01-10 18:28] #566 closed

[2020-01-10 20:16] ToddKopriva commented on #566
Thanks, @tswast .

[2020-01-15 01:20] ChamacoKiller commented on #867
I supposed you are in windows, thats because the error comes up to you (the same happened to me), follow this solution:

https://develop.zendesk.com/hc/en-us/articles/360001068567-Installing-and-using-cURL

[2020-01-15 01:21] ChamacoKiller commented on #867
Has anyone found a solution for the sigfox bug yet? I also have the same error:

Traceback (most recent call last):
  File "sigfox-api.py", line 247, in <module>
    main(sys.argv)
  File "sigfox-api.py", line 239, in main
    cf_service, cf_auth, callbacks_config_file)
  File "sigfox-api.py", line 161, in create_callbacks
    callbacks.append(dict_to_callback(d, cf_data, cf_service, name, cf_auth

[2020-01-16 16:21] krishkar2019 opened #1126 "Issue with tutorials/cloud-iot-gateways-rpi/index.md"
under set up gateways when I follow instruction below in terminal
Generate an RS256 public/private key pair by running the following:
./generate_keys.sh
I get something like
Generating RSA private key, 2048 bit long modulus (2 primes)
......................+++++
..............................................+++++
e is 65537 (0x010001)
writing RSA key

in step 7, when I copy above as ket value - it

[2020-01-16 18:11] ToddKopriva commented on #1126
Thanks for the report. We'll have a look.

[2020-01-16 20:04] krishkar2019 commented on #1126
never mind the issue is fixed, i found out i had to manually go to the
directory and open the file in a text editor, copy the key and paste it.
If you can update the instruction -it will be better for others
*Krish Kar*
*... daring greatly ...*

On Thu, 16 Jan 2020 at 13:11, Todd Kopriva <notifications@github.com> wrote:

--
Mobica is a global software services company, delivering and enabling
tec

[2020-01-16 22:25] ToddKopriva commented on #1126
Thanks for the update on what worked for you.

[2020-01-17 08:35] etanxing opened #1127 "Unable to find image 'gcr.io/fullstackgcp/gradle:latest' locally"
[code]
Did anyone experience this as well?

[2020-01-17 18:59] ToddKopriva commented on #1127
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-01-17 18:59] #1127 closed

[2020-01-17 19:44] jonesrick opened #1128 "Issue with tutorials/network-throughput.md"
In https://cloud.google.com/community/tutorials/network-throughput there is a section called "TCP window size and RTT not optimized" which reads, in part:

Which is partially correct in the abstract but incomplete, and incorrect for the example iperf3 command-line given earlier on the page.

There are two different sets of sysctls under Linux which affect TCP window sizes.  One is the "net.core" s

[2020-01-17 19:51] jschneider11 commented on #1128
I'm forwarding this issue to the internal person who wrote up the guide. I can't find their GitHub username.

[2020-01-17 20:57] ToddKopriva commented on #1128
Thanks, @jschneider11 .

And thanks to @jonesrick for the report.

[2020-01-17 20:59] ToddKopriva commented on #1128
@dcavalheiro  , could you have a look at this report about a document that you authored:
https://cloud.google.com/community/tutorials/network-throughput

[2020-01-18 02:07] dcavalheiro commented on #1128
Yes, sure I will make the corrections
Thanks for the message

On Fri., Jan. 17, 2020, 3:59 p.m. Todd Kopriva, <notifications@github.com>
wrote:

[2020-01-21 15:03] mflash123 opened #1129 "Read specific logs from App through gcloud app logs tail"
Issue Description : gcloud app logs tail  doesnt log specific logs, created by APP

I have Laravel with stackdriver logs enabled.
Ex:
[code]
And I can read that logs through Google Web console in logs (journals)
How can I get read same logs through gcloud app logs tail ?

[2020-01-21 18:12] ToddKopriva commented on #1129
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-01-21 18:12] #1129 closed

[2020-01-21 19:16] dcstang opened #1130 "Broken Link on Tutorial: Serve Machine Learning Model on App Engine Flexible Environment"
https://cloud.google.com/community/tutorials/appengine-serve-machine-learning-model

I am referring to the above tutorial by @dizcology.
The first line asks to refer to a sample app called "Model Serve". but the link is broken.

Further down on the tutorial the main.py link is broken as well.

Am trying to follow the tutorial but it is proving a bit frustrating!

[2020-01-21 19:50] ToddKopriva commented on #1130
Thanks for the report. I'll have a look.

[2020-01-22 12:21] marcucio opened #1131 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
"Enable the Google Cloud Storage plugin" part does not work correctly. After setting permissions and enabling the plugin, when I try to upload I get the following error:

Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `GET https://www.googleapis.com/storage/v1/b/appnamexxx.appspot.com/o/1%2F2020%2F01` resulted in a `404 Not Found` response: { "error": { "code": 404, "mes

[2020-01-22 17:56] ToddKopriva commented on #1131
@bshaffer , could you have a look at this issue report about a tutorial that you wrote?

[2020-01-22 17:57] ToddKopriva commented on #1131
@marcucio , thanks for the report.

[2020-01-22 19:43] tjwebb commented on #1131
@marcucio make sure you're using the PROJECT ID, not the name of your app engine application.

[2020-01-22 19:46] tjwebb commented on #1131
@marcucio it appears to be a bug with the WP plugin. see https://wordpress.org/support/topic/fatal-error-uncaught-guzzlehttpexceptionclientexception/. Downgrading the plugin to the previous version may help.

[2020-01-27 11:30] akhilReddyPingili opened #1134 "Issue with tutorials/cloud-functions-async/index.md"
Issue Description:
Need a example for cloud function of python
in that git code is not avaiable for python written cloud function

[2020-01-30 11:17] lpzdvd-packlink commented on #351
@tmatsuo

*Unfortunately, during the build phase, the CloudSQL connection is not available.*

That's why I'm only allowed to execute a migrate command from app container *after* a deployment.

Definitely it should be in the PHP docs regarding App Engine since I've read a lot of articles and issues trying to use migrate in `gloud app deploy` commands. It was very strange because cloudsql proxy cont

[2020-01-30 15:35] Sethbass opened #1137 "Managing Symfony 5 cache in GAE with Memcache"
Hello,

I found this tutorial which is a great starting point for Symfony latest versions :
https://cloud.google.com/community/tutorials/run-symfony-on-appengine-standard?hl=fr

In the first version of the tutorial we had a starter project :
https://github.com/GoogleCloudPlatform/appengine-symfony-starter-project

This project was leveraging GAE Memcache system which I think is great to improve th

[2020-01-30 16:58] marcucio commented on #1131
Downgrading plugin to previous version didn't work for me, is this being actively worked on or should I attempt to debug the issue further?

[2020-02-01 00:22] bshaffer commented on #1131
Thank you everyone, this issue should now be fixed. If you are able to, update to `1.5.1` and try again.

@marcucio if you are still receiving that error, it may have to do with your wordpress version or theme. I updated with a fresh install and it worked. Another thing you can try is to update the `wp-content/plugins/gcs` vendor directory by doing the following:

[code]

This will install the lat

[2020-02-01 01:57] marcucio commented on #1131
Did you verify on App Engine or just locally? On app engine I get the following error. I'm going to do a fresh install install of wordpress to verify nothing is corrupted.

`
Warning: stat(): stat failed for gs://tigerishmom.appspot.com/1/2020/01 in /srv/wp-admin/includes/file.php on line 890 Warning: chmod(): Google\Cloud\Storage\StreamWrapper::stream_metadata is not implemented! in /srv/wp-admin

[2020-02-01 02:42] marcucio commented on #1131
fresh install seems to work, thanks for all your help and quick response!

[2020-02-03 16:02] ToddKopriva commented on #1131
@marcucio , I'm going to close this issue report, since it seems that the issue is resolved for you now.

Feel free to re-open the issue report if necessary.

[2020-02-03 16:02] #1131 closed

[2020-02-05 06:46] rohit-asave opened #1139 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
Issue Description

I was going through the tutorial and I found that one step was missing in the tutorial for starting the Flask Application.

Please update with these two commands.

env FLASK_APP=app.py flask run

And another one for verifying with curl:

curl -X GET http://127.0.0.1:5000/

[2020-02-05 14:10] HarshalRane23 opened #1140 "Integrate Forseti security with Google cloud security command centre."
We followed this article to integrate the forseti with cloud security command centre. In below document its mentioned in Enable Cloud SCC with Forseti plugin this section how to integrate
https://cloud.google.com/community/tutorials/private-forseti-with-scc-integration
After doing this we still can’t see the forseti findings in the cloud SCC dashboard.

[2020-02-05 16:08] ToddKopriva commented on #1140
@fawix : Fatima, could you take a look at this issue reported about a tutorial that you contributed?

[2020-02-05 16:08] ToddKopriva commented on #1140
@HarshalRane23 : Thanks for the report.

[2020-02-05 16:13] ToddKopriva commented on #1139
@rohit-asave : Thanks for the report. If you know how to fix the tutorial, you are welcome to submit a pull request with the fix, which we'll review.

@chrisst : Could you have a look at this issue regarding a tutorial that you contributed?
https://cloud.google.com/community/tutorials/getting-started-on-gcp-with-terraform

[2020-02-05 16:34] tswast commented on #220
Just ran the tutorial from scratch.

Still appears to be under "global" for me.

![image](https://user-images.githubusercontent.com/247555/73861606-e1951600-4802-11ea-89ad-db79b02179de.png)

Not seeing "gcplogs-docker-driver" under GCE VM Instance.

![image](https://user-images.githubusercontent.com/247555/73861683-fa053080-4802-11ea-8958-1680176970df.png)

I am finding a few links that need to be

[2020-02-05 16:34] #220 closed

[2020-02-05 16:54] ToddKopriva commented on #220
Thanks again, @tswast .

[2020-02-05 18:34] chrisst commented on #1139
@rohit-asave thanks for the feedback! I'll add the syntax for the curl command.

However the command to run the flask server for the current version of flask does encourage using `flask run` but older versions do not support that. Since the current command is still compatible with older and newer versions of flask I'm going to keep it in the doc.

[2020-02-05 19:06] fawix commented on #1140
@HarshalRane23 did you re-run terraform apply ?

[2020-02-05 19:10] #1139 closed

[2020-02-06 07:04] HarshalRane23 commented on #1140
Yes we ran the terraform apply two time's. But we have selected the right
service account for the Forseti connector that connects to the Cloud
security center.

On Thu, 6 Feb, 2020, 12:36 AM Fatima, <notifications@github.com> wrote:

[2020-02-06 12:12] anghelalexandra opened #1144 "Issue with tutorials/run-laravel-on-appengine-standard/index.md"
Issue Description
Setting `DB_SOCKET` in `app.yaml` doesn't work when using PostgreSQL on Cloud SQL.
Laravel uses the `DB_SOCKET` env variable only for MySQL databases (vendor/laravel/lumen-framework/config/database.php).  I used `DB_HOST` instead.

I found the answer here: https://stackoverflow.com/questions/54501305/connecting-laravel-to-gae-cloud-sql-database-with-postgresql

[2020-02-07 17:57] ninhenzo64 opened #1147 "Issue with tutorials/python-vision-quickstart.md"
Tutorial doesn't seem to match the latest version of the api

$ python quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 54, in <module>
    run_quickstart()
  File "quickstart.py", line 25, in run_quickstart
    from google.cloud import vision
ImportError: cannot import name vision

[2020-02-09 00:38] ToddKopriva commented on #1147
Thanks for the report. I'll have a look.

[2020-02-10 11:03] duttley opened #1148 "Wordcount tutorial hangs on Dataflow runner on 2.18.0"
When running the WordCount examples from the Gitter8 Scio and MVN Java project, the job hangs when the worker has been created.

"org.apache.beam" % "beam-runners-google-cloud-dataflow-java" % 2.18.0.

If I drop the version down to 2.17.0 then the job works.

This is running on the Dataflow runner.

[2020-02-10 16:52] ToddKopriva commented on #1148
Thanks for the report. I'll look into this.

[2020-02-11 05:10] abdulkadir-dev opened #1149 "Platform"
Easy to access

[2020-02-11 08:03] HarshalRane23 commented on #1140
@fawix @ToddKopriva  any solution for this issu, we are going live in production in few days any help here is much appreciated.

[2020-02-11 12:01] lgandras commented on #220
This bug exists indeed:

### Reproduction steps:
1. Create a machine with boot disk Container Optimized OS
2. Execute `docker run -d --name mysite --log-driver=gcplogs -p 80:80 nginx`
3. Execute `curl localhost`
4. Reset the VM
5. Execute `docker run -d --name mysite2 --log-driver=gcplogs -p 80:80 nginx`
6. Execute `curl localhost`

### Expected behaviour:
You get two entries under "GCE VM Instanc

[2020-02-11 13:33] #1149 closed

[2020-02-11 15:14] tswast commented on #220
@lgandras Could you file that with the Docker folks? This repo only addresses the actual tutorial text itself

[2020-02-11 19:51] Omkarpatinge opened #1150 "Tutorial request for cloud-functions-async python"
Request for cloud functions async tutorial in python and demo worker in GKE or Compute engine

[2020-02-12 10:55] lgandras commented on #220
I did, thanks: https://github.com/moby/moby/issues/40505

[2020-02-12 16:03] bshaffer commented on #1137
The `appengine-symfony-starter-project` has been removed in favor of the tutorial found [here](https://github.com/GoogleCloudPlatform/php-docs-samples/tree/master/appengine/php72/symfony-framework), which is the same code used in the community tutorial you mention.

The GAE Memcache service is not available for PHP 7.2 on App Engine. A memcache service *does* exist, and it uses [MemoryStore](https

[2020-02-12 16:52] Sethbass commented on #1137
Hi @bshaffer ,

Thanks a lot for responding, I have been through the documentation and the files you shared in Github and I think that a tutorial would be more than welcome here. Using symfony on premise we were able to set the cache folders with the appropriate read/write permissions, but on a serverless instance this is not possible and this is impacting hugely the application performances. Redi

[2020-02-12 19:23] bshaffer commented on #1137
Yes, you are right! The old tutorial uses the App Engine Mail service, which has been removed in the "2nd gen" App Engine standard runtimes (e.g. PHP 7.2) along with the Memcache service. The [migration guide](https://cloud.google.com/appengine/docs/standard/php7/php-differences#migrating_from_the_app_engine_php_sdk) outlines the services that have been removed, and the new "recommended way".

I'l

[2020-02-13 11:35] Sethbass commented on #1137
@bshaffer , I made a pull request for the email tutorial. If you can help with the cache tutorial it would be perfect ;) I also have a bit of experience with the Storage and Symfony using Vich uploader and Gaufrette, if you think this could be useful to anyone I can try to enrich the README.

[2020-02-15 05:58] lgbaeza opened #1153 "Issue with tutorials/cloud-functions-firestore/index.md"
Ran the example and the cloud functions testing console keep throwing the error "res.send is not a function"

[2020-02-16 13:45] hmiguel opened #1154 "Can't select a numeric PROJECT_ID"
Hi,

I have a project running on gcloud where the `project_id` is a numeric number and I can't set project via `gcloud init` neither `gcloud config set project`.

`> gcloud projects list`
`PROJECT_ID                NAME              PROJECT_NUMBER`
`823572                    823572            62375466762`

`> gcloud config set project 823572`
`ERROR: (gcloud.config.set) The project property must b

[2020-02-16 14:25] hmiguel commented on #1154
Opened @ https://issuetracker.google.com/issues/149632187

[2020-02-16 14:25] #1154 closed

[2020-02-16 21:32] ToddKopriva commented on #1154
Thanks for following up with the issue report.

[2020-02-18 16:44] #1144 closed

[2020-02-21 19:04] bshaffer commented on #1137
@Sethbass I reviewed your PR. It looks great, thank you!

[2020-02-22 16:51] fawix commented on #1140
@HarshalRane23 - you need to rerun terraform apply after you modify the files to add
`cscc_violations_enabled` and `cscc_source_id`  you can validate if the configuration was applied successfully with the following command

[code]

Please check step 4 on section `Configuring the CSCC integration in Forseti` to make sure you have modified the files accordingly;

If you still having trouble please p

[2020-02-23 04:59] ramononiko opened #1159 "LattePanda Delta for object recognition"
if anyone can help me on my study of doing a device for object recognition.
tensorflow will be my framework.
how to implement it. a stand alone program that will be put to LattePanda Delta

[2020-02-24 08:53] lawrghita opened #1160 "Issue with tutorials/mongodb-atlas-appengineflex-nodejs-app/index.md"
Issue Description:
Maybe put a warning about the cost, I use just free tier instances but forgot about Flex Costs:
- App Engine Flex Instance RAM: 21 hours = billed $0.15
- App Engine Flex Instance Core Hours: 21 Hours = billed $1.14

[2020-02-26 20:14] ToddKopriva commented on #1160
That's a good request. Thanks.

[2020-03-02 11:37] sanvila opened #1167 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
Syntax for credentials seems to be old. Now it says:

`credentials = "${file("CREDENTIALS_FILE.json")}"`

But Terraform v0.12.21 issues a warning like this:

Warning: Interpolation-only expressions are deprecated

The following line removes the warning:

`credentials = file("CREDENTIALS_FILE.json")`

Thanks.

[2020-03-02 17:38] ToddKopriva commented on #1167
Thanks for the report, @sanvila .

[2020-03-02 17:40] ToddKopriva commented on #1167
@chrisst  , could you have a look at this request for an update to a tutorial that you created?

[2020-03-04 21:17] jjinno opened #1170 "Broken: Basic FIM does not update failed-file checksums"
https://github.com/GoogleCloudPlatform/community/blob/712bd5d0a6850990f59648bde0d453910bb626f7/tutorials/gcp-cos-basic-fim/scan.sh#L117

Sorry no PR.  Line should be:
```    for FAILEDFILE in `cat $FAILEDFILES | cut -d ":" -f 1`; do```

(aka: `cat` instead of `echo`... otherwise looping over 1 filename)

[2020-03-05 18:14] ToddKopriva commented on #1140
@HarshalRane23 , it seems that @fawix has given you the information that you need, so I am going to close this issue.

If you still think that there is a problem with the tutorial, feel free to re-open the issue, being sure to respond to the suggesitons in the previous comment.

Also, if you are having problems beyond this tutorial, I recommend bringing questions to one of the forums described her

[2020-03-05 18:15] #1140 closed

[2020-03-06 13:09] adamjdeacon opened #1175 "Issue with tutorials/modular-load-balancing-with-terraform/index.md"
When running `terraform plan` from example-lb, I get the following errors:

[code]

[2020-03-06 16:55] ToddKopriva commented on #1175
@adamjdeacon , thanks for the report.

[2020-03-08 18:20] trandung23dk44404 opened #1179 "Issue with tutorials/setting-up-postgres.md"
Issue Description

[2020-03-09 20:40] ToddKopriva commented on #1159
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-03-09 20:40] #1159 closed

[2020-03-09 20:55] ToddKopriva commented on #1179
The issue description field is empty. Could you give details of exactly what kind of issue you encountered?

[2020-03-09 20:56] ToddKopriva commented on #1075
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-03-09 20:56] #1075 closed

[2020-03-09 23:16] chrisst commented on #1167
Good catch thanks! I'll update shortly.

[2020-03-09 23:55] #1167 closed

[2020-03-09 23:56] ToddKopriva commented on #1167
Thanks for the fix, @chrisst .

[2020-03-10 18:45] ToddKopriva commented on #1175
This pull request updates the syntax:
https://github.com/GoogleCloudPlatform/community/pull/1182

I'll republish the tutorial with these changes soon, and then we'll see if there are any more changes that need to be made to address your issue.

[2020-03-10 20:09] ianmaddox commented on #1170
Thank you for the bug report and pull request!

[2020-03-10 20:27] #1170 closed

[2020-03-14 16:35] ramononiko opened #1185 "Adding sound in ML Tensorflow: <Sound per bounding box labels>"
ML Tensorflow adding sound

Technical Level
beginner

Please help me.

Thanks!

[2020-03-15 10:53] tomnunn opened #1186 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
Is it worth extending this tutorial to include an explanation of how to exclude `index.php` from URL/s? This seems to be quite a commonly asked question from what I can see when searching around and struggling to find/understand a solution for php72 runtime configuration.

[2020-03-16 18:03] ToddKopriva commented on #1185
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-03-16 18:03] #1185 closed

[2020-03-16 18:05] ToddKopriva commented on #1186
@bshaffer , I'm tagging you so that you can see this request about a tutorial that you authored.

[2020-03-17 19:25] bshaffer commented on #1186
@tomnunn I haven't run into this issue, can you go to `Settings > Permalink` and make sure that `index.php` is not written in your custom structure? Is this happening after you've deployed to App Engine, or is it just locally?

[2020-03-17 21:28] tomnunn commented on #1186
@bshaffer No, unfortunately not. I've attached a couple of screenshots of WP Admin to show how the Permalink settings are being displayed. I've never seen the `index.php` in the example URLs before like they are showing at the moment.

https://i.imgur.com/Nd2tgBS.png
https://i.imgur.com/vkK5sHz.png

I saw there is some documentation around simulating Apache mod_rewrite routing, although it's refer

[2020-03-17 22:54] tomnunn commented on #1186
app.yaml
[code]

[2020-03-18 18:50] ToddKopriva commented on #1153
@zeroasterisk , could you take a look at this report of an issue with a tutorial that you submitted?

[2020-03-19 01:22] waynean opened #1188 "Issue with tutorials/nginx-ingress-gke/index.md"
In the section of...
Configure Ingress Resource to use NGINX Ingress Controller

We should mention...
Deploying multiple Ingress controllers, of different types (e.g., ingress-nginx & gce), and not specifying a class annotation will result in both or all controllers fighting to satisfy the Ingress, and all of them racing to update Ingress status field in confusing ways.

source:
https://kubernetes

[2020-03-19 02:50] ToddKopriva commented on #1188
Thanks for the report.

@ameer00 , could you have a look at this issue report about a tutorial that you worked on?

[2020-03-20 10:34] douglasom opened #1192 ""2 Spring WebApplicationInitializers detected on classpath" when following tutorials/deploy-grails-to-google-cloud/index.md"
When deploying my grails 4.0.1 app to google cloud I get the following error:

`2 Spring WebApplicationInitializers detected on classpath`

Although the error is disturbing, the app seems to work fine. I would very much appreciate if a fix for the tutorial or at least considerations were made. Thank you.

[2020-03-20 13:06] ToddKopriva commented on #1192
Thanks for the report, @douglasom . I'll look into it.

[2020-03-20 13:18] #1188 closed

[2020-03-21 02:28] cl0udmaker opened #1194 "Issue with tutorials/setting-up-ruby-discourse.md"
Issue Description:
ERROR: (gcloud.app.deploy) INVALID_ARGUMENT: This deployment has too many files. New versions are limited to 10000 files for this app.
- '@type': type.googleapis.com/google.rpc.BadRequest
  fieldViolations:
  - description: This deployment has too many files. New versions are limited to 10000
      files for this app.
    field: version.deployment.files[...]

[2020-03-21 02:40] ToddKopriva commented on #1194
Thanks for the report. I'll look into it.

[2020-03-21 02:43] cl0udmaker commented on #1194
It's a user readability error. Moving app.yaml to app directory (instead of root) solved the issue.

[2020-03-21 02:48] cl0udmaker commented on #1194
Although now getting gem error, so app.yaml must be in the root directory of the project then:
ERROR: (gcloud.app.deploy) Error Response: [9]
Application startup error! Code: APP_CONTAINER_CRASHED
Could not locate Gemfile or .bundle/ directory

[2020-03-21 02:55] cl0udmaker commented on #1194
Thanks!

[2020-03-21 23:40] tomnunn commented on #1186
Hi @bshaffer, did you have any ideas on the above issue?

[2020-03-26 11:42] SupportNubersia opened #1197 "Request Google Cloud Monitoring/Alerts with Twilio"
Hi,
I have the following request
- when a Google Cloud Alerts is triggered send a phone call notification with Twilio.
Greetings

[2020-03-26 12:07] rakshitbharat opened #1198 "Google Cloud Angular App Hosting 401 Error on Hosting"
I'm trying to deploy an angular app to a Google Cloud Storage bucket so that I can serve the app from there. The bucket has has public access and is named so that I can serve it as a custom website via CNAME (let's say test.example.com). The bucket is also configured to map the main page to index.html and the 404 handler to index.html. When loading https://test.example.com, most of the app loads f

[2020-03-26 14:13] ToddKopriva commented on #1197
Are you requesting a tutorial that explains how to implement this?

[2020-03-26 14:14] ToddKopriva commented on #1198
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-03-26 14:14] #1198 closed

[2020-03-26 15:08] SupportNubersia commented on #1197
could be, please?
Ty

[2020-03-26 16:10] ToddKopriva commented on #1197
I've marked this as a tutorial request. Thanks for the request.

If you're just getting started with Google Cloud, then I recommend starting here:
https://cloud.google.com/gcp/getting-started

[2020-03-26 23:29] ToddKopriva commented on #298
@ivannaranjo , If you make the fix that you suggested, I can review and merge it.

[2020-03-27 09:43] SupportNubersia commented on #1197
Thank you very much.

[2020-03-28 17:45] githubsrinath opened #1201 "Issue with tutorials/setting-up-lamp/index.md"
Issue Description
option  the OS images tab, choose a Debian 7.x, Ubuntu 14.04, CentOS 6.x, or CentOS 7.x version.

doest show shows only debian 9 which debian is choosen.  hence i am not able to install lamp full stack.

[2020-03-28 18:48] #1186 closed

[2020-03-28 21:47] mfalkvidd commented on #867
I tried to locate the problem, but the validator at https://validator.swagger.io/ says that https://support.sigfox.com/api/apidocs is valid. Can the definition be valid and still contain unescaped ' ?

[2020-03-30 15:06] summersab opened #1202 "gitHubAutoDeployer redirects to OAuth screen, then 403/302"
I set up the `gitHubAutoDeployer` function, but upon deploying and trying to trigger it, I discovered that the response to my webhook was a Google OAuth screen (in the GitHub project, go to Settings > Webhooks > Recent Deliveries). I went ahead and made the request interactive in a browser so I could provide access. After providing my credentials, I was redirected to the following:
[code]

Now, Re

[2020-03-30 16:26] ToddKopriva commented on #1201
Thanks for the report. We'll see what updates need to be made.

[2020-03-30 16:28] ToddKopriva commented on #1202
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-03-30 16:40] summersab commented on #1202
One would think that if a user followed the instructions in the repository and experienced reproducible issue, this might be an indication of a problem with the code which is worth investigating.

I'll go post on Stack Overflow, though.

[2020-03-30 16:49] ToddKopriva commented on #1202
Were you following the instructions in one of the tutorials in this repository? If so, then we certainly want to know about any issues that you had with such instructions. Which document?

[2020-03-30 17:07] summersab commented on #1202
My apologies for being a bit . . . terse in my response. I was just a bit surprised to be redirected to Stack Overflow.

Yes, I followed these instructions:
https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/cloud-functions-github-auto-deployer/index.md

I'm happy to share request/response payloads if it would help.

[2020-03-30 17:13] ToddKopriva commented on #1202
Ah, since this is about a document in this repository, I'll re-open the issue as a possible bug. Any more information that you can provide would be useful. Thanks.

[2020-03-30 17:50] summersab commented on #1202
Here are a few more details, and I'll post full request/response payloads with redactions below.
- The Secret Key I used for my GitHub webhook is 32 characters (alphanumeric, no special characters).
- Since I didn't have a `gitHubAutoDeployer` function in my GCP, I added a `--runtime` flag to the deployment command shown in the instructions:
[code]

Time for the payloads. Upon performing a `git pu

[2020-03-30 18:26] mandeville135 opened #1204 "Issue with tutorials/appengine-serve-machine-learning-model/index.md"
It looks like the links to the files 404 now when they are followed. I think the directory structure in the github has changed

[2020-03-30 18:29] ToddKopriva commented on #1204
Thanks for the report, @mandeville135 .

[2020-04-01 14:28] tomnunn opened #1205 "Issue with tutorials/run-wordpress-on-appengine-standard/index.md"
Hi there!

I've recently been looking at setting `http_headers` (https://cloud.google.com/appengine/docs/standard/php7/config/appref). I'm assuming for a WordPress instance it's recommended to set such headers within the applications code, especially when using GAE as from what I can see existing WordPress plugins set http_headers in a .htaccess file.

Would you suggest setting such http headers w

[2020-04-01 16:17] ToddKopriva commented on #1205
@bshaffer , can you help with this question?

[2020-04-03 18:47] cosmarca opened #1209 "Issue with tutorials/elixir-phoenix-on-google-compute-engine/index.md"
Problems to deploy Elixir app as this tutorial https://cloud.google.com/community/tutorials/elixir-phoenix-on-google-compute-engine#create_and_configure_a_compute_engine_instance

[2020-04-06 03:24] johnfernow opened #1210 "Issue with tutorials/deploy-mean-app-mongodb-replication.md"
The following command does not work.

![directory-doesnt-exist](https://user-images.githubusercontent.com/31441141/78518624-ffddaa80-778e-11ea-9b69-19208c3729b9.png)

I see the directory `/opt/bitnami/` does indeed exist, so not sure if we should `cd` into that and run `mkdir apps`, or if something has changed and `apps/` has been moved or renamed.

Not knowing which it was, I created an `apps/` d

[2020-04-06 16:59] ToddKopriva commented on #1210
Thanks for the report. I'll have a look.

[2020-04-06 19:10] ousamajafar opened #1211 "have this error''Installation failed: Could not create directory''"
After installing wordpress on standard ApppEngine I tried to install Plugins but I rcieved this error: ''Installation failed: Could not create directory''

[2020-04-07 22:48] CarreauClement commented on #1148
Same thing with version 2.19. The scio wordcount just hangs after the worker has been created. Works when dropping to 2.17.

[2020-04-07 22:52] ToddKopriva commented on #1148
Thanks for the confirmation, @CarreauClement .

[2020-04-07 22:55] dinagraves commented on #53
https://codelabs.developers.google.com/codelabs/cloud-slack-bot/index.html#0 - The "Extra credit" includes slash commands.  Using Cloud Run instead of GAE.

[2020-04-07 22:55] #53 closed

[2020-04-07 23:17] ToddKopriva commented on #53
That is excellent, @dinagraves . Thank you.

[2020-04-07 23:22] dinagraves commented on #52
https://codelabs.developers.google.com/codelabs/cloud-slack-bot/index.html#0 - The "Extra credit" includes slash commands. Using Cloud Run instead of GAE.

[2020-04-07 23:22] #52 closed

[2020-04-07 23:27] ToddKopriva commented on #52
Thanks, @dinagraves .

[2020-04-07 23:29] ToddKopriva commented on #1211
Is this a question about one of the documents hosted in this repository?

The Issues section of this GitHub repository is not the best place to get troubleshooting help.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-04-12 02:45] tettoffensive opened #1216 "Issue with tutorials/ghost-on-app-engine-part-1-deploying.md"
Issue Description
Ghost now involves installing ghost-cli globally. At this point I haven't figured out if that's even possible to do with App Engine.

[2020-04-12 13:08] tianke0711 opened #1217 "GCP Ubuntu18.04:OSError: [Errno 28] No space left on device"
I have deleted several files in the Ubuntu OS, and run the jupyter notebook, there is error:
OSError: [Errno 28] No space left on device

[code]

df -i
[code]

[2020-04-12 15:10] ToddKopriva commented on #1217
The Issues section of this GitHub repository is not the best place to get such troubleshooting questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-04-14 22:43] reembayoumi opened #1220 "Issue with tutorials/cloud-iot-gateways-rpi/index.md"
Issue Description
Seems I have problem running source gateway command.
source run-gateway

Creating JWT using RS256 from private key file rsa_private.pem
on_publish, userdata None, mid 1
Unable to find key 1
connect status False
on_disconnect 1: Out of memory.
connect status False

[2020-04-15 14:13] ataiya opened #1221 "Issue with tutorials/storage-quickstart.md"
Broken links to "Navigation Menu" and "Create bucket" in this page
https://cloud.google.com/community/tutorials/storage-quickstart?hl=en

[2020-04-15 14:17] ToddKopriva commented on #1221
Thanks for the report. I'll get those fixed.

[2020-04-16 01:58] matut0 opened #1222 "Issue with tutorials/using-cloud-vpn-with-strongswan/index.md"
Hi,

The configuration on the strongswan for esp & ike must be changed to:

esp=aes128-sha1-modp2048!
ike=aes128-sha1-modp2048!

from:

ike=aes256gcm16-sha512-modp4096
esp=aes256gcm16-sha512-modp8192

Otherwise the following error appears:

DH group MODP_2048 inacceptable, requesting MODP_4096

After doing the change, the vpn tunnel works as expected.

I'm using a NAT StrongSwan host on my network

[2020-04-16 03:21] ToddKopriva commented on #1222
Thanks for the note. We'll check it out.

[2020-04-21 22:18] ToddKopriva commented on #941
@lepistom , should we close this now that PR #1225 is closed?

[2020-04-21 22:20] #867 closed

[2020-04-21 22:21] ToddKopriva commented on #867
See PR #1225 for updates to the Sigfox tutorial that are meant to address this issue.

[2020-04-22 00:21] bfarayev opened #1227 "Issue with tutorials/nginx-ingress-gke/index.md"
Issue Description:

I think we need to update the documentation to work with helm 3 as it's not using tiller anymore. Happy to contribute to it

[2020-04-22 02:16] lepistom commented on #941
Yes please! PR 1225 fixes these issues. We can close this

[2020-04-22 03:18] ToddKopriva commented on #1227
Thanks for the report. If you want to submit a pull request to make the fix, we can review it and get it merged. If not, then we can put this in the queue for us to update.

[2020-04-22 03:19] #941 closed

[2020-04-24 18:08] maksimf opened #1232 "Run an Elixir Phoenix app in containers using Google Kubernetes Engine issue"
Running

[code]

Returns

[code]

Probably there is a missed step [in the article](https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/elixir-phoenix-on-kubernetes-google-container-engine/index.md#deploy-to-the-cluster).

[2020-04-24 18:16] ToddKopriva commented on #1232
@dazuma , could you have a look at this report of an issue with a document that you worked on?

[2020-04-24 19:17] maksimf commented on #1232
Should it say
[code]

[2020-04-24 19:23] maksimf commented on #1232
https://github.com/GoogleCloudPlatform/community/pull/1233

[2020-04-26 14:06] amrit3327 opened #1234 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
Provider.tf mentioned in the documentation is not working as credential file call may not be correct
Existing one
// Configure the Google Cloud provider
provider "google" {
 credentials = file("CREDENTIALS_FILE.json")
 project     = "flask-app-211918"
 region      = "us-west1"
}

New one
// Configure the Google Cloud provider
provider "google" {
 credentials = "${file("CREDENTIALS_FILE.json")}"
 p

[2020-04-26 14:17] ToddKopriva commented on #1234
Thanks for the report. We'll check it out.

[2020-04-27 19:51] ToddKopriva commented on #1130
fixed by this PR:
https://github.com/GoogleCloudPlatform/community/pull/1235

[2020-04-27 19:51] #1130 closed

[2020-04-27 19:51] ToddKopriva commented on #1204
fixed by this PR:
https://github.com/GoogleCloudPlatform/community/pull/1235

[2020-04-27 19:51] #1204 closed

[2020-04-28 19:23] coolsaigit opened #1238 "Issue with tutorials/using-cloud-vpn-with-strongswan/index.md"
Issue Description

We are trying to get IPSec vpn tunnel over the partner interconnect using Strongswan. We are able to create the tunnel however BGP is not working so the routing is failing. Not sue if we need to configure anything on the GCP side.

[2020-04-28 19:31] ToddKopriva commented on #1238
Thanks for the report.

We can look into whether there is an issue with the tutorial, but that might not be very helpful to you in immediately solving your current problem.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those foru

[2020-05-01 16:36] #1238 closed

[2020-05-01 18:19] ToddKopriva commented on #282
The memcache tutorial has been archived because it is out of date, so I'm closing this issue.

[2020-05-01 18:19] #282 closed

[2020-05-02 11:12] vigneshsvn opened #1245 "Create a new VM instance from Latest Snapshot Using Terraform"
How to create a new VM instance from latest snapshot using terraform. We can do using Console but wanna do through IaaC

[2020-05-05 00:02] #1081 closed

[2020-05-05 00:09] #1048 closed

[2020-05-05 00:16] ToddKopriva commented on #1079
fixed with this pull request:
https://github.com/GoogleCloudPlatform/community/pull/1065

[2020-05-05 00:16] #1079 closed

[2020-05-05 00:17] #1082 closed

[2020-05-05 00:18] #1126 closed

[2020-05-05 00:21] #1134 closed

[2020-05-05 00:23] #1179 closed

[2020-05-05 00:23] #1175 closed

[2020-05-05 19:49] dcavalheiro commented on #1128
Interesting, I thought the update done by Bernie had my part...
let me fix this
*PS: Cloud Support is hiring! See our team's openings in Google Careers
<https://careers.google.com/jobs/results/?company=Google&employment_type=FULL_TIME&hl=en_US&jlo=en_US&q=%22cloud%20technical%20solutions%20engineer%22&sort_by=relevance>
or Grow
<https://grow.googleplex.com/jobs/search?query=%22cloud%20technical%20

[2020-05-05 20:24] dcavalheiro commented on #1128
Changes made at:

https://github.com/GoogleCloudPlatform/community/compare/master...dcavalheiro:patch-3

[2020-05-06 17:01] ToddKopriva commented on #1128
Thanks, Daniel. If you create a pull request, I'll review it and get it merged.

[2020-05-06 18:35] Joe-at-LA opened #1253 "Issue with tutorials/compute-quickstart.md"
The tutorial currently fails at the end when bringing up the frontend in a browser as it is unable to connect. The first evidence of an issue is in the steps near the end where the command `install npm` generates an error. The issue appears to be with contextify@0.1.15 install: `node-gyp rebuild`. It seems that something in Contexify is broken.

[2020-05-06 18:54] ToddKopriva commented on #1253
Thanks for the report, @Joe-at-LA .

[2020-05-07 17:04] APratham opened #1255 "Issue with tutorials/setting-up-lamp/index.md"
There is an issue with this tutorial for setting up LAMP on Google Cloud Compute Engine. When telling how to install MySQL on Ubuntu it tells
`sudo apt-get install mysql-server php5-mysql php-pear`
The problem here is on Ubuntu 9 we installed `php` and `libapache2-mod-php` so it should be
`sudo apt-get install mysql-server php-mysql php-pear`

I was getting an error `E: Package 'php5-mysql' has no

[2020-05-07 17:08] ToddKopriva commented on #1255
Thanks for the report, @APratham .

[2020-05-07 20:08] jschneider11 opened #1256 "Issue with tutorials/using-cloud-vpn-with-cisco-asr/index.md"
This tutorial is using an example IP range of 204.237.220.0/27, which is used by Google internally.
Please update this documentation to use IPs that the IETF specifies for documentation as described in RFC5737:https://tools.ietf.org/html/rfc5737.

Please cc: harrisjoe@google.com on this issue.

Thanks.

[2020-05-07 20:17] ToddKopriva commented on #1256
@ashishverm , I'm copying you on this as a co-assignee because this is a document that you submitted:
https://cloud.google.com/community/tutorials/using-cloud-vpn-with-cisco-asr

If you aren't able to submit a fix, then I'll work with Julie on doing so.

[2020-05-07 20:21] jschneider11 commented on #1256
Hi, Todd,
Ashish doesn't own the VPN Interop guides any more. The new owner is Patrick Foster (pfos@google.com). However, for an important fix like this, I can work with you to make the changes. Patrick should be cc:d on this pull request as well as Joe Harris.

Thanks.

[2020-05-07 20:22] ToddKopriva commented on #1256
Thanks, Julie.

[2020-05-08 20:41] #1232 closed

[2020-05-09 18:00] nepolean2 opened #1258 "Examples : Compute Engine Pricing Expressions."
Best practices to use GCP cloud billing APIs(to getting all SKUs) and how to write a generic pricing expression to satisfy most of the cases.

[2020-05-11 08:06] radianceltd opened #1261 "FATA[0000] gateway-backend setup failed: gateway/gcp_pub_sub: downlink topic 'eu868-gateway-commands' does not exis t"
xxxxgooplay@xxxx:~$ sudo chirpstack-network-server
INFO[0000] starting ChirpStack Network Server            band=EU_863_870 docs="https://www.chirpstack.io/" net_id=0
00000 version=3.9.0
INFO[0000] storage: setting up storage module
INFO[0000] storage: setting up Redis client
INFO[0000] storage: connecting to PostgreSQL
INFO[0000] storage: applying PostgreSQL data migrations
INFO[0000] storage: Po

[2020-05-11 15:38] ToddKopriva commented on #1261
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-05-11 15:38] #1261 closed

[2020-05-12 00:26] demessmaker commented on #1220
Seeing same issue as well

[2020-05-12 00:36] radianceltd commented on #1261
Thank u for help

[2020-05-12 15:50] ToddKopriva commented on #1220
@hongalex , can you take a look at this report that a couple of folks are having trouble with this tutorial that you contributed?
https://cloud.google.com/community/tutorials/cloud-iot-gateways-rpi

[2020-05-12 20:23] kumzme opened #1263 "Tutorial Request - Serve videos with GCP / Nginix?"
HI I navigated from `

`
using this link
[ Submit tutorial ](https://github.com/GoogleCloudPlatform/community/issues?q=is%3Aopen+is%3Aissue+label%3A%22tutorial+request%22)

to here.

I am new to serviing videos . How do we do that . Can someone help me stream videos tousers using GCP and do we need NGINIX to serve them ? so we can load balance ? This way I can stream paid content

[2020-05-12 20:37] ToddKopriva commented on #1263
That's a good tutorial request.

It takes a while for folks to turn such requests into tutorials. If you want help sooner, I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the GCP community---including Google employees and other experts---help out on those forums.

[2020-05-12 21:04] kumzme commented on #1263
ok lemme do that now .. if there is any good info , I will submit that as tutorials

[2020-05-13 12:01] hsnhrn opened #1264 "Device Communication via pub/sub message."
Is there any way of sending the acknowledgment message to the device back? e.g. if device has published something to the cloud functions via pub/sub then it could receive an acknowledgment message back from cloud function to the device via another pub/sub message?

i am right now doing it via command topics but sometime the messages are lost in between...

[2020-05-13 23:52] syslogic opened #1265 "Issue with tutorials/building-android-apk-with-cloud-build-gradle-docker-image.md"
The account which hosts `fullstackgcp/gradle` seems to be out of credit:
[code]

[2020-05-13 23:53] Jojoooo1 opened #1266 "Issue on "managing-gcp-projects-with-terraform""
Hi,

In your tutorial [Tutorial](https://cloud.google.com/community/tutorials/managing-gcp-projects-with-terraform) you do not set at any moment iam-policy on your terraform account for creating compute resources ?

All the best.

Jonathan.

(Relying on default service account is not recommended & since roles are set during project would be better to follow the least)

[2020-05-14 14:45] chbussler opened #1267 "Issue with tutorials/using-ha-vpn-with-aws/index.md"
Issue Description

The formatting of this does not work at all:

gcloud compute external-vpn-gateways create [PEER_GW_NAME] \
--interfaces 0=[AWS_GW_IP_0],  \
             1=[AWS_GW_IP_1],  \
             2=[AWS_GW_IP_2],  \
             3=[AWS_GW_IP_3]

This works as there are no blanks:

gcloud compute external-vpn-gateways create peer-gw --interfaces \
0=52.52.128.71,1=184.169.223.3,2=13.52.115

[2020-05-14 16:41] ToddKopriva commented on #1267
Thanks for the report, @chbussler .

[2020-05-14 20:23] syslogic commented on #1265
Meanwhile I've wrote [`cloudbuild-android-builder`](https://github.com/syslogic/cloudbuild-android-builder), which provides a similar docker container. Since Android projects merely use the Gradle wrapper, it is based upon `openjdk:8` and not `gradle`. Still would need to split the docker container build from the dummy Android app; alike it is suffices as an example, but it's still a work in progr

[2020-05-15 11:26] hsnhrn commented on #1264
Hi @ToddKopriva  i thought it could also be a good tutorial.
e.g. Publishing data to Pub/Sub subfolder using Http bridge.. Thats why posted here

[2020-05-15 13:57] ToddKopriva commented on #1264
OK. I'll mark this as a tutorial request. Thanks.

[2020-05-15 22:28] hongalex commented on #1220
You probably need to edit the `project_id` in the `run-gateway` file. I'll update the tutorial to fix this.

[2020-05-20 21:26] maryLisbon opened #1271 "Google Cloud Function Authenticating Access to Google Drive to read CSV file"
Hi,
I have written a Python code that works on my local machine, now I want to use Google cloud function + google scheduler to
1: Read a CSV file from my google drive from within GC function and then do some stuff on it.
2:  Use Google scheduler to run this code twice a day.
I am stuck at where I have to authenticate google cloud function to access google drive. The original code is like below, bu

[2020-05-21 04:00] atlmikeo opened #1273 "Tutorial Request: Access Drive API from Python Cloud Functions"

[2020-05-21 14:20] romainr opened #1274 "Issue with tutorials/nginx-ingress-gke/index.md - Nginx Ingress requires an hostname now"
It seems that we must specify an hostname now in the ingress https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/nginx-ingress-gke/ingress-resource.yaml (which make the tutorial impossible to do?)

PS: not the same, but `nginx.ingress.kubernetes.io/rewrite-target: /$1` also seems to break now

[2020-05-21 15:37] ToddKopriva commented on #1274
Thanks for the report, @romainr .

@ameer00 , can you have a look at this report about a tutorial that you worked on?

[2020-05-21 17:34] romainr commented on #1274
Actually, it might be because I used the non Kubernetes community implementation of the ingress https://github.com/nginxinc/kubernetes-ingress/issues/962 (maybe we could have the 'helm repo add ...' command.

Tutorial page:
https://cloud.google.com/community/tutorials/nginx-ingress-gke

[2020-05-26 15:21] ameer00 commented on #1274
@romainr I am using the stable `nginx-ingress` from the helm charts
```helm install --name nginx-ingress stable/nginx-ingress```
The tutorial is intended to be used with this chart.
Can you try with this and let me know if you run into any issues?
thx

[2020-05-26 21:23] #1220 closed

[2020-05-27 00:51] JamesVanWaza opened #1279 "I would like to request an update - Google Click To Deploy"
https://console.cloud.google.com/marketplace/details/click-to-deploy-images/wordpress?id=00a8bad7-693b-4911-9f10-7bef620bdd13

Is it possible to request an update, for example every time I install, it says PHP version is outdated and when I try it on my end nothing works.

Which is the right place to contact?

[2020-05-27 19:24] ToddKopriva commented on #1279
The Issues section of this GitHub repository is for reporting issues with the community tutorials in this repository.

I recommend giving your feedback by clicking **Send Feedback** in the **Help** menu in the Cloud Console, as described here:
https://cloud.google.com/support/docs/community#report_bugs_and_request_features

[2020-05-27 19:24] #1279 closed

[2020-05-27 22:43] romainr commented on #1274
Sorry for the confusion, it indeed works if you use the second one

[code]

[2020-05-27 22:43] #1274 closed

[2020-05-27 22:48] ToddKopriva commented on #1274
Thanks for updating us with what worked. I'm glad that it's working for you now.

[2020-05-28 00:04] miguelc95 opened #1281 "Issue with tutorials/cloud-functions-twilio-voice-record/index.md"
Issue Description:
I did the full tutorial and I am getting this error:
INVALID_ARGUMENT: Invalid audio file: length is shorter than required header length.

At the analyzeCall cloud function, how can I get this to work?

[2020-05-28 00:29] ToddKopriva commented on #1281
Thanks for the report. I'll have a look.

[2020-06-02 16:32] MunchDev opened #1282 "Updating PHP version for Wordpress deployment on Compute Engine"
After struggling for days trying to figure out how to change the PHP version used by Wordpress, I give up and go here for help.
I cannot find any tutorial associated with this problem. Some very old articles mention about migrating to another instance, which I am kind of unfamiliar.
Both by running ```php -v``` and ```php7.3 -v``` gives PHP 7.3, however, it seems like Wordpress does not see it. I

[2020-06-02 17:04] ToddKopriva commented on #1282
We'll look into creating a new tutorial about this.

In the meantime, I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2020-06-03 10:57] ousama-alnemer opened #1284 "Terraform for GCP resources"
Hi experts,

What I need exactly to be able to create all google cloud resources via **terraform**. I have already google cloud account and many resources but I need to deploy every resources through terraform for all projects. and is there possibility to use terraform as a shared deployment tool for cloud team that responsible to deploy google cloud resources

[2020-06-04 01:48] MunchDev commented on #1282
Thanks for replying @ToddKopriva,
I managed to do it by running the followings:
[code]

[2020-06-04 05:49] ToddKopriva commented on #1282
Thanks for reporting back with what worked for you.

[2020-06-04 05:49] #1282 closed

[2020-06-04 18:26] ToddKopriva commented on #1284
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-06-04 18:26] #1284 closed

[2020-06-04 21:09] nepolean2 commented on #1258
Can we get the update on this ticket

[2020-06-06 00:06] jeesim2 opened #1287 "GCP start free trial is not working with 404 error"
GCP start free trial is not working with 404 error.

https://console.cloud.google.com/freetrial/signup/tos?_ga=2.235294468.406822456.1591343101-1678820368.1591343101&_gac=1.249104245.1591359526.CjwKCAjw2uf2BRBpEiwA31VZj4r0zntbxObJ-50LKnLDpM0detlW7CDmpJw5XsxNfY2aLvwzRFqBYBoC2sEQAvD_BwE

![5A06C8A6-E79F-4AF9-814C-A3DAA01A72B4](https://user-images.githubusercontent.com/1100831/83930915-ed0a4500-a7d4-

[2020-06-06 02:50] ToddKopriva commented on #1287
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-06-06 02:50] #1287 closed

[2020-06-08 22:30] jarzynskila commented on #1256
PR for the text: https://github.com/GoogleCloudPlatform/community/pull/1288

A second PR for the diagrams coming soon...

[2020-06-08 22:56] ToddKopriva commented on #1256
fixed by PR #1288

[2020-06-08 22:56] #1256 closed

[2020-06-10 06:13] varunrayen opened #1291 "Issue related "managing-gcp-projects-with-terraform""
I followed the tutorial and with terraform It shows the project was created. But when I try to access the project via the Google Cloud Console, I don't see the project over there.

Would appreciate any assistance.

[2020-06-11 20:34] jnewman-altair opened #1293 "Issue with tutorials/using-cloud-vpn-with-strongswan/index.md"
The page states, "Your on-premises firewall allows UDP port 500, UDP port 4500, and ESP packets." but this does not specify incoming or outgoing packets. Please clarify so that people know whether this tutorial can be used with NAT, etc.

[2020-06-11 21:01] ToddKopriva commented on #1293
Thanks for the suggestion.

[2020-06-15 13:42] ToddKopriva opened #1295 "Issue with tutorials/continuous-deployment-pipeline-google-container-engine-with-codeship/index.md"
There are several product names that need to be corrected in this document, including "Google Cloud Engine".

[2020-06-15 13:42] ToddKopriva opened #1296 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
There are several product names that need to be corrected in this document, including "Google Cloud Engine".

[2020-06-15 14:25] #1296 closed

[2020-06-15 14:46] #1295 closed

[2020-06-18 22:11] efmtummy opened #1307 "Issue with tutorials/nginx-ingress-gke/index.md"
Issue Description
The initial install of helm and tiller is insecure, when following these instructions, because you run
  helm init
instead of
  helm init --tiller-tls-verify
It is critical to do the --tiller-tls-verify on the first time running helm init, because otherwise the key files are not correctly copied into the environment.
See: https://github.com/Praqma/helmsman/issues/139

[2020-06-18 22:24] ToddKopriva commented on #1307
Thanks for the report. We'll have a look.

[2020-06-23 08:39] FredrikWendt opened #1316 "Tutorial Request: Connect Google Drive Activity API to AWS SNS"
*Description*
I'm looking to set something up in GCP that can "transfer" GDrive Activity API events over to one or several AWS SNS topics.

Background: I'm trying to bridge the IT environment of two organizations, and until the battle of the clouds has settled, I'm looking to connect automatic processing of files in GDrive, using already existing AWS Lambda functions (which can easily be triggered

[2020-06-26 22:49] anisaraf opened #1318 "Issue with tutorials/building-flask-api-with-cloud-firestore-and-deploying-to-cloud-run.md"
Issue Description: Link to github code no longer exists:

https://github.com/Timtech4u/flask-firestore

[2020-06-30 22:42] ToddKopriva commented on #1318
@anisaraf , thanks for the report. I have removed the bad link. The tutorial still seems to be valuable without a link to the source repository. Let me know if you disagree.

[2020-06-30 22:42] #1318 closed

[2020-06-30 22:49] ToddKopriva commented on #1293
@Civil , could you have a look at this question about a document that you contributed?

[2020-06-30 23:00] ToddKopriva commented on #1271
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-06-30 23:00] #1271 closed

[2020-06-30 23:03] #1267 closed

[2020-06-30 23:11] ToddKopriva commented on #1265
@Timtech4u , this report suggests that a resource that your tutorial depends on is no longer available.. Could you take a look?

[2020-06-30 23:19] #1255 closed

[2020-06-30 23:28] ToddKopriva commented on #1222
@Civil , can you have a look at this report regarding a document that you contributed?

[2020-06-30 23:29] #1217 closed

[2020-06-30 23:31] ToddKopriva commented on #1221
Those links are misleading in the web tutorial, but they are functional in the in-console version of the tutorial.

So, this is working as intended, even though I agree that the design for the web version of the tutorial should be reconsidered.

[2020-06-30 23:31] #1221 closed

[2020-06-30 23:34] #1211 closed

[2020-06-30 23:35] #1209 closed

[2020-06-30 23:36] #1205 closed

[2020-07-01 02:01] ToddKopriva commented on #55
The existing Botkit tutorials get very low numbers of page views, so I am going to close this request. If someone disagrees with this decision, feel free to reopen the request.

[2020-07-01 02:01] #55 closed

[2020-07-01 02:07] ToddKopriva commented on #63
The existing Botkit tutorials get very low numbers of page views, so I am going to close this request. If you disagree with this decision, feel free to reopen the request.

[2020-07-01 02:07] #63 closed

[2020-07-01 02:11] ToddKopriva commented on #195
It looks like there's a tutorial here to do this:
https://medium.com/@Tim_Ebbers/import-a-file-to-gcp-cloud-storage-using-cloud-functions-9cf81db353dc

[2020-07-01 02:11] #195 closed

[2020-07-01 03:38] chrisst commented on #1234
@amrit3327 what version of Terraform are you using? The syntax you are proposing in the "new one" appears to be 0.11 style syntax which is deprecated in the latest version of Terraform.

[2020-07-01 15:53] ToddKopriva commented on #56
It seems that authentication for the speech API is covered here:
https://cloud.google.com/speech-to-text/docs/libraries#setting_up_authentication

If that page is not adequate, then the best thing to do would be to improve that page.

[2020-07-01 15:53] #56 closed

[2020-07-01 16:00] ToddKopriva commented on #59
This seems to be covered here:
https://cloud.google.com/speech-to-text/docs/context-strength

[2020-07-01 16:00] #59 closed

[2020-07-01 16:15] ToddKopriva commented on #113
There seem to be a few of these:
https://www.therobinlord.com/creating-a-twitter-bot-using-google-cloud-functions/
https://www.cookieshq.co.uk/posts/how-to-build-a-serverless-twitter-bot-with-python-and-google-cloud
https://dev.to/googlecloud/beep-boop-scheduling-a-twitter-bot-with-cloud-functions-and-cloud-kms-encrypted-secrets-2f1b
https://medium.com/@irvollo/build-a-serverless-twitter-bot-with-

[2020-07-01 16:15] #113 closed

[2020-07-01 16:24] ToddKopriva commented on #119
See this qwiklab:
https://www.qwiklabs.com/focuses/2771?parent=catalog
"Deploy a Web App on GKE with HTTPS Redirect using Lets Encrypt"

[2020-07-01 16:24] #119 closed

[2020-07-01 16:40] ToddKopriva commented on #221
This tutorial seems to be what was requested:
https://cloud.google.com/community/tutorials/get-started-bitnami-django

[2020-07-01 16:40] #221 closed

[2020-07-01 16:51] ToddKopriva commented on #234
Here's a simple tutorial that meets that need:
https://thecodebarbarian.com/getting-started-with-google-cloud-functions-and-mongodb.html

[2020-07-01 16:51] #234 closed

[2020-07-01 17:15] ToddKopriva commented on #295
Here is a tutorial that includes the installation of MongoDB and Node.js and uses Compute Engine:
https://cloud.google.com/community/tutorials/compute-quickstart

[2020-07-01 17:15] #295 closed

[2020-07-01 20:20] ToddKopriva commented on #298
The tutorial that this issue is about has been archived.

[2020-07-01 20:20] #298 closed

[2020-07-01 20:25] ToddKopriva commented on #304
This tutorial shows deployment of a Parse server on App Engine:
https://cloud.google.com/community/tutorials/nodejs-parse-server-on-appengine

[2020-07-01 20:25] #304 closed

[2020-07-01 20:27] ToddKopriva commented on #316
This tutorial shows how to stream data to BigQuery with Cloud Functions:
https://cloud.google.com/solutions/streaming-data-from-cloud-storage-into-bigquery-using-cloud-functions

[2020-07-01 20:27] #316 closed

[2020-07-01 20:32] ToddKopriva commented on #318
This document is a good starting point:
https://cloud.google.com/solutions/creating-object-detection-application-tensorflow

[2020-07-01 20:32] #318 closed

[2020-07-01 20:41] ToddKopriva commented on #328
This should get you started:
https://cloud.google.com/solutions/image-search-app-with-cloud-vision

[2020-07-01 20:41] #328 closed

[2020-07-01 20:45] #345 closed

[2020-07-01 20:49] ToddKopriva commented on #355
This tutorial looks like a good start for this:
https://medium.com/@paulrohan/deploying-a-react-node-mongodb-app-to-google-cloud-platforms-google-app-engine-1ba680447d59

[2020-07-01 20:49] #355 closed

[2020-07-01 21:21] ToddKopriva commented on #391
This series is a good place to start:
https://cloud.google.com/solutions/building-and-deploying-chatbot-dialogflow

[2020-07-01 21:21] #391 closed

[2020-07-01 21:27] ToddKopriva commented on #422
These tutorials should get you started:
https://cloud.google.com/community/tutorials/iot-device-to-device
https://codelabs.developers.google.com/codelabs/cloud-iot-core-gateways/index.html?index=..%2F..index#0

[2020-07-01 21:27] #422 closed

[2020-07-01 21:29] #423 closed

[2020-07-01 21:31] ToddKopriva commented on #426
This is a good place to start:
https://firebase.google.com/docs/ios/setup

[2020-07-01 21:31] #426 closed

[2020-07-01 21:35] ToddKopriva commented on #435
I think that this should be what you need:
https://github.com/googleapis/google-cloud-php-storage

[2020-07-01 21:35] #435 closed

[2020-07-01 21:40] ToddKopriva commented on #436
Here is the core information:
https://cloud.google.com/storage/docs/gcs-fuse

Here is an article that specifically covers centOS:
https://reiners.io/mounting-google-cloud-buckets-in-centos/

[2020-07-01 21:40] #436 closed

[2020-07-01 21:43] ToddKopriva commented on #437
These articles cover Prometheus and GKE:

https://cloud.google.com/solutions/monitoring-apps-running-on-multiple-gke-clusters-using-prometheus-and-stackdriver

https://cloud.google.com/solutions/white-box-app-monitoring-for-gke-with-prometheus

[2020-07-01 21:43] #437 closed

[2020-07-01 21:50] ToddKopriva commented on #453
This tutorial gives the details of how to use an Arduino Microcontroller to provide analog sensor readings to a Raspberry Pi, connect the devices to Cloud IoT Core, post telemetry data from the devices, and analyze the data in real time:
https://cloud.google.com/community/tutorials/ardu-pi-serial-part-1

This should be enough to get you started..

[2020-07-01 21:50] #453 closed

[2020-07-01 22:04] ToddKopriva commented on #519
I think that this is what you're looking for:
https://cloud.google.com/appengine/docs/standard/java11/testing-and-deploying-your-app#other_deployment_options

[2020-07-01 22:04] #519 closed

[2020-07-01 22:07] ToddKopriva commented on #528
This is a good place to start:
https://cloud.google.com/appengine/docs/standard/nodejs/using-cloud-datastore

It includes sample code.

[2020-07-01 22:07] #528 closed

[2020-07-01 22:13] ToddKopriva commented on #570
This should get you started:
https://cloud.google.com/composer/docs/tutorials/hadoop-wordcount-job

[2020-07-01 22:13] #570 closed

[2020-07-01 22:20] ToddKopriva commented on #586
I'm closing this because there's not enough information in the request for us to act on.

Feel free to re-open this with more details about what you're looking for in a tutorial.

[2020-07-01 22:20] #586 closed

[2020-07-01 22:24] ToddKopriva commented on #530
This should get you started:
https://cloud.google.com/community/tutorials/deploy-react-nginx-cloud-run

[2020-07-01 22:24] #530 closed

[2020-07-01 22:29] ToddKopriva commented on #591
See Solomon's answer here:
https://stackoverflow.com/questions/47345794/load-google-cloud-storage-data-into-bigtable

[2020-07-01 22:29] #591 closed

[2020-07-01 22:33] ToddKopriva commented on #596
Here are some tutorials:

https://medium.com/google-cloud/node-python-and-go-microservices-in-a-single-google-app-engine-project-54aac3d60225

https://codelabs.developers.google.com/codelabs/cloud-vision-app-engine/index.html?index=..%2F..index#0

[2020-07-01 22:33] #596 closed

[2020-07-01 22:36] ToddKopriva commented on #714
This should get you going:
https://cloud.google.com/appengine/docs/standard/python/authenticating-users-firebase-appengine

[2020-07-01 22:36] #714 closed

[2020-07-01 22:42] ToddKopriva commented on #757
This should get you started:
https://cloud.google.com/appengine/docs/standard/nodejs/using-cloud-datastore

[2020-07-01 22:42] #757 closed

[2020-07-01 22:45] ToddKopriva commented on #806
https://cloud.google.com/community/tutorials/cloud-functions-twilio-voice-record

[2020-07-01 22:45] #806 closed

[2020-07-01 22:47] #854 closed

[2020-07-01 22:51] ToddKopriva commented on #860
https://docs.drush.org/en/master/install/

[2020-07-01 22:51] #860 closed

[2020-07-01 22:53] ToddKopriva commented on #875
This tutorial covers a similar situation and should be a good starting point for you:
https://cloud.google.com/community/tutorials/ardu-pi-serial-part-1

[2020-07-01 22:53] #875 closed

[2020-07-01 22:54] #876 closed

[2020-07-01 22:55] ToddKopriva commented on #905
I'm closing this request because there isn't enough detail for us to act on it. Feel free to re-open this request with more details.

[2020-07-01 22:55] #905 closed

[2020-07-01 23:01] ToddKopriva commented on #917
Here are some documents that should get you started:

https://cloud.google.com/functions/docs/concepts/jvm-langs

https://firebase.google.com/docs/functions/callable#kotlin+ktx

[2020-07-01 23:01] #917 closed

[2020-07-01 23:03] ToddKopriva commented on #921
This should get you started:
https://github.com/googleapis/google-cloud-php-dialogflow

[2020-07-01 23:03] #921 closed

[2020-07-01 23:09] #992 closed

[2020-07-01 23:14] ToddKopriva commented on #1033
Here you go:
https://cloud.google.com/sdk/gcloud/reference/alpha/firestore/databases/create

[2020-07-01 23:14] #1033 closed

[2020-07-01 23:18] ToddKopriva commented on #1062
Here are a couple of documents that should get you started:

https://cloud.google.com/billing/docs/how-to/notify#write-a-cloud-function

https://cloud.google.com/solutions/automated-email-cloud-billing-summary

[2020-07-01 23:18] #1062 closed

[2020-07-01 23:21] ToddKopriva commented on #1128
fixed by #1285

[2020-07-01 23:21] #1128 closed

[2020-07-02 07:53] Timtech4u commented on #1265
HI @ToddKopriva , I'd love to take a look. @syslogic would you like to reach out so I'll update this with your tutorial. Email is on my profile. Thanks

[2020-07-02 14:48] gianluca-sabena opened #1323 "Issue with tutorials/getting-started-on-gcp-with-terraform/index.md"
This page suggest to create a service account to use terraform, but doesn't state anything about the role which must be assigned to the sa. I suggest to add a specific documentation on the role.

[2020-07-02 20:00] ToddKopriva commented on #1234
So, @chrisst , it seems that there isn't an issue to be fixed here, unless it's the need to have an explicit mention of the Terraform version. Is that correct?

[2020-07-02 20:02] ToddKopriva commented on #1323
@chrisst , could you have a look at this request?

[2020-07-05 03:37] Rishit-dagli opened #1325 "[Documentation] Issues with the Slack link"
The GCP slack badge in the documentation, [![Slack][slack_badge]][slack_link] is a link to https://gcp-slack.appspot.com/ . However, this seems to be an invalid URL. I have also added a screenshot of the same.

![gcp_slack_error](https://user-images.githubusercontent.com/39672672/86524993-de2fb480-be9e-11ea-9af4-020d35a65dba.JPG)

[slack_badge]: https://img.shields.io/badge/slack-gcp-E01563.svg?st

[2020-07-05 04:22] ToddKopriva commented on #1325
@Rishit-dagli , where exactly did you find this link?

Was it the link at the bottom of this page?
https://cloud.google.com/community/tutorials/appengine-yarn

[2020-07-05 04:51] Rishit-dagli commented on #1325
@ToddKopriva The link was in this repo's README file in the heading section, I have added a screenshot for better clarity.

![slack_gcp_position](https://user-images.githubusercontent.com/39672672/86525791-41bedf80-bea9-11ea-829a-3f761479813c.JPG)

[2020-07-05 11:10] syslogic commented on #1265
@Timtech4u I'd guess the mere problem was, that you've hosted the built container for everybody.
My version does not provide any image, but only the project which builds it (no traffic = no costs).
Since GitHub nicely integrates with Cloud Build, anybody can use that as source repository...

[2020-07-05 16:03] Solobearus opened #1326 "connect to mongo with proper whitelist."
I just finished your tutorial about connecting the GCP app engine to Mongo atlas.
The problem is that for the sake of simplicity you chose to whitelist all addresses. but what if I don't want to allow everyone to try and connect to my database. how can I connect the two without whitelisting all addresses?

[2020-07-05 16:16] ToddKopriva commented on #1325
Got it. Thanks again.

[2020-07-05 16:39] ToddKopriva commented on #1325
I removed the badge from that page and added a link to various discussion resources:
https://github.com/GoogleCloudPlatform/community/pull/1327

That new link goes to a bunch of resources, including a link to the Slack channel that is automatically kept up to date.

[2020-07-05 16:39] #1325 closed

[2020-07-06 07:57] Sarthak77tiwari opened #1328 "Unable to connect to server: timeout expired"
I am getting an error when I use to connect my pgAdmin with the google cloud VM instance

[2020-07-06 13:24] ToddKopriva commented on #1328
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-07-06 13:24] #1328 closed

[2020-07-06 18:28] chrisst commented on #1234
@ToddKopriva I think that will be enough to address this bug. I added https://github.com/GoogleCloudPlatform/community/pull/1333 if you want to take a look.

[2020-07-06 18:49] ToddKopriva commented on #1234
Thanks for that. I just merged the pull request that adds the explicit statement about the version number for Terraform.

[2020-07-06 18:49] #1234 closed

[2020-07-07 00:50] amrit3327 commented on #1234
Cool. I may be using 0.11 which i am not sure right now. But thanks for looking into it will help others.
    On Monday, July 6, 2020, 02:49:33 PM EDT, Todd Kopriva <notifications@github.com> wrote:

Thanks for that. I just merged the pull request that adds the explicit statement about the version number for Terraform.

—
You are receiving this because you were mentioned.
Reply to this email direc

[2020-07-07 17:00] A-Sm1th opened #1339 "Issue with tutorials/building-flask-api-with-cloud-firestore-and-deploying-to-cloud-run.md"
I followed all the instructions of the tutorial in Cloud Shell came to that error in log:

[code]

[2020-07-07 17:04] A-Sm1th commented on #1339
Found the error myself a few lines higher. Nevermind:
[code]

[2020-07-07 17:04] ToddKopriva commented on #1339
Thanks for letting us know.

[2020-07-07 18:15] singhbro opened #1340 "Cronjob getting automatically added after disabling"
Hello Team,

I have created VM/Instance (Ubuntu Server)on Google cloud through importing OVA. After few days started facing issue , root login was getting disable by google daemon. Thereafter I stopped daemon service as I am not able to login through root user on ubuntu server.

After all this its again happened, then I checked, found that some cronjob running. I had disabled that cronjob by comme

[2020-07-07 18:36] ToddKopriva commented on #1340
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-07-07 18:36] #1340 closed

[2020-07-07 18:48] A-Sm1th commented on #1339
There is still an error with the same setup as previously mentioned:
[code]

The only reason I can imagine is that I am working on a Google Cloud Sandbox of Linux Academy.
Could that be a valid reason?

[2020-07-09 08:48] keirti opened #1342 "Download data from Google cloud "IOT Core" Pub sub"
Hi,

I am beginer to use google cloud platform.I have created a 'topic' and subscribed to topic,creatd registry,published data (using C langauge) to the 'Topic'. In cloud shell I can only view the the data by entering a command

gcloud pubsub subscriptions pull  100 --auto-ack subscription name of topic

to be able to download the data,I understand it needs to be stored somewehere,Can anybody shar

[2020-07-09 16:28] ToddKopriva commented on #1342
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-07-09 16:28] #1342 closed

[2020-07-11 15:41] akspow opened #1345 "Issue with tutorials/dlp-to-datacatalog-tags/"
0 tables are inspected even though I have configured the correct project-id, dataset, and table. I am using Bigquery as database type.

[2020-07-11 20:52] ToddKopriva commented on #1345
@mesmacosta , could you have a look at this issue reported about a tutorial that you submitted?

[2020-07-12 17:44] mesmacosta commented on #1345
@askpow could you provide more information about your execution?

- The command line args
- The execution log
- The roles assigned to the service account you executed.

Please anonymize your project, and dataset info.

[2020-07-12 17:46] mesmacosta commented on #1345
Also, if you could turn the debug flag on, for additional logging to help us troubleshoot it:

https://github.com/GoogleCloudPlatform/community/blob/master/tutorials/dlp-to-datacatalog-tags/src/main/java/com/example/dlp/DlpDataCatalogTagsTutorial.java#L74

[2020-07-12 21:13] barabenka opened #1346 "Issue with tutorials/nginx-ingress-gke/index.md"
The step where I expose hello-app does not work:
username@cloudshell:~ (lateral-boulder-282521)$ kubectl run hello-app --image=gcr.io/google-samples/hello-app:1.0 --port=8080
pod/hello-app created
username@cloudshell:~ (lateral-boulder-282521)$ kubectl expose deployment hello-app

[2020-07-13 23:16] egoshard opened #1347 "Load testing IoT with Locust tutorial uses the default OrderedReady pod management"
The "_Load-testing an IoT application using GCP and Locust_" tutorial uses a Kubernetes cluster to provide compute for Locust workers that run simulated users. It uses a StatefulSet to provide each worker with an ordinal number to identify itself to the Locust master. The default pod management for StatefulSet is _OrderedReady_ which deploys pods sequentially from 0 up through N-1 with each pod re

[2020-07-13 23:25] ToddKopriva commented on #1347
@egoshard , thanks for the suggestion. That makes sense.

@csgcp , could you have a look at this suggestion regarding a tutorial that you contributed?

[2020-07-13 23:26] ToddKopriva commented on #1347
@egoshard , if you want to submit a pull request to implement this change, feel free to do so, and I'll review it.

[2020-07-14 08:52] azrulsalki opened #1349 "Connecting google cloud MySQL using PHP (Local)"
Hi,
How do i connect a PHP program to send data to the google cloud MySQL. I was able to ping my database using command prompt but when I tried to send data using my PHP, there are no error in the syntax, unfortunately the data was not inserted into my database. Here I attached some picture:

Here is the image of me pinging to the database.
![Untitled](https://user-images.githubusercontent.com/611

[2020-07-14 08:54] azrulsalki commented on #1349
I have checked for all possibility of syntax error, but i managed to send data to a localhost DB but cannot send it to the cloud.

[2020-07-14 16:50] ToddKopriva commented on #1349
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-07-14 16:50] #1349 closed

[2020-07-14 22:13] ToddKopriva commented on #1347
fixed by #1348

[2020-07-14 22:13] #1347 closed

[2020-07-14 23:14] ToddKopriva commented on #988
@Timtech4u , are you still interested in writing a tutorial along these lines?

[2020-07-15 01:47] egoshard opened #1351 "IoT Load Test - Kubernetes cluster compute is under-utilized."
### Issue

The "Load-testing an IoT application using GCP and Locust" tutorial uses a Kubernetes cluster to provide compute for Locust workers that run simulated users. The deployment for the worker StatefulSet uses a pod anti-afinity to ensure that only one worker pod can be scheduled to any compute node and no workers can be co-located with the Locust master. This one pod to one node relationshi

[2020-07-15 12:25] akspow commented on #1345
Hi @mesmacosta,
Sorry for the late reply.
So surprisingly, when I cleaned and recompiled the java package that error went away.
But I am experiencing a new error here.
Tried to trace out the cause but couldn't find out.
I have turned the debug flag on.
Here is the error log.
-----------------------------------------

Inspect SQL via JDBC V0.1
jdbc:bigquery://https://www.googleapis.com/bigquery/v2:

[2020-07-15 13:48] Rmolimock opened #1352 "Configer Network Access from App Engine for Mlab MongoDB Cluster"
The existing tutorial for setting up a MongoDB Atlas (Mlab) cluster to work with GCP glosses over configuring network asses:

I'm wondering, how do we find the ip address/range of ip addresses that our App Engine instance will access the database from? The only info I've found on this comes from stackoverflow in this post:
https://stackoverflow.com/questions/11149470/google-app-engine-list-of-ip-a

[2020-07-15 13:52] ToddKopriva commented on #1326
I'm closing this issue because we're tracking this matter here:
https://github.com/GoogleCloudPlatform/community/issues/1352

[2020-07-15 13:52] #1326 closed

[2020-07-15 13:53] ToddKopriva commented on #1352
The same question was asked here:
https://github.com/GoogleCloudPlatform/community/issues/1326

I'll look into how to best update this document to answer your question.

Thanks for pointing out the problem.

[2020-07-15 13:57] ToddKopriva commented on #1352
@smithkent , could you take a look at this issue with a tutorial that you submitted?

[2020-07-15 18:24] mesmacosta commented on #1345
Hi @akspow
- Can you also provide the command line args?
- How many threads did you use?
- Could you try running with just one thread? So I can narrow down the issue.

Please anonymize your project, and dataset info.

[2020-07-15 18:54] akspow commented on #1345
Hi @mesmacosta
Command line args i used:

-dbType "bigquery" \\
-limitMax 500\\
-dbName dbname\\
-projectId project-id\\
-threadPoolSize 5 \\
-inspectTemplate "path to template"\\
-minThreshold 100

I was initially using 5 threads
Tried with 1 thread. still having the same issue.

Thanks :)

[2020-07-15 19:06] mesmacosta commented on #1345
- inspectTemplate

What infoTypes did you set up?

[2020-07-15 19:16] mesmacosta commented on #1345
Could you try running with the sample data from this tutorial:
https://github.com/mesmacosta/dlp-to-datacatalog-tags-tutorial/blob/master/TUTORIAL.md

And let me know if it works for you?

Trying to narrow down if it could be something with:
- The service account roles you are using.
- The Inspect template info types.
- The data from the Big Query tables being inspected.

Understanding this issue,

[2020-07-15 21:14] akspow commented on #1345
Okay, so the tutorial works perfectly.
In my case, I was using ["EMAIL_ADDRESS","PHONE_NUMBER","US_SOCIAL_SECURITY_NUMBER"] as infotypes.
Tried the tutorial template with my dataset too. Still having the same issue.
Most probably it has something to do with my Bigquery table data.

[2020-07-15 21:35] mesmacosta commented on #1345
Hi @akspow,

- Is there anything different about your BigQuery table data?
- Are you using STRUCT (or RECORD ) types?
- By any chance could you provide some sample fake/anonymized data that I could simulate your issue?

Thanks

[2020-07-16 06:45] akspow commented on #1345
Hi,
I'm not using any STRUCT/RECORD type fields.
I'm using a fake employee dataset too.
I'm sharing with you the CSV files zipped.
[employee_sample.zip](https://github.com/GoogleCloudPlatform/community/files/4929752/employee_sample.zip)

data.

[2020-07-16 14:59] mesmacosta commented on #1345
Thanks, I will try to reproduce it and troubleshoot the issue.

[2020-07-16 16:01] akspow commented on #1345
Thanks @mesmacosta for your time :)

[2020-07-16 17:22] Annie29 opened #1354 "Process to rewrite tutorials"
Is there a process for rewriting an existing community tutorial?  In particular, the tutorial at https://cloud.google.com/community/tutorials/data-science-preprocessing is written to use the command line interface to BQ.

Would it be acceptable to rewrite this for the console interface?  (Obviously this is far more than a patch, because both versions of the tutorial should continue to exist.)

[2020-07-16 17:43] ToddKopriva commented on #1354
Depending on how much of the material would change, I think that it could make sense to have one document that has both options. If the introduction, definition of the pipeline, and cleanup steps are all the same, but running the pipeline is different, then you could just have separate sections for the CLI versus the console for that part.

Thoughts?

[2020-07-16 17:47] toto1384 opened #1355 "Issue with tutorials/compute-short-quickstart.md"
Not working

[2020-07-16 17:51] Annie29 commented on #1354
Let me look in more detail.  I'm thinking they're probably too different: for example, the CLI version has setting up the Cloud SDK as a prerequisite, which isn't necessary for the Console.  (Now, a patch to the CLI version to have it run on the Cloud Shell might make sense.)

I'm looking at some options for a meeting tomorrow and will look into this further after that.

[2020-07-16 18:16] mesmacosta commented on #1345
Hi @akspow

Just ran successfully with your data, using 5 threads:

[code]
Tags created:
![employee_test](https://user-images.githubusercontent.com/3176836/87707246-31dfaf00-c777-11ea-800f-a1270469736f.png)
![employee_sample](https://user-images.githubusercontent.com/3176836/87707254-34da9f80-c777-11ea-85ae-5de4ed9da167.png)

Could you try running on Cloud Shell? To see if it's related to the envi

[2020-07-17 06:08] akspow commented on #1345
I am actually running on Cloud shell

[2020-07-17 16:50] onavsaber opened #1360 "Issue with tutorials/get-started-bitnami-django.md"
I have launched a "Django Certified by Bitnami" instance and was following the mentioned tutorial. But Step 3 on this tutorial fails with:
-bash: cd: /opt/bitnami/apps/django/django_projects: No such file or directory

[2020-07-17 16:53] ToddKopriva commented on #1360
Thanks for the report. We'll take a look.

[2020-07-17 16:55] ToddKopriva commented on #1360
@vikram-bitnami , could you take a look at this issue regarding a tutorial that you contributed?
https://cloud.google.com/community/tutorials/get-started-bitnami-django

[2020-07-17 17:18] mesmacosta commented on #1345
I see.

I'm unable to reproduce the error using the test data. Can you provide a reproducible scenario?

[2020-07-18 13:45] rbreuss opened #1361 "Issue with tutorials/sigfox-gw/index.md"
I followed step by step you sigfox-gw tutorial till point : Creating Sigfox backend callbacks
I have individualy created callback in my Sigfox backend for this device.
- When I run python3 sigfox-api.py --callbacks list, it shows me correctly 1 existing callback.
- When I run python3 sigfox-api.py --callbacks delete-all, it correctly delete that my individual callback
It seems to me, that authenti

[2020-07-18 21:09] nepolean2 commented on #1258
@ToddKopriva Could you please update the status on the issue... Thanks for your time.

[2020-07-18 21:12] ToddKopriva commented on #1361
@lepistom , would you take a look at this report about a tutorial that you submitted?

https://cloud.google.com/community/tutorials/sigfox-gw

[2020-07-18 21:14] ToddKopriva commented on #1355
@toto1384 , can you give more information about this issue report?

[2020-07-18 21:19] ToddKopriva commented on #1258
You submitted a tutorial request. There is no guaranteed timing on when or whether someone will choose to pick up this request and write a document about this subject.

If you have a time-sensitive need for information, then I recommend that you bring your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---inc

[2020-07-20 13:23] vikram-bitnami commented on #1360
I'll have a look in the next few days

[2020-07-20 13:55] ToddKopriva commented on #1360
Thanks, @vikram-bitnami .

[2020-07-21 15:05] #1360 closed

[2020-07-22 08:01] akspow commented on #1345
Hi @mesmacosta
Ok, so what I've learned is that it throws an error for certain data.
I've tried with 5 different data files
3 of them worked
2 throws the error(100_c and sample-data)
Could you tell me why this happens when data varies?
[dataset.zip](https://github.com/GoogleCloudPlatform/community/files/4958654/dataset.zip)

[2020-07-22 14:34] mesmacosta commented on #1345
Hi @akspow

The issue was unrelated with the data, but with the following corner case:

-> When a Table had DLP findings and all findings were below the minimum threshold set at runtime.

I sent this PR with the fix: https://github.com/GoogleCloudPlatform/community/pull/1366

If you want to test without the fix, just decrease the `-minThreshold` to 1

[2020-07-22 14:57] akspow commented on #1345
Thank you @mesmacosta for your time!

[2020-07-22 14:58] #1345 closed

[2020-07-23 12:35] ausias-armesto opened #1367 "The peer gateway notifies: Proposal mismatch in IKE SA (phase 1) , Please look at peer logs"
I have followed the instruction defined at https://cloud.google.com/community/tutorials/using-cloud-vpn-with-strongswan, but I think that may be there is something misssing because when I try to connect to Google Cloud VPN using Strongswan from a fresh new Debian 9.13 machine I get the following error in Google Cloud:
The peer gateway notifies: Proposal mismatch in IKE SA (phase 1) , Please look a

[2020-07-23 16:06] ToddKopriva commented on #1367
@Civil , can you have a look at this question about a document that you contributed?

[2020-07-23 20:26] Civil commented on #1367
Well, unless there were changes on Cloud VPN side in GCP, if you follow the doc as written - it should just work.

However to troubleshoot such issues you need to have access to logs on both Cloud VPN side and on a strongswan side. Usually there is a clue there. Sometimes it might help to enable debug logs on strongswan side (but be careful, on some levels it will also log PSK you are using).

Btw

[2020-07-24 10:25] ausias-armesto commented on #1367
Thanks @Civil , I've seen both logs and I cann't see any clue, even increasing the log level to some modules like enc, ike,net .
On Strongswan I have set the ciphers specified on this page, but I have also tried the ones proposed here: https://hub.docker.com/r/deltaprojects/strongswan/ but with no luck.
I will create a support ticket to see if they can help me more.

 I'll write back here if I fin

[2020-07-26 01:08] toma503 opened #1370 "www.Mobily.com"
شركه الاتصالات السعودية موبايلي

[2020-07-26 02:21] #1370 closed

[2020-07-26 03:32] toma503 opened #1371 "شركه الاتصال السعودية موبايلي"
Mobily.sa

[2020-07-26 03:33] toma503 opened #1372 "هيئة الاتصالات وتقنية المعلومات"

[2020-07-26 03:34] toma503 commented on #1372
شركه موبايلي

[2020-07-26 03:46] #1372 closed

[2020-07-26 03:46] #1371 closed

[2020-07-26 08:07] MarcusSorealheis opened #1373 "MongoDB Atlas Search w/ GCP"
Is there a GCP community tutorial for MongoDB Atlas Search?

[2020-07-26 15:37] akspow opened #1374 "Issue with tutorials/dlp-to-datacatalog-tags/"
Specific table scan doesn't seem to work even if I mention Bigquery tableName, I am getting the entire dataset scanned. Could you kindly have a look at this @mesmacosta ?

[2020-07-26 16:26] ToddKopriva commented on #1373
This tutorial seems like a good place to start:
https://docs.atlas.mongodb.com/reference/atlas-search/tutorial/

[2020-07-27 17:12] mesmacosta commented on #1374
Hi @akspow

There is an issue when using together the filters `tableName` and `dbName`, the `dbName` overrides the other filter.

Will send a PR to fix this.

[2020-07-27 17:22] ToddKopriva commented on #1374
Thanks for the fix. I'll go and revie the PR with the fix now.

[2020-07-27 17:22] #1374 closed

[2020-07-28 07:16] Rmolimock commented on #1352
@ToddKopriva @smithkent @ideafest @solobearus any update on how to only allow access to mongodb from app engine IPs? Or which IP addresses app engine might use?

[2020-07-30 13:49] ideafest commented on #1352
Hi,

I will respond to this before the end of this week.

Regards,

On Tue, Jul 28, 2020 at 3:16 AM Russell Molimock <notifications@github.com>
wrote:

--

Regards,
Abhijeet Rajwade

[2020-07-30 14:34] ideafest commented on #1326
A solution to this is by routing traffic of our Appengine through a VPC connector, Atlas supports the peering of GCP VPC with theirs, therefore only allowing traffic from within your VPC to access the database.

I am giving more details on below:

- VPC Peering Overview
   https://cloud.google.com/vpc/docs/vpc-peering
- How to use app engine on shared VPC:
   https://cloud.google.com/appengine/doc

[2020-07-30 14:36] ideafest commented on #1352
A solution to this is by routing traffic of our Appengine through a VPC connector, Atlas supports the peering of GCP VPC with theirs, therefore only allowing traffic from within your VPC to access the database.

I am giving more details on below:

- VPC Peering Overview
  https://cloud.google.com/vpc/docs/vpc-peering
- How to use app engine on shared VPC:
   https://cloud.google.com/appengine/docs

[2020-07-30 23:47] medb commented on #929
You can use [Google Cloud Dataproc](https://cloud.google.com/dataproc) with [Oozie initialization action](https://github.com/GoogleCloudDataproc/initialization-actions/tree/master/oozie) to achieve this.

[2020-07-30 23:53] ToddKopriva commented on #929
Thanks for that, @medb .

[2020-07-31 03:17] #929 closed

[2020-07-31 04:00] ruslaniv opened #1380 "Tutorial Request: Deploying Flask / Dash on Compute Engine VM"
Description
I'm looking for a tutorial on how to deploy Flask apps and plotly Dash dashboard app specifically on Google Compute Engine VM instance. There is a few tutorials on how to deploy such apps on Google App Engine (PaaS) but nothing for Google Compute Engine (IaaS).

What I have attempted so far:
Installed all the dependencies and tried to boot the app with:
`gunicorn -b :8080 basic:server`

[2020-08-01 05:48] nepolean2 commented on #1258
@ToddKopriva Thanks for your reply

[2020-08-01 18:22] ToddKopriva commented on #1352
@smithkent and @ideafest , should the existing tutorial be updated with this infomation? We've gotten this question a few times.

[2020-08-02 06:56] kerimt-dek opened #1382 "End user interface"
All these tutorials stop short of providing the last step, which is visualising historical data to the user. Either with phone app or web page

[2020-08-02 17:57] ToddKopriva commented on #1382
That's good feedback. We'll keep that in mind when reviewing and updating tutorials.

[2020-08-02 17:58] #1382 closed

[2020-08-03 14:22] dmasb commented on #1361
I am having the same issue.

[2020-08-03 16:23] dmasb commented on #1361
I am having the same issue as @rbreuss

[2020-08-06 09:52] priyankak1212 opened #1387 "Issue with tutorials/managing-gcp-projects-with-terraform/index.md"
Hi,
I need to create new GCP project using organisation id.For that which json key need to be used??? Is that first we have to create service account for new project?

[2020-08-06 09:55] priyankak1212 opened #1388 "Issue with tutorials/managing-gcp-projects-with-terraform/index.md"
Hi,
I need to create new GCP project using organisation id by terraform script. For that which json key need to be used??? Is that first we have to create service account for new project?

[2020-08-06 10:10] priyankak1212 opened #1389 "Tutorial request: Create new GCP project using organisation id by terraform script."
Hi,
Looking for for new tutorial on create new GCP project using organisation id by terraform script.

[2020-08-06 15:06] ToddKopriva commented on #1387
closing as a duplicate of this issue report:
https://github.com/GoogleCloudPlatform/community/issues/1388

[2020-08-06 15:06] #1387 closed

[2020-08-06 15:12] ToddKopriva commented on #1388
The Issues section of this GitHub repository is not the best place to get questions answered quickly.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

I'll leave this issue open and see if there is some way t

[2020-08-07 02:24] Adrian-in-Aus opened #1390 "corporate CLA - not sure where we're stuck"
@ToddKopriva :: Hi Todd,  any clues on who's is waiting for what on the corporate CLA behind: https://github.com/GoogleCloudPlatform/community/pull/1383

I completed the corp-CLA earlier in the week,   if I try and fill it all in again I get the "already exists" error.
I did have the issue where my primary GH email was not pointing to the correct work email (it was a secondary),  since rectified.

[2020-08-07 14:57] ToddKopriva commented on #1390
I'll see what I can find out.

[2020-08-07 20:08] ghost opened #1392 "Issue with tutorials/mongodb-atlas-appengineflex-nodejs-app/index.md"
**Issue Description**

Since there are many new developers reading [this article](https://cloud.google.com/community/tutorials/mongodb-atlas-appengineflex-nodejs-app) - it might be misguiding and resulting to their credentials being hard-coded on the server and potentially GitHub.

The database is completely naked with only the URI string protecting it and this line in the example:
`let uri = PAST

[2020-08-07 20:19] ToddKopriva commented on #1392
Thanks for the feedback.

@ideafest , what do you think?

[2020-08-12 08:59] Adrian-in-Aus commented on #1390
@ToddKopriva - any joy identifying where the corpCLA has fallen?

[2020-08-12 13:51] ToddKopriva commented on #1390
Not yet. I'll get back to you later today.

[2020-08-13 16:46] ToddKopriva commented on #1390
I think that you should be in good shape for your next PR. I've merged your most recent PR.

[2020-08-13 16:46] #1390 closed

[2020-08-18 01:48] laiunce opened #1399 "Issue with tutorials/iot-device-to-device Authentication"
Hi! im following the tutorial but im getting this error in the Cloud Function

`Error: Could not load the default credentials. Browse to https://cloud.google.com/docs/authentication/getting-started for more information. at GoogleAuth.getApplicationDefaultAsync (/srv/node_modules/google-auth-library/build/src/auth/googleauth.js:155:19) at <anonymous> at process._tickDomainCallback (internal/process

[2020-08-19 23:18] ToddKopriva commented on #1399
Thanks for the report. We can look into this and see if there's a problem with the tutorial.

In the meantime, for faster help for you, I recommend bringing your issue to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2020-08-25 03:29] phileba opened #1402 "Can not access to GCP VM Instance via external IP although apache2 started"
I've created a test VM instance on GCP:

install apache2 and the service started success:
![image](https://user-images.githubusercontent.com/44990652/91119461-6bcc9b00-e6bd-11ea-941a-afb24fc32452.png)

the firewall setup as default:
![image](https://user-images.githubusercontent.com/44990652/91119581-b9490800-e6bd-11ea-977d-c6f6671db7fe.png)

the apache ports config:
![image](https://user-images.g

[2020-08-25 08:58] ramesh-2001-2100 opened #1403 "Issue with tutorials/how-to-roll-your-app-engine-managed-vms-app-back-to-a-previous-version-part-1.md"
Hello the instructions to construct package.json are inadequate. Specifically, apart from the name property, there should be this additional line in package.json, else it throws an error.

 ,"scripts": {
        "start": "node .",
        "test": "echo \"Error: no test specified\" && exit 1"
    }

Please update the tutorial accordingly.

[2020-08-25 12:50] Parrinque opened #1404 "deploying a node.js app with mongo as nosql db"
Hi Team,

Are there any set of best practices for this? Please recommend.

[2020-08-25 15:15] ToddKopriva commented on #1402
We can look at the tutorial that you linked to and see whether we need to make any updates there.

In the meantime, the Issues section of this GitHub repository is not the best place for troubleshooting help.

For more timely help, I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---in

[2020-08-25 15:17] ToddKopriva commented on #1403
Thanks for the report. If you know what change needs to be made, you are welcome to create a pull request to make the fix, and we'll review and merge it.

[2020-08-25 15:19] ToddKopriva commented on #1404
The Issues section of this GitHub repository is not the best place to get such questions answered. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums

[2020-08-25 15:19] #1404 closed

[2020-08-26 18:57] 0xblaze opened #1406 "Issue with tutorials/deploy-react-nginx-cloud-run/index.md"
Issue Description`
Step 5/13 : RUN yarn build
 ---> Running in 281ff03d2d95
yarn run v1.21.1
error Couldn't find a package.json file in "/app"
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
The command '/bin/sh -c yarn build' returned a non-zero code: 1`

[2020-08-26 19:00] ToddKopriva commented on #1406
Thanks for the report. I'll check it out.

[2020-08-28 05:43] ramesh-2001-2100 commented on #1403
Hi Todd, thank you for your response. I have tried it out fully, now I know
what changes are to be made to the documentation (tutorial itself) in a few
places. Is it something I can change myself or can I just provide you the
list of changes to make?

Thanks

Ramesh.

On Tue, 25 Aug 2020 at 20:48, Todd Kopriva <notifications@github.com> wrote:

[2020-08-28 09:02] summer2020-cmd commented on #1361
I am having the same issue as @rbreuss

[2020-08-28 09:46] ferrarimarco commented on #1361
Hi all! We're looking into this to automate some checks. Stay tuned!

[2020-08-28 14:09] ToddKopriva commented on #1403
It would be great if you made the changes yourself in a pull request, and then I can review them.

[2020-08-28 17:11] muhfaisal90 opened #1408 "Issue with tutorials/run-laravel-on-appengine-flexible/index.md"
I am trying to deploy laravel 7 app and having following error when running "gcloud app deploy"

Step #1:
Step #1: In Connection.php line 671:
Step #1:
Step #1:   SQLSTATE[HY000] [2002] No such file or directory (SQL: select * from inform
Step #1:   ation_schema.tables where table_schema = cpapis_db and table_name = setting
Step #1:   s and table_type = 'BASE TABLE')
Step #1:
Step #1:
Step #1: In

[2020-08-28 17:17] ToddKopriva commented on #1408
We can look at the tutorial that you referred to and see whether we need to make any updates there.

In the meantime, the Issues section of this GitHub repository is not the best place for troubleshooting help.

For more timely help, I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---

[2020-08-29 16:25] ramesh-2001-2100 commented on #1403
Hi Todd,

 I've made changes and created a pull request for your review.

Thanks

Ramesh.

On Fri, 28 Aug 2020 at 19:39, Todd Kopriva <notifications@github.com> wrote:

[2020-08-30 00:49] ToddKopriva commented on #1403
Thanks. I'll check it out.

[2020-08-31 14:56] #1403 closed

[2020-09-03 02:52] Salmen33 opened #1413 "Issue with tutorials/run-laravel-on-appengine-standard/index.md"
PHP message: PHP Fatal error: Uncaught Error: Class 'Google\Cloud\ErrorReporting\Bootstrap' not found in /workspace/app/Exceptions/Handler.php:42 Stack trace: #0

idk why but for some reason function report cannot get the bootstrap class

[2020-09-03 02:56] ToddKopriva commented on #1413
Thanks for the report.

[2020-09-10 10:30] athreyapatel opened #1418 "Issue with tutorials/docker-gcplogs-driver/index.md"
Issue Description:
Please add how to change the ADC(Application Default Credentials).
If the default account doesn't provide access i.e. if it doesn't have log.writer access. There is occurance of PermissionDenied error in rpc call.

[2020-09-11 07:58] GraHms opened #1420 "Error during tokenization: 5 NOT_FOUND:"
I'm getting this error

Error during tokenization: 5 NOT_FOUND: The DLP Service Account `service-************@dlp-api.iam.gserviceaccount.com` not found. This service account is automatically created when the DLP API is enabled for a project in the Cloud Console. Assure that the API is enabled in project `10************` and the service account was not deleted. If it was deleted, disable and then

[2020-09-11 13:50] ToddKopriva commented on #1420
The Issues section of this GitHub repository is not the best place to get troubleshooting help for issues like this. It’s for issues regarding documents hosted in this repository.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help o

[2020-09-11 13:50] #1420 closed

[2020-09-11 14:59] ibnujakaria commented on #1413
Hi I got the same error too after following steps on the tutorial.

Here is the error message from google cloud logging:

[code]

[2020-09-11 21:09] ToddKopriva commented on #1418
@tswast , can you have a look at this request about a tutorial that you contributed?

[2020-09-11 21:20] tswast commented on #1418
Are you asking how to set up the correct scopes and IAM permissions on the service account used for the GCE instance? Or are you asking how to set up alternative authentication options?

[2020-09-13 10:33] brucemcpherson opened #1423 "Issue with tutorials/wix-media.md"
Issue Description
Wix media platform seems to no longer exist as a service.

[2020-09-13 11:40] athreyapatel commented on #1418
I am asking about the use of different service account, which is not a default account when creating the instance.
Consider I have a service account with log.writer role, and I want it be used by gcplogs driver to send logs.
I have exported `GOOGLE_APPLICATION_CREDENTIALS="/path/to/key.json"` and I have also tried setting the environment variables for docker daemon like this https://stackoverflow.

[2020-09-14 00:53] ToddKopriva commented on #1423
Thanks, Bruce. I'll look into this.

[2020-09-14 13:46] tswast commented on #1418
I think this is outside of the scope of the article. It's a best practice to avoid the use of service account key files when running on GCE and to instead grant the logs writer role to the service account associated with the instance.

From https://stackoverflow.com/questions/49983216/the-google-cloud-logging-driver-for-docker?noredirect=1&lq=1 . it does appear that `GOOGLE_APPLICATION_CREDENTIALS

[2020-09-14 13:46] #1418 closed

[2020-09-14 19:37] ToddKopriva commented on #1423
Thanks again, @brucemcpherson .

I checked, and Wix Media Platform is no longer available as a service. I archived the three tutorials that describe how to use it.

[2020-09-14 19:37] #1423 closed

[2020-09-14 19:38] #1408 closed

[2020-09-14 19:40] ToddKopriva commented on #1354
@Annie29 , is this issue still active?

[2020-09-19 06:23] camerongreen opened #1432 "Issue with tutorials/drupal-on-compute-engine.md"
This is quite different to https://sendgrid.com/docs/for-developers/sending-email/drupal/ which recommends the sendgrid module.

For example in the sendgrid instructions it says to use your API key as a password.

Anyway I haven't got it working yet so not sure if one or both is right, but just interested in the discrepancy.

I also feel there should be a little more instruction of what to do on t

[2020-09-19 07:13] camerongreen commented on #1432
Actually it seems all of them led me astray.

You need to sign up, and:

-  go into the Email API section
-  select SMTP relay
-  Name key and generate

Then after enabling the SMTP module (I also installed the mailsystem module and told it to use SMTP for sending):
- SMTP Server: smtp.sendgrid.net
- SMTP port: 2525
- Use encrypted protocol: Use TLS
- Enable TLS encryption automatically: On
- User

[2020-09-21 09:02] mms-huma opened #1434 "Issue with tutorials/kotlin-springboot-container-engine.md"
Whole thing seems not to be out of date.
Commands on gcloud changed, the sources are not available anymore ...

[2020-09-23 10:55] RockyDYoung opened #1442 "Issue with tutorials/zero-to-deploy-with-chef.md"
Issue Description

[2020-09-23 12:14] #1442 closed

[2020-09-23 12:14] ToddKopriva commented on #1442
I closed this because the description is empty. Feel free to re-open the issue if youhave information to add.

[2020-09-23 22:43] kingflamez opened #1445 "Issue with tutorials/run-sailsjs-on-google-app-engine.md"
How do you connect to Google CLOUD SQL using Sails

[2020-09-23 22:51] ToddKopriva commented on #1445
The Issues section of this GitHub repository is not the best place to get such questions answered.

I recommend bringing your question to one of the forums described here:
https://cloud.google.com/support/docs/community

Many members of the Google Cloud community---including Google employees and other experts---help out on those forums.

[2020-09-23 22:51] #1445 closed

[2020-09-25 01:07] ToddKopriva commented on #1434
Thanks for the report. I'll have a look.

[2020-09-25 01:08] ToddKopriva commented on #1432
Thanks for the report. I'll have a look.

[2020-09-28 16:47] ToddKopriva commented on #452
This issue is moot now that the style guide doesn't include this table example.

[2020-09-28 16:47] #452 closed

[2020-09-28 16:50] ToddKopriva commented on #1354
I'm closing this issue. Feel free to reopen it or contact me through internal channels if you still have questions.

[2020-09-28 16:50] #1354 closed

[2020-10-01 11:03] Krzysiaczek-at-MasAndPas opened #1455 "Issue with tutorials/docker-compose-on-container-optimized-os CTRL+C doesn't work"
Hi

I followed the instruction. It works with only difference that I had to update the version number to the recent one 1.27.4

The only problem I found is that CTRL+C doesn't work as on localhost to stop containers initiated with docker-compose up.

Thanks

[2020-10-01 11:09] Krzysiaczek-at-MasAndPas commented on #1455
When I login to another instance of the console I can go to the same folder and stop it by running docker-compose stop

[2020-10-01 14:20] ToddKopriva commented on #1455
Thanks for the report. I'll take a look.

[2020-10-02 15:16] APratham commented on #1263
@ToddKopriva Can I work on this? I have been looking for a livestreaming solution on Google Cloud and I have some information on how to build it. Once I have built my own solution, I can publish the tutorial

[2020-10-02 16:03] ToddKopriva commented on #1263
Please do. Thanks for looking into this.

[2020-10-05 16:36] chrisst commented on #1323
@gianluca-sabena thanks for the feedback. I've added an explicit callout for service account roles in https://github.com/GoogleCloudPlatform/community/pull/1461

[2020-10-05 16:54] ToddKopriva commented on #1323
Thanks for the fix, @chrisst .

[2020-10-05 16:56] #1323 closed

[2020-10-06 21:40] whicks1 opened #1463 "max_chars doesn't work in given example"
https://github.com/GoogleCloudPlatform/community/blob/fc28d27927d1e548ce200b31d3a0e59105cb7703/tutorials/speech2srt/speech2srt.py#L72-L76

in the tutorial, charcount won't in most cases, exceed the default character count, because it's looking for long individual words, not long line lengths. I think flipping the two variables and checking the length of content is the intended behavior.

[code]

[2020-10-06 22:27] ToddKopriva commented on #1463
@lepistom , can you have a look at this suggestion regarding your speech2srt tutorial code?

[2020-10-06 22:27] ToddKopriva commented on #1463
@whicks1 , thanks for the report.

[2020-10-07 00:23] cgarrovillo opened #1465 "Issue with tutorials/cloud-functions-twilio-sms/index.md"
# Twilio has an overall new API.

### Consider:
## Changing Auth token insertion to use curried functions on module import
`const twilio = require('twilio');`
to
[code]

## Stop using an Express specific function
[code]
to
[code]

Also see https://github.com/twilio/twilio-node/issues/294

[2020-10-07 00:26] ToddKopriva commented on #1465
Thanks, @cgarrovillo .

If you know what fix needs to be made, we'd welcome you creating a pull request to make the fix, and then we can get it reviewed and merged.

[2020-10-07 13:52] #1361 closed

[2020-10-11 09:17] dmkskd opened #1471 "Issue with tutorials/pubsub-spring-dedup-messages/index.md"
Issue Description: typo in cloning instructions for _pubsub-spring-dedup-messages.git_ repo url and after correcting it, the repo is not found

The following link
`git clone https://github.com.GoogleCloudPlatform/pubsub-spring-dedup-messages.git`

has a '**.**' instead of a '**/**' after github.com

It should be
`git clone https://github.com/GoogleCloudPlatform/pubsub-spring-dedup-messages.git`

N

[2020-10-11 20:29] ToddKopriva commented on #1471
Thanks for the report. I'll look into it.

[2020-10-12 22:03] whicks1 commented on #1463
No problem, good tutorial overall, got me started down a good path, so hope I'm right. Also FWIW, (and I know it's a tutorial, but for posterity sake), the logic of breaking lines on periods and commas is going to have all sorts of odd outlier problems for Mr. Mrs, Dr. \d,\d{3}, etc. Needs some regex, but I'm sure that's overkill for the example.  Cheers.

[2020-10-16 15:45] cgageat commented on #1367
Hello,

I also had the same error today.

When I updated the /var/lib/strongswan/ipsec.conf.inc file, I copied the example line and let the # at the beginning like that:
#include /etc/ipsec.d/gcp.conf

The conf was not loaded. That's why I got those error. When removed the # strongswan was able to create the tunnel

[2020-10-16 16:21] ToddKopriva commented on #1367
Thanks, @cgageat .

[2020-10-16 22:03] anguillanneuf opened #1479 "Issue with tutorials/cloud-functions-async/index.md"
Issue Description: the deployment to Cloud Function kept timing out and the logs don't emit useful information for debugging.

[2020-10-17 07:50] yirehit opened #1480 "Issue with tutorials/compute-quickstart.md"
**node -v**
v10.19.0
**npm -v**
6.14.4

Encountered this error while running **npm install**:

In file included from /usr/include/nodejs/src/node.h:63,
                 from ../src/contextify.cc:1:
/usr/include/nodejs/deps/v8/include/v8.h:685:35: note: ‘class v8::Persistent<v8::Value>’ declared here
  685 | template <class T, class M> class Persistent : public PersistentBase<T> {
      |

[2020-10-19 15:55] will-hill opened #1482 "Issue with tutorials/pci-tokenizer/index.md"
Issue Description - There is a table in this article that says KMS is not Deterministic.  After reading about GCP KMS, it seems KMS is Deterministic and actually has multiple Deterministic options.  Am I missing something?  Thanks for your help ahead of time